{% extends "layout.html" %}


{% block pageTitle %}
Person
{% endblock %}

{% block bodyStart %}
{% block keyDetails %}
{% include "includes/key_details/6_Houghton.html" %}
{% endblock %}
{% endblock %}


{% block beforeContent %}
<a href="/cases/6/probationrecord.html" class="govuk-back-link">Back to probation record</a>
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">
      <!-- <span class="govuk-caption-l">Order performance</span> -->
      ORA Community Order (12 Months)
    </h1>
    <div class="govuk-!-margin-bottom-9">
      <p class="govuk-body">Using violence to secure entry (Criminal Law Act/CJ and Public Order Act) - 19563</p>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0 secondary-text-col">Started</p>
          <p class="govuk-body-l govuk-!-margin-bottom-0"><strong>18 Oct 2019</strong></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0 secondary-text-col">Ends</p>
          <p class="govuk-body-l govuk-!-margin-bottom-0"><strong>17 Oct 2020</strong></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0 secondary-text-col">Time elapsed</p>
          <p class="govuk-body-l govuk-!-margin-bottom-0"><strong>4 months, 9 days</strong></p>
        </div>
      </div>
    </div>


    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m">Requirements</h3>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Requirement</th>
            <th scope="col" class="govuk-table__header">Length</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Alcohol Treatment </td>
            <td class="govuk-table__cell">9 months </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Rehabilitation Activity Requirement (RAR)</td>
            <td class="govuk-table__cell">15 days</td>

          </tr>
        </tbody>
      </table>
    </div>

    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m">Breaches</h3>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Description</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Date</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">SPG Breach Referral - Community Order / SSO</td>
            <td class="govuk-table__cell">Breach initiated</td>
            <td class="govuk-table__cell">25 Feb 2020</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <!-- <tr class="govuk-table__row">
            <td class="govuk-table__cell">SPG Breach Referral - Community Order / SSO</td>
            <td class="govuk-table__cell">Withdrawn</td>
            <td class="govuk-table__cell">09 Dec 2019</td>
            <td class="govuk-table__cell"></td>
          </tr> -->
        </tbody>
      </table>


    </div>

    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m">Appointment attendance </h3>
      <!-- <p class="secondary-text-col">Includes requirement and planned visit appointments up untill today.</p> -->
      <p class="govuk-body">Last attendance: 29 Jan 2020 - ETE Appointment (Attended - Complied)</p>

        <div class="app-card">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third" style="width: 27%;">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-0"><span
                  class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                  Appointments to date </span></h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-0"><span class="app-dashboard-count">35</span><span
                  class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                  </span></h2>
            </div>
          </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
          style="max-width: 727px; border-bottom: 2px solid #000000;">
        <div class="app-card">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third" style="width: 27%;">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><span
                  class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                  Attended</span></h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2" style="margin-bottom: 5px !important;"><span
                  class="app-dashboard-count">22</span><span
                  class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">Complied</span>
              </h2>
              <p class="govuk-body govuk-!-margin-0"><span class="govuk-body app-dashboard-count">11</span>ETE Appointment  </p>
              <p class="govuk-body govuk-!-margin-0"><span class="govuk-body app-dashboard-count">7</span>Planned office visits
              </p>
              <h2 class="govuk-heading-m govuk-!-margin-bottom-0"><span class="app-dashboard-count">0</span><span
                  class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                  Failed to comply</span></h2>
            </div>
          </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="
            max-width: 727px;">
        <div class="app-card">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third" style="width: 27%;">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><span
                  class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                  Absences</span></h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2" style="margin-bottom: 5px !important;"><span
                  class="app-dashboard-count">11</span><span
                  class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                  Acceptable </span></h2>
              <p class="govuk-body govuk-!-margin-0 seo"><span class="govuk-body app-dashboard-count">4</span>Rescheduled
              </p>
              <p class="govuk-body govuk-!-margin-0 seo"><span
                  class="govuk-body app-dashboard-count">4</span>Other</p>
              <p class="govuk-body govuk-!-margin-0 seo"><span class="govuk-body- app-dashboard-count">2</span>Professional judgement decision
              </p>
              <p class="govuk-body govuk-!-margin-0"><span class="govuk-body app-dashboard-count">1</span>Suspended
              </p>
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2" style="margin-bottom: 0 !important;"><span
                  class="app-dashboard-count">2</span><span
                  class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                  Unacceptable </span></h2>
            </div>
          </div>
        </div>



        <!-- <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Last attendance</dt>
          <dd class="govuk-summary-list__value">29 Jan 2020 - ETE Appointment (NS) - Attended - Complied</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Appointments offered</dt>
          <dd class="govuk-summary-list__value">35 </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Appointments attended</dt>
          <dd class="govuk-summary-list__value">22</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Acceptable absences </dt>
          <dd class="govuk-summary-list__value">11</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Unacceptable absences </dt>
          <dd class="govuk-summary-list__value">2</dd>
        </div>
      </dl> -->
    </div>





        <div class="govuk-!-margin-bottom-9">
          <h3 class="govuk-heading-m">Most recent contacts</h3>
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-1">
                    Breach Action - Final warning letter sent
                  </span>
                </h2>
                <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                  Relates to ORA Community Order
                </div>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                aria-labelledby="accordion-default-heading-1">
                <dl class="govuk-summary-list">
                  <!-- <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Relates to </dt>
                <dd class="govuk-summary-list__value">4 - Court - Accredited Programme (Building Better Relationships
                  (BBR)
                </dd>
              </div> -->
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Date</dt>
                    <dd class="govuk-summary-list__value">17 Feb 2020: 09:30</dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Outcome</dt>
                    <dd class="govuk-summary-list__value">- </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Officer </dt>
                    <dd class="govuk-summary-list__value">Smith, Claire </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Notes</dt>
                    <dd class="govuk-summary-list__value">-
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-2">
                    ETE Appointment (NS)
                  </span>
                </h2>
                <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                  Relates to Rehabilitation Activity Requirement (RAR)
                </div>
              </div>
              <div id="accordion-default-content-2" class="govuk-accordion__section-content"
                aria-labelledby="accordion-default-heading-2">
                <dl class="govuk-summary-list">
                  <!-- <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Relates to </dt>
                <dd class="govuk-summary-list__value">4 - Court - Accredited Programme (Building Better Relationships
                  (BBR)
                </dd>
              </div> -->
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Date</dt>
                    <dd class="govuk-summary-list__value">14 Feb 2020 14:30</dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Outcome</dt>
                    <dd class="govuk-summary-list__value">Rescheduled - Offender Request</dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Officer </dt>
                    <dd class="govuk-summary-list__value">Jones, Laura</dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Notes</dt>
                    <dd class="govuk-summary-list__value">
                      <p>CSCS ID waiver</p>
                      <p>----------------------------</p>
                      <p>SMS message sent to 079000000000 on 06/02/2020 11:35:01 has been delivered to the handset.</p>

                      <p>-------------------- Original message --------------------</p>

                      <p>Message:</p>
                      <p>Hi Rhys to confirm our telephone conversation please come to see me tomorrow Friday 7th
                        February at
                        2.30pm so we can sort everything out for your CSCS test. With regards Laura</p>

                      <p>------------------------------------------------------------</p>
                      <p>Sent by: “Jones, Laura”</p>

                      <p>----------------------------</p>
                      <p>called to say he was stuck in Rotherham. I told him my colleague Aisha would call him Monday to
                        make
                        an time for him to come in. he is aware that his CSCS test is Tuesday and that this needs to be
                        sorted
                        before then.</p>
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-3">
                    Phone Contact from Offender
                  </span>
                </h2>
                <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                  Relates to ES - E / T / E TVP (ETE Enhanced Service (Community - MTCN005))
                </div>
              </div>
              <div id="accordion-default-content-3" class="govuk-accordion__section-content"
                aria-labelledby="accordion-default-heading-3">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Date</dt>
                    <dd class="govuk-summary-list__value">14 Feb 2020 14:00 </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Outcome</dt>
                    <dd class="govuk-summary-list__value">- </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Officer </dt>
                    <dd class="govuk-summary-list__value">Jones, Laura</dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Notes</dt>
                    <dd class="govuk-summary-list__value">
                      <p>Rhys called he is stuck in Rotherham and trying tog et a lift back to Sheffield so that he can
                        get
                        in to the office. I have told him to get here by 3.30 as we need to go and sort out photos for
                        his
                        CSCS ID waiver. he is going to do his best. I have told him if he doesnt make it I will ask
                        Aisha to
                        call him on so that he can come in then as he cant take his CSCS test with ID.</p>
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-4">
                    Phone Contact to Offender
                  </span>
                </h2>
                <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                  Relates to ES - E / T / E TVP (ETE Enhanced Service (Community - MTCN005))
                </div>
              </div>
              <div id="accordion-default-content-4" class="govuk-accordion__section-content"
                aria-labelledby="accordion-default-heading-4">
                <dl class="govuk-summary-list">
                  <!-- <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Relates to </dt>
                <dd class="govuk-summary-list__value">4 - Court - Accredited Programme (Building Better Relationships
                  (BBR)
                </dd>
              </div> -->
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Date</dt>
                    <dd class="govuk-summary-list__value">14 Feb 2020 11:36 </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Outcome</dt>
                    <dd class="govuk-summary-list__value">-</dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Officer </dt>
                    <dd class="govuk-summary-list__value">Jones, Laura </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Notes</dt>
                    <dd class="govuk-summary-list__value">
                      <p>called Rhys re CSCS test, he does not have ID so I have told him to come to see me tomorrow at
                        2.30pm so that we can get this in place before his test</p>
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-4">
                    Breach Action - Second Warning Letter Sent
                  </span>
                </h2>
                <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                  Relates to ORA Community Order
                </div>
              </div>
              <div id="accordion-default-content-4" class="govuk-accordion__section-content"
                aria-labelledby="accordion-default-heading-4">
                <dl class="govuk-summary-list">
                  <!-- <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Relates to </dt>
                <dd class="govuk-summary-list__value">4 - Court - Accredited Programme (Building Better Relationships
                  (BBR)
                </dd>
              </div> -->
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Date</dt>
                    <dd class="govuk-summary-list__value">10 Feb 2020 18:30 </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Outcome</dt>
                    <dd class="govuk-summary-list__value">-</dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Officer </dt>
                    <dd class="govuk-summary-list__value">Smith, Claire </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Notes</dt>
                    <dd class="govuk-summary-list__value">
                      -
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </div>
          <p class="govuk-body"><a href="#">View full contact list (opens in nDelius)</a></p>

        </div>



      </div>

      <div class="govuk-grid-column-one-third">
      </div>



    </div>




    {% endblock %}