{% extends "layout.html" %}


{% block pageTitle %}
licence conditions details
{% endblock %}

{% block bodyStart %}
{% block keyDetails %}
{% include "includes/key_details/3_Edwards.html" %}
{% endblock %}
{% endblock %}


{% block beforeContent %}
<a href="/cases/3/probationrecord/event1.html" class="govuk-back-link">Back to order summary</a>
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">
      Licence conditions details
    </h1>

    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m">Curfew Arrangement</h3>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Licence condition subtype
          </dt>
          <dd class="govuk-summary-list__value">
            Confine yourself to remain at [CURFEW ADDRESS] initially from [START OF CURFEW HOURS] until [END OF CURFEW
            HOURS] each day, and, thereafter, for such a period as may be reasonably notified to you by your supervising
            officer; & comply with such arrangements as may be reasonably put in place & notified to you by your
            supervising officer so as to allow for your whereabouts & your compliance with your curfew reqt.be
            monitored[WHETHER BY ELECT. MEANS INVOLVING YOUR WEARING AN ELECT. TAG OR OTHERWISE]
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Start date
          </dt>
          <dd class="govuk-summary-list__value">
            4 January 2020
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Notes
          </dt>
          <dd class="govuk-summary-list__value">
            -
          </dd>
        </div>
      </dl>
    </div>

    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m">Participate or co-op with Programme or Activities</h3>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Licence condition subtype
          </dt>
          <dd class="govuk-summary-list__value">
            To comply with any requirements specified by your supervising officer for the purpose of ensuring that you
            address your alcohol / drug / sexual / violent / gambling / solvent abuse / anger / debt / prolific /
            offending behaviour problems at the [NAME OF COURSE / CENTRE].
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Start date
          </dt>
          <dd class="govuk-summary-list__value">
            4 January 2020
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Notes
          </dt>
          <dd class="govuk-summary-list__value">
            -
          </dd>
        </div>
      </dl>


    </div>






  </div>

  <div class="govuk-grid-column-one-third">
  </div>



</div>




{% endblock %}