{% extends "layout-main.html" %}


{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}
<div class="govuk-width-container">
<a href="/cases/11/assign-report-writer.html" style="margin-bottom: 0;" class="govuk-back-link">Back</a>
</div>
{% block keyDetails %}
{% include "includes/key_details/11_Hart-new-no-record.html" %}
{% endblock %}


{% endblock %}


{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">



    <div class="govuk-width-container">



            <h1 class="govuk-heading-l">Review and submit oral pre-sentence report request</h1>

            <h2 class="govuk-heading-m">Personal details</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name
                </dt>
                <dd class="govuk-summary-list__value">
                  Gary Hart
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Gender
                </dt>
                <dd class="govuk-summary-list__value">
                  Male
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> gender</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                  22 December 2000
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> date of birth</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Phone number
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">07123 123456</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> contact number</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Address
                </dt>
                <dd class="govuk-summary-list__value">
                  22 Crombie Street<br>Sheffield<br>S68 4EY
          </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> address</span>
                  </a>
                </dd>
              </div>
            </dl>

            <h2 class="govuk-heading-m">Report details</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Sentencing court
                </dt>
                <dd class="govuk-summary-list__value">
                  Sheffield Magistrates' Court
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="request1">
                    Change<span class="govuk-visually-hidden"> court</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Main offence
                </dt>
                <dd class="govuk-summary-list__value">
                  Common assault and battery
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="request1">
                    Change<span class="govuk-visually-hidden"></span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Offence date
                </dt>
                <dd class="govuk-summary-list__value">
                  15 February 2021
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="request1">
                    Change<span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Convicted on
                </dt>
                <dd class="govuk-summary-list__value">
                  24 February 2022
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="request1">
                    Change<span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Report required by
                </dt>
                <dd class="govuk-summary-list__value">
                  24 February 2022
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="request1">
                    Change<span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Plea
                </dt>
                <dd class="govuk-summary-list__value">
                  Guilty
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="request1">
                    Change<span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Remand status
                </dt>
                <dd class="govuk-summary-list__value">
                  Unconditional bail
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="request1">
                    Change<span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Notes
                </dt>
                <dd class="govuk-summary-list__value">
                  No notes entered
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="request1">
                    Change<span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div>
            </dl>

<!-- <h2 class="govuk-heading-m">Interview details</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Interview date and time
                </dt>
                <dd class="govuk-summary-list__value">
                  24 February 2022 at 12:30pm
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="request1">
                    Change<span class="govuk-visually-hidden"> court</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Interview type
                </dt>
                <dd class="govuk-summary-list__value">
                  Phone - 07123 123456
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="request1">
                    Change<span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Interpreter required
                </dt>
                <dd class="govuk-summary-list__value">
                  No
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="request1">
                    Change<span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div>
            </dl> -->

            <h2 class="govuk-heading-m">Share request with a colleague</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Email address
                </dt>
                <dd class="govuk-summary-list__value">
                  bob.smith@justice.gov.uk
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="request1">
                    Change<span class="govuk-visually-hidden"></span>
                  </a>
                </dd>
              </div>
            </dl>

            <h2 class="govuk-heading-m">An NDelius record will be created for Gary Hart</h2>

            <p class="govuk-body">As the defendant does not have an existing record, an NDelius record will be created when you submit this pre-sentence report request.</p>

            <form action="/form-handler" method="post" novalidate>

              <input type="hidden" name="answers-checked" value="true">

          <a href="summary-success" role="button" draggable="false" class="govuk-button" style="margin: 10px 0 0;" data-module="govuk-button">Submit report request</a>

            </form>

          </div>
        </div>

    </div>




    </div>

</div>


{% endblock %}
