{% extends "layout-main.html" %}


{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}
<div class="govuk-width-container">
<a href="/cases/11/summary.html" style="margin-bottom: 0;" class="govuk-back-link">Back</a>
</div>
{% block keyDetails %}
{% include "includes/key_details/11_Hart-current.html" %}
{% endblock %}


{% endblock %}


{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">



    <div class="govuk-width-container">



            <h1 class="govuk-heading-l">Create an oral pre-sentence report</h1>
<p class="govuk-body">You are updating Gary Hart's NDelius record and creating a report for a writer to complete.</p>
            <h2 class="govuk-heading-m">Report details</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-6">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Sentencing court
                </dt>
                <dd class="govuk-summary-list__value">
                  Sheffield Magistrates' Court
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="request1">
                    Change<span class="govuk-visually-hidden"> court</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Main offence
                </dt>
                <dd class="govuk-summary-list__value">
                  Common assault and battery
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="request1">
                    Change<span class="govuk-visually-hidden"></span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Offence date
                </dt>
                <dd class="govuk-summary-list__value">
                  15 February 2021
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="request1">
                    Change<span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Convicted on
                </dt>
                <dd class="govuk-summary-list__value">
                  24 February 2022
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="request1">
                    Change<span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Report required by
                </dt>
                <dd class="govuk-summary-list__value">
                  24 February 2022
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="request1">
                    Change<span class="govuk-visually-hidden"> </span>
                  </a>
                </dd>
              </div>
    </dl>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h2 class="govuk-heading-m">Plea</h2>
        </legend>
        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="plea" name="plea" type="radio" value="yes" data-aria-controls="plea-contact">
            <label class="govuk-label govuk-radios__label" for="contact">
              Guilty
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="plea-2" name="plea" type="radio" value="No" data-aria-controls="plea-contact-2">
            <label class="govuk-label govuk-radios__label" for="plea-2">
              Not guilty
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="plea-3" name="plea" type="radio" value="No" data-aria-controls="plea-contact-3">
            <label class="govuk-label govuk-radios__label" for="plea-3">
              Mixed
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="plea-4" name="plea" type="radio" value="No" data-aria-controls="plea-contact-4">
            <label class="govuk-label govuk-radios__label" for="plea-4">
              Not known
            </label>
          </div>
        </div>

      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h2 class="govuk-heading-m">Remand status</h2>
        </legend>
        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="Remand" name="Remand" type="radio" value="yes" data-aria-controls="Remand-contact">
            <label class="govuk-label govuk-radios__label" for="contact">
              Unconditional bail
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="Remand-2" name="Remand" type="radio" value="No" data-aria-controls="Remand-contact-2">
            <label class="govuk-label govuk-radios__label" for="Remand-2">
             Conditional bail
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="Remand-3" name="Remand" type="radio" value="No" data-aria-controls="Remand-contact-3">
            <label class="govuk-label govuk-radios__label" for="Remand-3">
              Remanded in custody
            </label>
          </div>
        </div>

      </fieldset>
    </div>

            <form action="/form-handler" method="post" novalidate>

              <input type="hidden" name="answers-checked" value="true">

          <a href="summary-success" role="button" draggable="false" class="govuk-button" style="margin: 10px 0 0;" data-module="govuk-button">Create report</a>

            </form>

          </div>
        </div>

    </div>




    </div>

</div>


{% endblock %}
