{% extends "layout.html" %}


{% block pageTitle %}
Probation record
{% endblock %}

{% block bodyStart %}
<div class="govuk-width-container">
<a href="/cases/day/2021-11-11/case-list" style="margin-bottom: 0;" class="govuk-back-link">Back to cases</a>
</div>

{% block keyDetails %}
{% include "includes/key_details/11_Hart-new-presentence.html" %}
{% endblock %}
{% endblock %}





{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="/cases/11/summary.html">Case summary</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page" href="/cases/11/probationrecord.html">Probation
            record</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="/cases/11/risk.html">Risk register</a>
        </li>
      </ul>

    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Probation record</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-!-margin-bottom-6">
      <h2 class="govuk-heading-m">Oral pre-sentence report requested</h2>
          <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-0">
            Common assault and battery - 80200
          </p>
          <p class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-4">Offence committed
            on 15 February 2021</p>

          <p class="govuk-body govuk-!-font-weight-bold">Report requested
            on 24 February 2022</p>

          <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Requested by
              </dt>
              <dd class="govuk-summary-list__value">
                Mark Berridge
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Required by
              </dt>
              <dd class="govuk-summary-list__value">
                24 February 2022
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Interview details
              </dt>
              <dd class="govuk-summary-list__value">
                12:30pm on 24 February 2022
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              </dt>
              <dd class="govuk-summary-list__value">
                Phone - 07123 123456
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Notes
              </dt>
              <dd class="govuk-summary-list__value">
              No notes entered
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Status
              </dt>
              <dd class="govuk-summary-list__value">

                  Incomplete

              </dd>
            </div>
        </dl>
          <a href="start-psr" role="button" draggable="false" class="govuk-button" style="margin: 5px 0 0;" data-module="govuk-button">Start oral pre-sentence report</a>







    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="max-width: 727px;">
    <h2 class="govuk-heading-m">
      Current orders <span class="secondary-text-col">(1)</span>
    </h2>
    <div class="current-order-wrapper">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="probationrecord/event1.html">ORA Community Order
          (12 Months)</a></h3>
      <p class="govuk-body  govuk-!-margin-bottom-1">Dangerous driving/Aid, abet cause or permit reckless driving -
        80200</p>
      <p class="govuk-body">Started on 18 May 2021</p>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-padding-top-0">Requirements</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Rehabilitation Activity Requirement (RAR) – 10 days</li>
        <li>Unpaid Work - Regular – 100 Hours</li>
      </ul>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="max-width: 727px;">
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">
      Offender manager </h2>
    <p class="govuk-body">John Smith <br><span class="secondary-text-col">Allocated on 19 May 2021</span></p>
    <p>
      Provider: CPA South Yorkshire<br>
      LDU: Rotherham<br>
      Team: Rotherham LMC<br>
    </p>

    <p>Team telephone: 0114 123 0000</p>

    <h2 class="govuk-heading-m">Last pre-sentence report </h2>
    <p class="govuk-body">Pre-Sentence Report - Oral<br><span class="secondary-text-col">Delivered more than 6 months ago (18 May 2021)
      </span></p>

    <h2 class="govuk-heading-m">Last OASys assessment </h2>
    <p class="govuk-body">OASys Assessment Layer 3<br><span class="secondary-text-col">Completed on 24 May 2021</p>

  </div>


</div>

</div>


{% endblock %}
