{% extends "layout.html" %}


{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/key_details/11_Hart.html" %}
{% endblock %}


{% endblock %}


{% block beforeContent %}
<a href="/cases/11/start-psr" style="margin-bottom: 0;" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Allocate to a report writer</h1>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                    <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                        Leave unallocated
                    </label>
                  </div>
                  <div class="govuk-radios__divider">or</div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
              Bob Burnquist
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
              Bucky Lasek
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-6" name="where-do-you-live" type="radio" value="abroad">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-6">
              Tony Hawk
            </label>
          </div>


          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-6" name="where-do-you-live" type="radio" value="abroad">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-6">
              Elissa Steamer
            </label>
          </div>


        </div>

      </fieldset>
    </div>


    <a href="check-answers" role="button" draggable="false" class="govuk-button" style="margin: 10px 0 0;" data-module="govuk-button">Save and continue</a>
  </div>


        </div>


    </div>


</div>


{% endblock %}
