{% extends "layout.html" %}


{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/key_details/5_Hill.html" %}
{% endblock %}


{% endblock %}


{% block beforeContent %}
<!-- <a href="/cases" class="govuk-back-link">Back</a> -->
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page" href="/cases/5/summary.html">Case summary</a>
        </li>
      </ul>
      </ul>

    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Case summary</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-!-margin-bottom-8">
      <h2 class="govuk-heading-m">Appearance</h2>
      <p class="govuk-body">Court 1, morning session, Wednesday 1 July (2nd listing).</p>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">Supporting information</h2>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            CPS pack
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Available in CourtStore</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/cases/5/cps">
              View<span class="govuk-visually-hidden"> CPS pack</span>
            </a>
          </dd>
        </div>
      </dl>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-!-margin-bottom-8">

      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Offences</h2>

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-1">
                Fail to provide specimen for analysis - vehicle driver
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-1">
            <p class='govuk-body'>On Tuesday 7-June-2020 at Red lane, Sheffield when suspected of having driven a
              vehicle and having been required to provide a specimen or specimens of breath for analysis by means of a
              device type approved by the secretary of state pursuant to section 3a, 4, or 5a thereof, failed, without
              reasonable excuse to do so. </p>
            <p class="govuk-body secondary-text-col">Contrary to section 7(6) of the Road Traffic Act 1988 and Schedule
              2 to the Road Traffic Offenders Act 1988. </p>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-2">
                Drive a motor vehicle otherwise than in accordance with a license - endorsable offence
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-2">
            <p class='govuk-body'>On Tuesday 7 June 2020 at Red lane, Sheffield drove a motor vehicle, namely
              Kawazaki Vroom A103 ZZZ on a road, namely Red lane, Sheffield otherwise than in accordance with a licence
              authorising you to drive a motor vehicle of that class </p>
            <p class="govuk-body secondary-text-col">Contrary to section 87(1) of the Road Traffic Act 1988 and Schedule
              2 to the Road Traffic Offenders Act 1988 </p>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-3">
                Use a motor vehicle on a road / public place without third party insurance
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-3">
            <p class='govuk-body'>On Tuesday 7 June 2020 at Red lane, Sheffield used a motor vehicle namely Kawazaki
              Vroom A103 ZZZ on a road, or other public place, namely Red lane, Sheffield ,when there was not in force
              in relation to that use such a policy of insurance or such a security in respect of third party risks as
              complied with the requirements of part VI of the road traffic act 1988</p>
            <p class="govuk-body secondary-text-col">Contrary to section 143 of the Road Traffic Act 1988 and Schedule 2
              to the Road Traffic Offenders Act 1988 </p>
          </div>
        </div>
      </div>

    </div>




    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">
        Personal details
      </h2>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Aiden Hill
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Gender
          </dt>
          <dd class="govuk-summary-list__value">
            Male
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            1 April 1983 (28 years old)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Nationality
          </dt>
          <dd class="govuk-summary-list__value">
            British
          </dd>
        </div>
      </dl>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">
        Contact details
      </h2>
      <p class="govuk-body"><a href="/cases/5/contactdetails">Edit contact details</a></p>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            55 Bishop Gate<br>Sheffield<br>S1 2BB
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            aiden.hill@example.com
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Telephone number 
          </dt>
          <dd class="govuk-summary-list__value">
            07987 654 321
          </dd>
        </div>
      </dl>
    </div>



  </div>
  <div class="govuk-grid-column-one-third">
    <!-- <h2 class="govuk-heading-m">CPS pack</h2>
    <p class="govuk-body"><a href="#">View CPS pack (opens in Court Store)</a></p> -->
    <h2 class="govuk-heading-m">Recent case activity</h2>
    <div class="timeline">
      <ul>
        <li>
          <h2 class="timeline__title">Case adjourned</h2>
          <p class="timeline__meta">
            <time>24 April 2020 at 6:00 pm</time>
          </p>
          <p>1st listing adjourned on 24 June 2020 for a pre-sentence report.</p>
        </li>
      </ul>
    </div>
  </div>



</div>
</div>


{% endblock %}