{% extends "layout.html" %}


{% block pageTitle %}
Absolute/Conditional Discharge (8 Months)
{% endblock %}

{% block bodyStart %}
{% block keyDetails %}
{% include "includes/key_details/6_Houghton.html" %}
{% endblock %}
{% endblock %}


{% block beforeContent %}
<a href="/cases/6/probationrecord.html" class="govuk-back-link">Back to probation record</a>
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">
      Absolute/Conditional Discharge (8 Months)
    </h1>
    <div class="govuk-!-margin-bottom-9">
      <p class="govuk-body">Causing intentional harassment, alarm or distress (Public Order Act 1986/CJ & PO Act 1994) - 12509</p>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0 secondary-text-col">Started</p>
          <p class="govuk-body-l govuk-!-margin-bottom-0"><strong>29 October 2019</strong></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0 secondary-text-col">Ended</p>
          <p class="govuk-body-l govuk-!-margin-bottom-0"><strong>29 October 2019</strong></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0 secondary-text-col">Reason</p>
          <p class="govuk-body-l govuk-!-margin-bottom-0"><strong>Auto Terminated</strong></p>
        </div>
      </div>
    </div>
    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m">Contacts</h3>
      <p class="govuk-body"><a href="#">View contact list (opens in nDelius)</a></p>
    </div>
  </div>
</div>
</div>
{% endblock %}
