<div class="moj-scrollable-pane">
  <div class="moj-scrollable-pane__wrapper">
    <table class="govuk-table govuk-table-xl">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row govuk-table__row">
          <th scope="col" class="govuk-table__header custom-defendant-width" aria-sort="none">Defendant</th>
          <th scope="col" class="govuk-table__header custom-delius-record-width" aria-sort="none">Probation
            status
          </th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Offence</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Listing</th>
          <th scope="col" class="govuk-table__header custom-session-width" aria-sort="none">Session</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Court</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="" class="govuk-link--no-visited-state">
              Naomi Cunningham
            </a>
          </td>
          <td class="govuk-table__cell">Current</td>
          <td class="govuk-table__cell">
            Arrest by a constable for breaking / likely to break bail conditions - duty to surrender into the custody of a court
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li class="govuk-!-margin-bottom-1">1st </li>
              <!-- <li class="secondary-text-col">Adjourned from 20 Nov 2019, for a pre-sentence report to be prepared</li> -->
            </ul>
          </td>
          <td class="govuk-table__cell">Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="" class="govuk-link--no-visited-state">
              Džiugas Atraskevicius
            </a>
          </td>
          <td class="govuk-table__cell">Current</td>
          <td class="govuk-table__cell">
            <ol>
            <li>Theft from a shop or stall</li>
            <li>Possess knife blade / sharp pointed article in a public place - Criminal Justice Act 1988</li>
          </ol>
          </td>
          <td class="govuk-table__cell">1st </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">2</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="" class="govuk-link--no-visited-state">
              Spencer Gill
            </a>
          </td>
          <td class="govuk-table__cell">No record</span>
          <td class="govuk-table__cell">Robbery</td>
          <td class="govuk-table__cell">1st </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">2</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="" class="govuk-link--no-visited-state">
              Joshua Kennedy
            </a>
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li class="govuk-!-margin-bottom-1">Previously known</li>
              <li class="secondary-text-col">Order ended 05 Jan 2018</li>
            </ul>
          </td>
          <td class="govuk-table__cell">Theft from a motor vehicle</td>
          <td class="govuk-table__cell">1st </td>
          <td class="govuk-table__cell">Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">2</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="" class="govuk-link--no-visited-state">
              Robert John Stewart
            </a>
          </td>
          <td class="govuk-table__cell">
            No record
          </td>
          <td class="govuk-table__cell">
            <ol>
              <li>Conspire to supply a class A controlled drug - heroin</li>
              <li>Conspire to supply a class A controlled drug - crack cocaine</li>
            </ol>
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li class="govuk-!-margin-bottom-1">1st</li>
              <!-- <li class="secondary-text-col">Adjourned from 18 Nov 2019, non-standard reason: [1]</li> -->
            </ul>
          </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">2</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="" class="govuk-link--no-visited-state">
              Benjamin Dawson
            </a>
          </td>
          <td class="govuk-table__cell">
            </span>No record
          </td>
          <td class="govuk-table__cell">
            <ol>
              <li>Appearance to make statutory declaration (SJP case)</li>
              <li>Fail to give information relating to the identification of the driver / rider of a vehicle when required</li>
            </ol>
          </td>
          <td class="govuk-table__cell">1st </td>
          <td class="govuk-table__cell"> Afternoon</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">6</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>