<!-- <div class="moj-scrollable-pane">
  <div class="moj-scrollable-pane__wrapper"> -->
  <table class="govuk-table case-list-table govuk-table-xl">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row govuk-table__row">
          <th scope="col" class="govuk-table__header custom-defendant-width" aria-sort="none">Defendant (CRN)</th>
          <th scope="col" class="govuk-table__header custom-delius-record-width" aria-sort="none">Probation
            status
          </th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Offence</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Listing</th>
          <th scope="col" class="govuk-table__header custom-session-width" aria-sort="none">Session</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Court</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/1/summary.html" class="govuk-link govuk-link--no-visited-state">
              <strong>Dylan Adam Armstrong</strong>
            </a>
            <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0">V654123</span>
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li class="govuk-!-margin-bottom-1">Current</li>
              <!-- <li class="secondary-text-col">Order ended 24 Nov 2016</li> -->
            </ul>
          </td>
          <td class="govuk-table__cell">Common assault and battery</td>
          <td class="govuk-table__cell">1st </td>
          <td class="govuk-table__cell">Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456" class="govuk-link govuk-link--no-visited-state">
              <strong>Tony Davis</strong>
            </a>
            <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0">B948574</span>
          </td>
    <td class="govuk-table__cell">Previously known<span data-cy="previously-known-termination-date" class="govuk-caption-m">Order ended 5 July 2019</span></td>
          <td class="govuk-table__cell">
            <ol>
              <li>Possess a class C controlled drug</li>
              <li>Possess a controlled drug of Class A - heroin</li>
            </ol>
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li class="govuk-!-margin-bottom-1">2nd</li>
              <!-- <li class="secondary-text-col">Adjourned from 18 Nov 2019, non-standard reason: [1]</li> -->
            </ul>
          </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/3/summary.html" class="govuk-link govuk-link--no-visited-state">
              <strong>Andrei Edwards</strong>
            </a>
            <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0">DX1234FF</span>
          </td>
          <td class="govuk-table__cell">Current</td>
          <td class="govuk-table__cell">Use threatening / abusive / insulting words / behaviour with intent to cause fear of / provoke unlawful violence</td>
          <td class="govuk-table__cell">1st </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/4/summary.html" class="govuk-link govuk-link--no-visited-state">
              <strong>Hannah Francis
            </a>
            <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0">X664857</span>
          </td>
          <td class="govuk-table__cell"><div><span class="moj-badge moj-badge--black pac-badge">Psr</span></div>Previously known<span data-cy="previously-known-termination-date" class="govuk-caption-m">Order ended 27 October 2019</span></td>
          <td class="govuk-table__cell">Drive motor vehicle when alcohol level above limit</td>
          <td class="govuk-table__cell">1st </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/5/summary.html" class="govuk-link govuk-link--no-visited-state">
              <strong>Aiden Hill</strong>
            </a>
          </td>
          <td class="govuk-table__cell">
            No record</td>
          <td class="govuk-table__cell">
            <ol>
              <li>Fail to provide specimen for analysis - vehicle driver</li>
              <li>Drive a motor vehicle otherwise than in accordance with a license - endorsable offence</li>
              <li>Use a motor vehicle on a road / public place without third party insurance</li>
            </ol>
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li class="govuk-!-margin-bottom-1">2nd </li>
              <!-- <li class="secondary-text-col">Adjourned from 20 Nov 2019, for a pre-sentence report to be prepared</li> -->
            </ul>
          </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/6/summary.html" class="govuk-link govuk-link--no-visited-state">
              <strong>Rhys John Houghton</strong>
            </a>
            <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0">DX12340X</span>
          </td>
<td class="govuk-table__cell"><div><span class="moj-badge moj-badge--black pac-badge">Breach</span></div>Current</td>
          <td class="govuk-table__cell">Attempt theft from shop</td>
          <td class="govuk-table__cell">1st </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456" class="govuk-link govuk-link--no-visited-state">
              <strong>Klara McDonald</strong>
            </a>
          </td>
        <td class="govuk-table__cell"><div><span class="moj-badge moj-badge--red pac-badge">Possible NDelius Record</span></div></td>
          <td class="govuk-table__cell">Common assault and battery</td>
          <td class="govuk-table__cell">1st </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456" class="govuk-link govuk-link--no-visited-state">
              <strong>Ava Ryan</strong>
            </a>
            <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0">F847388</span>
          </td>
          <td class="govuk-table__cell">
            <!-- <span class="moj-badge-wrapper">
              <span class="moj-badge moj-badge--black">Breach</span>
              <span class="moj-badge moj-badge--black">Sso</span>
            </span> -->
            Current</td>
          <td class="govuk-table__cell">Sexual assault on a male</td>
          <td class="govuk-table__cell">1st </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/11/summary" class="govuk-link govuk-link--no-visited-state">
              <strong>Gary Hart</strong>
            </a>
            <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0">X457242</span>
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li class="">Current</li>

            </ul>

          </td>
          <td class="govuk-table__cell">
            Common assault and battery</td>
          <td class="govuk-table__cell">
            <ul>
              <li class="govuk-!-margin-bottom-1">1st </li>
              <!-- <li class="secondary-text-col">Adjourned from 20 Nov 2019, to attend or warrant to issue</li> -->
            </ul>
          </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/10/summary.html" class="govuk-link govuk-link--no-visited-state">
              <strong>Naomi Thornton</strong>
            </a>
            <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0">J478183</span>
          </td>
<td class="govuk-table__cell">Previously known<span data-cy="previously-known-termination-date" class="govuk-caption-m">Order ended 24 November 2016</span></td>
          <td class="govuk-table__cell">
            Arrest by a constable for breaking / likely to break bail conditions - duty to surrender into the custody of a court
          </td>
          <td class="govuk-table__cell">
            1st
          </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456" class="govuk-link govuk-link--no-visited-state">
              <strong>Declan Dennis Bradley</strong>
            </a>
          </td>
          <td class="govuk-table__cell">No record</td>
          <td class="govuk-table__cell">
            <ol>
              <li>Obstruct/resist a constable in execution of duty</li>
              <li>Use a handheld mobile phone / device while drivng a motor vehicle on a road - endorsable
                offence
              </li>
              <li>Use a motor vehicle on a road / public place without third party insurance</li>
              <li>Drive a motor vehicle otherwise than in accordance with a licence - endorsable offence</li>
            </ol>
          </td>
          <td class="govuk-table__cell">1st </td>
          <td class="govuk-table__cell">Afternoon</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">1</td>
        </tr>
        <tr class="govuk-table__row govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456" class="govuk-link govuk-link--no-visited-state">
              <strong>Noah Harvey</strong>
            </a>
          </td>
          <td class="govuk-table__cell">
            <!-- <span class="moj-badge moj-badge--red">duplicate records</span> -->
            No record
          </td>
          <td class="govuk-table__cell">
            <ol>
              <li>Possess a controlled drug of Class B - Amphetamine</li>
              <li>Drunk and disorderly in a public place</li>
            </ol>
          </td>
          <td class="govuk-table__cell">1st </td>
          <td class="govuk-table__cell">Afternoon</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/9/limited-access.html" class="govuk-link govuk-link--no-visited-state">
              <strong>Zane Harris Smith</strong>
            </a>
            <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0">C445638</span>
          </td>
          <td class="govuk-table__cell">Previously known<span data-cy="previously-known-termination-date" class="govuk-caption-m">Order ended 22 June 2019</span></td>
          <td class="govuk-table__cell">Possess a class C controlled drug</td>
          <td class="govuk-table__cell">1st</td>
          <td class="govuk-table__cell">Afternoon</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/1/summary.html" class="govuk-link govuk-link--no-visited-state">
              <strong>Dylan Adam Armstrong</strong>
            </a>
            <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0">V654123</span>
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li class="govuk-!-margin-bottom-1">Current</li>
              <!-- <li class="secondary-text-col">Order ended 24 Nov 2016</li> -->
            </ul>
          </td>
          <td class="govuk-table__cell">Common assault and battery</td>
          <td class="govuk-table__cell">1st </td>
          <td class="govuk-table__cell">Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456" class="govuk-link govuk-link--no-visited-state">
              <strong>Tony Davis</strong>
            </a>
            <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0">B948574</span>
          </td>
        <td class="govuk-table__cell">Previously known<span data-cy="previously-known-termination-date" class="govuk-caption-m">Order ended 5 July 2019</span></td>
          <td class="govuk-table__cell">
            <ol>
              <li>Possess a class C controlled drug</li>
              <li>Possess a controlled drug of Class A - heroin</li>
            </ol>
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li class="govuk-!-margin-bottom-1">2nd</li>
              <!-- <li class="secondary-text-col">Adjourned from 18 Nov 2019, non-standard reason: [1]</li> -->
            </ul>
          </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/3/summary.html" class="govuk-link govuk-link--no-visited-state">
              <strong>Andrei Edwards</strong>
            </a>
            <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0">DX1234FF</span>
          </td>
          <td class="govuk-table__cell">Current</td>
          <td class="govuk-table__cell">Use threatening / abusive / insulting words / behaviour with intent to cause fear of / provoke unlawful violence</td>
          <td class="govuk-table__cell">1st </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/4/summary.html" class="govuk-link govuk-link--no-visited-state">
              <strong>Hannah Francis
            </a>
            <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0">X664857</span>
          </td>

          <td class="govuk-table__cell"><div><span class="moj-badge moj-badge--black pac-badge">Psr</span></div>Previously known<span data-cy="previously-known-termination-date" class="govuk-caption-m">Order ended 27 October 2019</span></td>
          <td class="govuk-table__cell">Drive motor vehicle when alcohol level above limit</td>
          <td class="govuk-table__cell">1st </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/5/summary.html" class="govuk-link govuk-link--no-visited-state">
              <strong>Aiden Hill</strong>
            </a>
          </td>
          <td class="govuk-table__cell">
            No record</td>
          <td class="govuk-table__cell">
            <ol>
              <li>Fail to provide specimen for analysis - vehicle driver</li>
              <li>Drive a motor vehicle otherwise than in accordance with a license - endorsable offence</li>
              <li>Use a motor vehicle on a road / public place without third party insurance</li>
            </ol>
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li class="govuk-!-margin-bottom-1">2nd </li>
              <!-- <li class="secondary-text-col">Adjourned from 20 Nov 2019, for a pre-sentence report to be prepared</li> -->
            </ul>
          </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/6/summary.html" class="govuk-link govuk-link--no-visited-state">
              <strong>Rhys John Houghton</strong>
            </a>
            <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0">DX12340X</span>
          </td>
    <td class="govuk-table__cell"><div><span class="moj-badge moj-badge--black pac-badge">Breach</span></div>Current</td>
          <td class="govuk-table__cell">Attempt theft from shop</td>
          <td class="govuk-table__cell">1st </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456" class="govuk-link govuk-link--no-visited-state">
              <strong>Klara McDonald</strong>
            </a>
          </td>
        <td class="govuk-table__cell"><div><span class="moj-badge moj-badge--red pac-badge">Possible NDelius Record</span></div></td>
          <td class="govuk-table__cell">Common assault and battery</td>
          <td class="govuk-table__cell">1st </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456" class="govuk-link govuk-link--no-visited-state">
              <strong>Ava Ryan</strong>
            </a>
            <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0">F847388</span>
          </td>
          <td class="govuk-table__cell">
            <!-- <span class="moj-badge-wrapper">
              <span class="moj-badge moj-badge--black">Breach</span>
              <span class="moj-badge moj-badge--black">Sso</span>
            </span> -->
            Current</td>
          <td class="govuk-table__cell">Sexual assault on a male</td>
          <td class="govuk-table__cell">1st </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456" class="govuk-link govuk-link--no-visited-state">
              <strong>Vinnie Robert Sanderson</strong>
            </a>
            <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0">K8446384</span>
          </td>
<td class="govuk-table__cell">Previously known<span data-cy="previously-known-termination-date" class="govuk-caption-m">Order ended 7 August 2019</span></td>
          <td class="govuk-table__cell">
            Assault by beating of an emergency worker</td>
          <td class="govuk-table__cell">
            <ul>
              <li class="govuk-!-margin-bottom-1">2nd </li>
              <!-- <li class="secondary-text-col">Adjourned from 20 Nov 2019, to attend or warrant to issue</li> -->
            </ul>
          </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/10/summary.html" class="govuk-link govuk-link--no-visited-state">
              <strong>Naomi Thornton</strong>
            </a>
            <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0">J478183</span>
          </td>
    <td class="govuk-table__cell">Previously known<span data-cy="previously-known-termination-date" class="govuk-caption-m">Order ended 24 November 2016</span></td>
          <td class="govuk-table__cell">
            Arrest by a constable for breaking / likely to break bail conditions - duty to surrender into the custody of a court
          </td>
          <td class="govuk-table__cell">
            1st
          </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456" class="govuk-link govuk-link--no-visited-state">
              <strong>Declan Dennis Bradley</strong>
            </a>
          </td>
          <td class="govuk-table__cell">No record</td>
          <td class="govuk-table__cell">
            <ol>
              <li>Obstruct/resist a constable in execution of duty</li>
              <li>Use a handheld mobile phone / device while drivng a motor vehicle on a road - endorsable
                offence
              </li>
              <li>Use a motor vehicle on a road / public place without third party insurance</li>
              <li>Drive a motor vehicle otherwise than in accordance with a licence - endorsable offence</li>
            </ol>
          </td>
          <td class="govuk-table__cell">1st </td>
          <td class="govuk-table__cell">Afternoon</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">1</td>
        </tr>
        <tr class="govuk-table__row govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456" class="govuk-link govuk-link--no-visited-state">
              <strong>Noah Harvey</strong>
            </a>
          </td>
          <td class="govuk-table__cell">
            <!-- <span class="moj-badge moj-badge--red">duplicate records</span> -->
            No record
          </td>
          <td class="govuk-table__cell">
            <ol>
              <li>Possess a controlled drug of Class B - Amphetamine</li>
              <li>Drunk and disorderly in a public place</li>
            </ol>
          </td>
          <td class="govuk-table__cell">1st </td>
          <td class="govuk-table__cell">Afternoon</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/9/limited-access.html" class="govuk-link govuk-link--no-visited-state">
              <strong>Zane Harris Smith</strong>
            </a>
            <span class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-0">C445638</span>
          </td>
          <td class="govuk-table__cell">Previously known<span data-cy="previously-known-termination-date" class="govuk-caption-m">Order ended 22 June 2019</span></td>
          <td class="govuk-table__cell">Possess a class C controlled drug</td>
          <td class="govuk-table__cell">1st</td>
          <td class="govuk-table__cell">Afternoon</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">1</td>
        </tr>
      </tbody>
    </table>
  <!-- </div>
</div> -->
