<div class="moj-scrollable-pane">
  <div class="moj-scrollable-pane__wrapper">
    <table class="govuk-table govuk-table-xl">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row govuk-table__row">
          <th scope="col" class="govuk-table__header custom-defendant-width" aria-sort="none">Defendant</th>
          <th scope="col" class="govuk-table__header custom-delius-record-width" aria-sort="none">Probation
            status
          </th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Offence</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Listing</th>
          <th scope="col" class="govuk-table__header custom-session-width" aria-sort="none">Session</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Court</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="cases/1/summary.html" class="govuk-link--no-visited-state">
              Dylan Adam Armstrong
            </a>
          </td>
          <td class="govuk-table__cell">Current
          </td>
          <td class="govuk-table__cell">Common assault and battery</td>
          <td class="govuk-table__cell">1st </td>
          <td class="govuk-table__cell">Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456">
              Tony Davis
            </a>
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li class="govuk-!-margin-bottom-1">Previously known</li>
              <li class="secondary-text-col">Order ended 05 July 2013</li>
            </ul>
          </td>
          <td class="govuk-table__cell">
            <ol>
              <li>Possess a class C controlled drug</li>
              <li>Possess a controlled drug of Class A - heroin</li>
            </ol>
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li class="govuk-!-margin-bottom-1">2nd</li>
              <!-- <li class="secondary-text-col">Adjourned from 18 Nov 2019, non-standard reason: [1]</li> -->
            </ul>
          </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456">
              Andrei Edwards
            </a>
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li class="govuk-!-margin-bottom-1">Previously known</li>
              <li class="secondary-text-col">Order ended 11 Sep 2019</li>
            </ul>
          </td>
          <td class="govuk-table__cell">Possess a class C controlled drug</td>
          <td class="govuk-table__cell">1st </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="cases/4/summary.html">
              Hannah Francis
            </a>
          </td>
          <td class="govuk-table__cell">No record</span>
          <td class="govuk-table__cell">Drive motor vehicle when alcohol level above limit</td>
          <td class="govuk-table__cell">1st </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/5/summary.html">
              Aiden Hill
            </a>
          </td>
          <td class="govuk-table__cell">No record</td>
          <td class="govuk-table__cell">
            <ol>
              <li>Fail to provide specimen for analysis - vehicle driver</li>
              <li>Drive a motor vehicle otherwise than in accordance with a license - endorsable offence</li>
              <li>Use a motor vehicle on a road / public place without third party insurance</li>
            </ol>
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li class="govuk-!-margin-bottom-1">2nd </li>
              <!-- <li class="secondary-text-col">Adjourned from 20 Nov 2019, for a pre-sentence report to be prepared</li> -->
            </ul>
          </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/6/summary.html">
              Rhys John Houghton
            </a>
          </td>
          <td class="govuk-table__cell">
            <span class="moj-badge-wrapper">
              <span class="moj-badge moj-badge--black">Breach</span>
              <!-- <span class="moj-badge moj-badge--black">Sso</span> -->
            </span>Current
          </td>
          <td class="govuk-table__cell">Attempt theft from shop</td>
          <td class="govuk-table__cell">1st </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456">
              Klara McDonald
            </a>
          </td>
          <td class="govuk-table__cell">
            <span class="moj-badge moj-badge--red">duplicate records</span>
          </td>
          <td class="govuk-table__cell">Common assault and battery</td>
          <td class="govuk-table__cell">1st </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456">
              Ava Ryan
            </a>
          </td>
          <td class="govuk-table__cell">
            <span class="moj-badge-wrapper">
              <!-- <span class="moj-badge moj-badge--black">Breach</span> -->
              <span class="moj-badge moj-badge--black">Sso</span>
            </span>
            Current</td>
          <td class="govuk-table__cell">Sexual assault on a male</td>
          <td class="govuk-table__cell">1st </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456">
              Vinnie Robert Sanderson
            </a>
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li class="govuk-!-margin-bottom-1">Previously known</li>
              <li class="secondary-text-col">Order ended 07 Aug 2019</li>
            </ul>

          </td>
          <td class="govuk-table__cell">
            Assault by beating of an emergency worker</td>
          <td class="govuk-table__cell">
            <ul>
              <li class="govuk-!-margin-bottom-1">2nd </li>
              <!-- <li class="secondary-text-col">Adjourned from 20 Nov 2019, to attend or warrant to issue</li> -->
            </ul>
          </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456">
              Declan Dennis Bradley
            </a>
          </td>
          <td class="govuk-table__cell">No record</td>
          <td class="govuk-table__cell">
            <ol>
              <li>Obstruct/resist a constable in execution of duty</li>
              <li>Use a handheld mobile phone / device while drivng a motor vehicle on a road - endorsable
                offence
              </li>
              <li>Use a motor vehicle on a road / public place without third party insurance</li>
              <li>Drive a motor vehicle otherwise than in accordance with a licence - endorsable offence</li>
            </ol>
          </td>
          <td class="govuk-table__cell">1st </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">2</td>
        </tr>
        <tr class="govuk-table__row govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456">
              Noah Harvey
            </a>
          </td>
          <td class="govuk-table__cell">
            <span class="moj-badge moj-badge--red">duplicate records</span>
          </td>
          <td class="govuk-table__cell">
            <ol>
              <li>Possess a controlled drug of Class B - Amphetamine</li>
              <li>Drunk and disorderly in a public place</li>
            </ol>
          </td>
          <td class="govuk-table__cell">1st </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">2</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456">
              Zane Harris Smith
            </a>
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li class="govuk-!-margin-bottom-1">Previously known</li>
              <li class="secondary-text-col">Order ended 22 June 2019</li>
            </ul>
          </td>
          <td class="govuk-table__cell">Use threatening / abusive / insulting words / behaviour with intent to
            cause fear of / provoke
            unlawful violence</td>
          <td class="govuk-table__cell">1st</td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">2</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>