<div class="moj-scrollable-pane">
  <div class="moj-scrollable-pane__wrapper">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row govuk-table__row">
          <th scope="col" class="govuk-table__header custom-defendant-width" aria-sort="none">Defendant</th>
          <th scope="col" class="govuk-table__header custom-delius-record-width" aria-sort="none">Probation
            record
          </th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Offence</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Listing</th>
          <th scope="col" class="govuk-table__header custom-session-width" aria-sort="none">Session</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Court</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="case/summary.html" class="govuk-link--no-visited-state">
              Dylan Adam Armstrong
            </a>
          </td>
          <td class="govuk-table__cell">Current
          </td>
          <td class="govuk-table__cell">Common assault and battery</td>
          <td class="govuk-table__cell">1st listing</td>
          <td class="govuk-table__cell">Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456">
              Tony Davis
            </a>
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li class="govuk-!-margin-bottom-1">Previously known</li>
              <li class="secondary-text-col">Termination of order 05/07/2013</li>
            </ul>
          </td>
          <td class="govuk-table__cell">
            <ol>
              <li>Possess a class C controlled drug</li>
              <li>Possess a controlled drug of Class A - heroin</li>
            </ol>
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li class="govuk-!-margin-bottom-1">2nd listing</li>
              <li>Adjourned from 18/11/2019, non-standard reason: [1]</li>
            </ul>
          </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456">
              Andrei Edwards
            </a>
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li class="govuk-!-margin-bottom-1">Previously known</li>
              <li class="secondary-text-col">Termination of order 11/09/2019</li>
            </ul>
          </td>
          <td class="govuk-table__cell">Possess a class C controlled drug</td>
          <td class="govuk-table__cell">1st listing</td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456">
              Hannah Francis
            </a>
          </td>
          <td class="govuk-table__cell">Not known</span>
          <td class="govuk-table__cell">Fail to provide specimen for analysis - vehicle driver</td>
          <td class="govuk-table__cell">1st listing</td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456">
              Aiden Hill
            </a>
          </td>
          <td class="govuk-table__cell">Not known</td>
          <td class="govuk-table__cell">
            <ol>
              <li>Drive motor vehicle when alcohol level above limit</li>
              <li>Drive a motor vehicle otherwise than in accordance with a license - endorsable offence</li>
              <li>Use a motor vehicle on a road / public place without third party insurance</li>
            </ol>
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li class="govuk-!-margin-bottom-1">2nd listing</li>
              <li>Adjourned from 20/11/2019, for a pre-sentence report to be prepared</li>
            </ul>
          </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456">
              Rhys John Houghton
            </a>
          </td>
          <td class="govuk-table__cell">
            <span class="moj-badge-wrapper">
              <span class="moj-badge moj-badge--black">Breach</span>
              <span class="moj-badge moj-badge--black">Sso</span>
            </span>Current
          </td>
          <td class="govuk-table__cell">Assault by beating of an emergency worker</td>
          <td class="govuk-table__cell">1st listing</td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456">
              Klara McDonald
            </a>
          </td>
          <td class="govuk-table__cell">
            <span class="moj-badge moj-badge--red">duplicate records</span>
          </td>
          <td class="govuk-table__cell">Common assault and battery</td>
          <td class="govuk-table__cell">1st listing</td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456">
              Ava Ryan
            </a>
          </td>
          <td class="govuk-table__cell">Current</td>
          <td class="govuk-table__cell">Sexual assault on a male</td>
          <td class="govuk-table__cell">1st listing</td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456">
              Vinnie Robert Sanderson
            </a>
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li class="govuk-!-margin-bottom-1">Previously known</li>
              <li class="secondary-text-col">Termination of order 07/08/2019</li>
            </ul>

          </td>
          <td class="govuk-table__cell">Attempt theft from shop</td>
          <td class="govuk-table__cell">
            <ul>
              <li class="govuk-!-margin-bottom-1">2nd listing</li>
              <li>Adjourned from 20/11/2019, to attend or warrant to issue</li>
            </ul>
          </td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456">
              Declan Dennis Bradley
            </a>
          </td>
          <td class="govuk-table__cell">Not known</td>
          <td class="govuk-table__cell">
            <ol>
              <li>Obstruct/resist a constable in execution of duty</li>
              <li>Use a handheld mobile phone / device while drivng a motor vehicle on a road - endorsable
                offence
              </li>
              <li>Use a motor vehicle on a road / public place without third party insurance</li>
              <li>Drive a motor vehicle otherwise than in accordance with a licence - endorsable offence</li>
            </ol>
          </td>
          <td class="govuk-table__cell">1st listing</td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">2</td>
        </tr>
        <tr class="govuk-table__row govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456">
              Noah Harvey
            </a>
          </td>
          <td class="govuk-table__cell">
            <span class="moj-badge moj-badge--red">duplicate records</span>
          </td>
          <td class="govuk-table__cell">
            <ol>
              <li>Possess a controlled drug of Class B - Amphetamine</li>
              <li>Drunk and disorderly in a public place</li>
            </ol>
          </td>
          <td class="govuk-table__cell">1st listing</td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">2</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/cases/details/123456">
              Zane Harris Smith
            </a>
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li class="govuk-!-margin-bottom-1">Previously known</li>
              <li class="secondary-text-col">Termination of order 22/06/2019</li>
            </ul>
          </td>
          <td class="govuk-table__cell">Use threatening / abusive / insulting words / behaviour with intent to
            cause fear of / provoke
            unlawful violence</td>
          <td class="govuk-table__cell">1st listing</td>
          <td class="govuk-table__cell"> Morning</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">2</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>