<section class="app-filter-card govuk-!-margin-bottom-6" style="max-width: 100%; border: 0;">
  <p class="govuk-heading-s">Filters</p>

  <div class="app-filter-container">
    <button id="button-record" type="button" class="app-filter-button" data-controls="probation-record-selection" onclick="event.stopPropagation(); toggleFilter(this)" style="width: 244px;">Probation status</button>
    <div id="probation-record-selection" class="app-filter-selection govuk-visually-hidden">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

      {{ govukCheckboxes({
        idPrefix: "checkbox-record",
        name: "checkbox-record",
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            text: "Probation record",
            isPageHeading: false,
            classes: "govuk-fieldset__legend govuk-visually-hidden"
          }
        },
        items: [
          {
            value: "current",
            text: "Current"
          },
          {
            value: "known",
            text: "Previously known"
          },
          {
            value: "unknown",
            text: "No record"
          }
        ]
      }) }}

    </div>
  </div>

  <div class="app-filter-container">
    <button id="button-courtroom" type="button" class="app-filter-button" data-controls="courtroom-selection" onclick="event.stopPropagation(); toggleFilter(this)" style="width: 200px;">Courtroom</button>
    <div id="courtroom-selection" class="app-filter-selection govuk-visually-hidden">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

      {{ govukCheckboxes({
        idPrefix: "checkbox-courtroom",
        name: "checkbox-courtroom",
        classes: "govuk-checkboxes--small",
        fieldset: {
            legend: {
            text: "Courtroom",
            isPageHeading: false,
            classes: "govuk-fieldset__legend govuk-visually-hidden"
          }
        },
        items: [
          {
            value: "1",
            text: "1"
          },
          {
            value: "2",
            text: "2"
          },
          {
            value: "3",
            text: "3"
          },
          {
            value: "4",
            text: "4"
          },
          {
            value: "5",
            text: "5"
          },
          {
            value: "6",
            text: "6"
          },
          {
            value: "7",
            text: "7"
          },
          {
            value: "8",
            text: "8"
          }
        ]
      }) }}

    </div>
  </div>

  <div class="app-filter-container">
    <button id="button-session" type="button" class="app-filter-button" data-controls="session-selection" onclick="event.stopPropagation(); toggleFilter(this)" style="width: 250px;">Session</button>
    <div id="session-selection" class="app-filter-selection govuk-visually-hidden">

      {{ govukCheckboxes({
        idPrefix: "checkbox-session",
        name: "checkbox-session",
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            text: "Session",
            isPageHeading: false,
            classes: "govuk-fieldset__legend govuk-visually-hidden"
          }
        },
        items: [
          {
            value: "morning",
            text: "Morning"
          },
          {
            value: "afternoon",
            text: "Afternoon"
          }
        ]
      }) }}

    </div>
  </div>

  <button type="button" class="govuk-button app-apply-filters-button" onclick="applyFilters()">Apply filters</button>

  <div class="selected-filters govuk-visually-hidden">
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">Applied filters</span> <a href="#" class="govuk-body-s govuk-!-margin-left-2" onclick="event.preventDefault(); applyFilters(true)">Clear all</a></p>
    <div class="app-filters-applied"></div>
  </div>

</section>
