<link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" />
{% for stylesheetUrl in extensionConfig.stylesheets %}
  <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
{% endfor %}
<div class="app-masthead">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="app-masthead__title govuk-heading-xl govuk-!-margin-bottom-3">
          Prepare a case for sentence prototype beta
        </h1>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>
</div>
