// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/button";
@import "components/cookie-banner";
@import "components/filter";
@import "components/timeline";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


// Search toggle image
.moj-search-toggle__button:after {
    background-image: url(/public/images/icon-search-blue.svg) !important;
}

// Document icon image
.moj-timeline__document-link {
    background-image: url(/public/images/icon-document.svg) !important;
}


// Container max width
.govuk-width-container, .moj-primary-navigation__container, .moj-header__container, .key-details-bar .key-details-bar__key-details {
    max-width: 1220px;
    margin: 0 15px;
}
@media (min-width: 40.0625em) {
.govuk-width-container, .moj-primary-navigation__container, .moj-header__container, .key-details-bar .key-details-bar__key-details {
    margin: 0 30px;
    }
}
@media (min-width: 1020px) {
    .govuk-width-container, .moj-primary-navigation__container, .moj-header__container, .key-details-bar .key-details-bar__key-details {
        margin: 0 30px;
        }
    }
@media (min-width: 1280px) {
    .govuk-width-container, .moj-primary-navigation__container, .moj-header__container, .key-details-bar .key-details-bar__key-details {
        margin: 0 auto;
        }
    }


// Element max width

.govuk-heading-s,
.govuk-heading-m,
.govuk-heading-l,
.govuk-heading-xl,
.govuk-body,
.govuk-body-l,
.govuk-body-s,
.govuk-caption-m,
.govuk-caption-l,
.govuk-caption-xl,
.govuk-link,
.govuk-list,
.govuk-label,
.govuk-hint,
.govuk-fieldset__legend,
.govuk-fieldset__heading,
.govuk-accordion__section-heading,
.govuk-textarea,
.govuk-details__summary,
.govuk-details__text,
.govuk-error-message,
.govuk-error-summary__title,
.govuk-inset-text,
.govuk-panel__title,
.govuk-panel__body,
.govuk-warning-text__text,
.govuk-phase-banner__content,
.govuk-select,
.govuk-table__caption,
.govuk-summary-list,
.govuk-table {
    max-width: 727px;
}
.govuk-table-xl {
    max-width: none;
}

// Caselist timestamp
.case-list-timestamp {
    float: none;
    margin-right: 0;
}

@media (min-width: 1024px) {
.case-list-timestamp {
    float: right;
    margin-right: 0;
    }
}


// Case list overrides 
td ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.4em;
}
td ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type:none;
}

@media screen and (min-width: 40.0625em) {
    .custom-delius-record-width {
      min-width: 180px;
    }
    .custom-defendant-width {
        min-width: 160px;
    }
  }


// Tag modifiers 
// .moj-tag--grey, .moj-tag--green {
//     border: none;
// }
.moj-tag--small--nowrap {
    white-space: nowrap;
    font-size: 0.875rem;
    padding-bottom: 5px;
}
.moj-badge-wrapper {
    display: block;
    margin-bottom: 5px;
}
.moj-badge-wrapper .moj-badge {
    margin-right: 5px;
}
// .moj-badge {
//     white-space: nowrap;
// }



.card .govuk-inset-text {
    border-left: 5px solid #b1b4b6;
    padding: 0 15px;
}


// Filter
@media (min-width: 48.0625em) {
    .moj-filter-layout__filter {
        float: left;
        margin-right: 40px;
        max-width: 250px;
    }
}


// Highlight
.highlight {
    border-bottom: 3px solid #ffbf47;
    margin-right: 1px;
    background-color: #fff2d3;
    padding: 2px 0px 0px;
  }


// Secondary text colour
.secondary-text-col {
    color: $govuk-secondary-text-colour;
}


// Key details bar
.key-details-bar {
    background-color: govuk-colour("blue");
}
.key-details-bar .key-details-bar__key-details {
    // max-width: 1200px;
    // margin: 0 auto;
    padding: 20px 0;
    position: relative;
}
.key-details-bar .key-details-bar__key-details .key-details-bar__name {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.04167;
    font-weight: 700;
    line-height: 1.11111;
    margin-right: 10px;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
}
.key-details-bar .key-details-bar__key-details .key-details-bar__bottom-block {
    // border-top: 1px solid rgba(255, 255, 255, 0.3);
    // content: ' ';
    padding-top: 10px;
    margin-top: 6px;
}
.key-details-bar .key-details-bar__key-details .key-details-bar__status {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14286;
    font-weight: 700;
    line-height: 1.25;
    padding: 5px 8px;
    color: govuk-colour("blue");
    background-color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    margin: 5px 0 0;
}
.key-details-bar .key-details-bar__key-details * {
    color: #ffffff;
}
.key-details-bar_divider {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 15px 0 0;
    padding: 0 15px 0 0;
}
@media (min-width: 40.0625em) {
    // .key-details-bar .key-details-bar__key-details {
    //     margin: 0 auto;
    // }
    .key-details-bar .key-details-bar__key-details .key-details-bar__name {
        // font-size: 36px;
        // font-size: 2.25rem;
        font-size: 1.675rem;
        line-height: 1.11111;
    }
    .key-details-bar .key-details-bar__key-details .key-details-bar__status {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25;
    }
}

// Match table
.match-record-table {
    max-width: 960px;
}
.govuk-table__cell .govuk-radios__label {
    padding: 0;
}
.match-table-radio {
width: 5%;
}
.match-table-radio2 {
    width: 6%;
    }
.match-table-name {
width: 25%;
}
.match-table-dob {
width: 16%;
}
.match-table-gender{
    width: 12%;
}
.match-table-pnc{
    width: 16%;
}
.match-table-summary{
    width: 20%;
}



// Match cards

.card {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14286;
    text-decoration: none;
    color: #0b0c0c;
    display: block;
    margin: 10px 0;
    padding: 15px 20px;
    background-color: #fff;
    border: 1px solid #0b0c0c;
    max-width: 960px;
}
.card p {
    margin-bottom: 0;
}


.card-total p {
    color:$govuk-brand-colour;
}
.card-total-subset p {
    color: white;
}
.card-total-subset {
    background-color: $govuk-brand-colour;
    color: #fff;
    border:none;
}
.card-todo {
    background-color: $govuk-error-colour;
    color: #fff;
    border: none;
}
.card-todo a:link, .card-todo a:visited  {
    color: #fff;
}

.card__heading {
    font-size: 48px;
    line-height: 1;
    display: block;
    margin-bottom: 0.2rem;
    font-weight: 700;
}
.card__attributes {
    display: inline-block;
}
.card dd:last-of-type {
    border: 0;
}
.card dd {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 10px 0 0;
    padding: 0 30px 0 0;
}
.card dt, .card dd {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    float: left;
    margin-right: 5px;
}
.card dt {
    font-weight: bold;
}
@media (min-width: 40.0625em) {
.card dt, .card dd {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
    }
}
// @media (min-width: 48.0625em) {
// .card {
//     margin: 15px 0;
//     padding: 20px 15px;
//     margin-bottom: 20px;
//     padding-bottom: 10px;
// }
// }
@media (min-width: 40.0625em) {
.card {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    }
}
.reject-btn {
    background-color: #dee0e2;
}


// DASHBOARD

.app-pagination__list {
    padding-left: 0;
    margin: 0;
}

    .app-pagination--inline .app-pagination__list-item {
        display: inline-block;
    }
    .app-pagination__list-item {
        display: block;
    }
    .app-pagination--inline .app-pagination__link {
        display: block;
    }
    
    .app-pagination__link:active, .app-pagination__link:hover, .app-pagination__link:link, .app-pagination__link:visited {
        color: #1d70b8;
    }
    .govuk-link:visited, a:visited {
        color: #4c2c92;
    }
    .govuk-link:link, a:link {
        color: #1d70b8;
    }
    .app-pagination__link {
        display: block;
        padding: 15px;
        text-decoration: none;
    }


.app-pagination__link-title {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    font-weight: 700;
}

.app-pagination__link-icon {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
    float: left;
    height: 1em;
    position: relative;
    top: 1px;
    width: .63em;
}

@media (min-width: 40.0625em) {
    
    .app-pagination__link-title {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
        }

@media (min-width: 40.0625em) {
.app-pagination__link-icon {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
}
}

.app-pagination__link:hover {
    background-color: #f3f2f1;
}

.app-pagination--inline .app-pagination__list-item--next .app-pagination__link-icon {
    float: right;
}

.app-pagination {
    display: block;
    list-style: none;
    margin-left: -15px;
    margin-right: -15px;
}


.app-pagination--inline .app-pagination__list-item--next .app-pagination__link-text {
    margin-left: 0;
    margin-right: 10px;
}
.app-pagination__list-item--next .app-pagination__link-text, .app-pagination__list-item--prev .app-pagination__link-text {
    margin-left: 10px;
}
.app-pagination--inline .app-pagination__link-text {
    font-weight: 400;
}

// Sub navigation 

.moj-sub-navigation__item {
    margin-right: 30px;
}
.moj-sub-navigation__item:last-child {
    margin-right: 0;
}


// Overall attendance counts

.app-dashboard-count {
    padding-right: 10px !important;
    text-align: right;
    min-width: 30px !important;
    display: inline-block;
    margin-bottom: 0;
}



// Prototype index page styles
.prototype-index {
    margin-bottom: 80px;
}
.prototype-write-up .govuk-heading-s {
    margin-bottom: 10px;
}
.prototype-write-up .govuk-grid-column-one-third:first-child {
    padding-left: 0;
}
@media (min-width: 641px) {
    .most-recent {
      padding-bottom: 50px;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 50px;
    }
  }
.most-recent {
    border: 1px solid $govuk-border-colour;
    margin-bottom: 60px;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
  }
.most-recent .recent-tag {
    position: absolute;
    top: -1px;
    left: 0;
}
.prototype-index summary{
    color: $govuk-link-colour;
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 19px;
}
.panel .grid-row {
margin-top: 32px;
}