// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Patterns that aren't in Frontend
@import "patterns/app-pagination";
@import "patterns/moj-header";
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/pagination";
@import "components/day-nav";
@import "components/headings";
@import "components/badge";
@import "components/icons";
@import "components/button";
@import "components/case-progress";
@import "components/cookie-banner";
@import "components/filter";
@import "components/key-details-bar";
@import "components/primary-navigation";
@import "components/phase-banner";
@import "components/table";
@import "components/timeline";
@import "components/matcher";

// Import GOV.UK Frontend and any extension styles if extensions have been configured
// @import ".tmp/sass/extensions";

.govuk-main-wrapper{
  padding: govuk-spacing(0);
}


//CASELIST UPDATE TIMESTAMPS
.app-case-updates {
    float: none;
    margin-bottom: 25px;
}
@media (min-width: 1100px) {
.app-case-updates {
    float: right;
    margin-bottom: 0;
    margin-top: 15px;
    }
}

.app-last-updated-stamp, .app-next-update-stamp {
    display: inline-block;
}
.app-last-updated-stamp {
    border-right: 1px solid $govuk-secondary-text-colour;
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
}


// MOJ BANNER

.moj-banner {
    padding: 20px;
}





// Element max width

.govuk-heading-s,
.govuk-heading-m,
.govuk-heading-l,
.govuk-heading-xl,
.govuk-body,
.govuk-body-l,
.govuk-body-s,
.govuk-caption-m,
.govuk-caption-l,
.govuk-caption-xl,
.govuk-link,
.govuk-list,
.govuk-label,
.govuk-hint,
.govuk-fieldset__legend,
.govuk-fieldset__heading,
.govuk-accordion__section-heading,
.govuk-textarea,
.govuk-details__summary,
.govuk-details__text,
.govuk-error-message,
.govuk-error-summary__title,
.govuk-inset-text,
.govuk-panel__title,
.govuk-panel__body,
.govuk-warning-text__text,
.govuk-phase-banner__content,
.govuk-select,
.govuk-table__caption,
.govuk-summary-list,
.govuk-accordion,
.govuk-table {
    max-width: 727px;
}
.govuk-table-xl {
    max-width: none;
}

// HR section break max width
.govuk-grid-column-two-thirds .govuk-section-break{
    max-width: 727px;
}
.govuk-section-break--visible {
    border-bottom: 1px solid #DEE0E2;
}





// Caselist timestamp
.case-list-timestamp {
    float: none;
    margin-right: 0;
}
@media (min-width: 1024px) {
.case-list-timestamp {
    float: right;
    margin-right: 0;
    }
}



// Case list overrides
td ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.4em;
}
td ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type:none;
}

@media screen and (min-width: 40.0625em) {
    .custom-delius-record-width {
    //   min-width: 180px;
    white-space: nowrap;
    }
    .custom-defendant-width {
        // min-width: 160px;
    white-space: nowrap;
    }
  }

// Case list secondary info
.case-list-table .govuk-hint, .case-list-table .secondary-text-col {
    margin-top: 5px;
}
.case-list-table .secondary-text-col {
    font-size: 16px;
}

@media screen and (min-width: 40.0625em) {
    .case-list-table .govuk-tag {
        white-space: nowrap;
    }
}
.case-list-table .govuk-tag {
    padding: 2px 6px 2px 6px;
    }
.govuk-tag--yellow {
    color: #594d00;
    background: #fff7bf;
}
.govuk-tag--blue {
    color: #144e81;
    background: #d2e2f1;
}
.govuk-tag--red {
    color: #942514;
    background: #f6d7d2;
}

.moj-tag--small--nowrap {
    white-space: nowrap;
    font-size: 0.875rem;
    padding-bottom: 5px;
}

.card .govuk-inset-text {
    border-left: 5px solid #b1b4b6;
    padding: 0 15px;
}


// Filter
@media (min-width: 48.0625em) {
    .moj-filter-layout__filter {
        float: left;
        margin-right: 40px;
        max-width: 250px;
    }
}


// Highlight
.highlight {
    border-bottom: 3px solid #ffbf47;
    margin-right: 1px;
    background-color: #fff2d3;
    padding: 2px 0px 0px;
  }


// Secondary text colour
.secondary-text-col {
    color: $govuk-secondary-text-colour;
}




// Match table
.match-record-table {
    max-width: 960px;
}
.govuk-table__cell .govuk-radios__label {
    padding: 0;
}
.match-table-radio {
width: 5%;
}
.match-table-radio2 {
    width: 6%;
    }
.match-table-name {
width: 25%;
}
.match-table-dob {
width: 16%;
}
.match-table-gender{
    width: 12%;
}
.match-table-pnc{
    width: 16%;
}
.match-table-summary{
    width: 20%;
}



// Match cards

.card {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14286;
    text-decoration: none;
    color: #0b0c0c;
    display: block;
    margin: 10px 0;
    padding: 15px 20px;
    background-color: #fff;
    border: 1px solid #0b0c0c;
    max-width: 960px;
}
.card p {
    margin-bottom: 0;
}


.card-total p {
    color:$govuk-brand-colour;
}
.card-total-subset p {
    color: white;
}
.card-total-subset {
    background-color: $govuk-brand-colour;
    color: #fff;
    border:none;
}
.card-todo {
    background-color: $govuk-error-colour;
    color: #fff;
    border: none;
}
.card-todo a:link, .card-todo a:visited  {
    color: #fff;
}

.card__heading {
    font-size: 48px;
    line-height: 1;
    display: block;
    margin-bottom: 0.2rem;
    font-weight: 700;
}
.card__attributes {
    display: inline-block;
}
.card dd:last-of-type {
    border: 0;
}
.card dd {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 10px 0 0;
    padding: 0 30px 0 0;
}
.card dt, .card dd {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    float: left;
    margin-right: 5px;
}
.card dt {
    font-weight: bold;
}
@media (min-width: 40.0625em) {
.card dt, .card dd {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
    }
}
@media (min-width: 40.0625em) {
.card {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    }
}
.reject-btn {
    background-color: #dee0e2;
}


// Sub navigation

.moj-sub-navigation__item {
    margin-right: 25px;
}
.moj-sub-navigation__item:last-child {
    margin-right: 0;
}


// Overall attendance counts

.app-dashboard-count {
    padding-right: 10px !important;
    text-align: right;
    min-width: 30px !important;
    display: inline-block;
    margin-bottom: 0;
}


// Delius contact
.delius-contact  {
    max-width: none;
}
.delius-contact .govuk-summary-list__key {
    text-align: right !important;
}
.delius-contact .govuk-select {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    border: 1px solid #ccc;
    height: 2rem;
    width: 100%;
    background-color: white;
}
.delius-contact .mandatory {
    color: $govuk-error-colour;
}
.delius-contact .govuk-summary-list__value {
    padding: 5px 0 5px 0;
}
.delius-contact button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    border: 1px solid #ccc;
    box-shadow: none;
    padding: 10px 12px 9px;
    border-radius: 4px;
}


// Prototype index page styles

.app-masthead {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    background-color: $govuk-brand-colour;
    margin-top: -20px;
}
@media (min-width: 40.0625em) {
    .app-masthead {
        padding-top: 40px;
    }
}
.app-masthead__title, .app-masthead__subtitle, .app-masthead p {
    color:#ffffff !important;
}
.app-masthead__subtitle {
    font-weight: normal !important;
}
.app-related-items .useful-links > li {
    margin-bottom: 15px !important;
}

.prototype-index {
    margin-bottom: 80px;
}
.prototype-write-up .govuk-heading-s {
    margin-bottom: 10px;
}
.prototype-write-up .govuk-grid-column-one-third:first-child {
    padding-left: 0;
}
@media (min-width: 641px) {
    .most-recent {
      padding-bottom: 50px;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 50px;
    }
  }
.most-recent {
    border: 1px solid $govuk-border-colour;
    margin-bottom: 60px;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
  }
.most-recent .recent-tag {
    position: absolute;
    top: -1px;
    left: 0;
}
.prototype-index summary{
    color: $govuk-link-colour;
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 19px;
}
.panel .grid-row {
margin-top: 32px;
}


// Show more show less links
.morecontent span {
	display: none;
}
a.morelink {
    color: $govuk-link-colour;
}
a.morelink:visited {
	color: $govuk-link-colour;
}





//Rich added in not sure if the stuff above is used or needed since updating
//the prototype from version 9

.moj-width-container {
  max-width: 1220px;
  margin: 0 15px
}

@media(min-width: 40.0625em) {
  .moj-width-container {
      margin:0 30px
  }
}

@media(min-width: 1280px) {
  .moj-width-container {
      margin:0 auto
  }
}
