// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Patterns that aren't in Frontend
@import "patterns/moj-header";
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
// @import "patterns/contents-list"; Does not exist on live
// @import "patterns/mainstream-guide"; Does not exist on live
@import "patterns/pagination";
@import "components/badge";
@import "components/button";
@import "components/case-progress";
@import "components/cookie-banner";
@import "components/filter";
@import "components/primary-navigation";
@import "components/timeline";

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import ".tmp/sass/extensions";

// SERVICE NAME AND PHASE BANNER CONTAINER
.moj-header__link--service-name--wrapper {
    display: inline-block;
}
@media (max-width: 48.0525em) {
    .moj-header__link--service-name--wrapper {
    display: block;
    }
}
@media (max-width: 48.0525em) {
.moj-header__link--service-name {
    display: inline-block;
    }
}

.govuk-phase-banner {
    border-bottom: none;
}

// ORG TITLE IN PRIMARY NAV BAR
.app-organisation-nav-title {
    float: right;
    padding-top: 19px;
}

// Search toggle icon
.moj-search-toggle__button:after {
    background-image: url(/public/images/icon-search-blue.svg) !important;
}
// Document icon
.moj-timeline__document-link {
    background-image: url(/public/images/icon-document.svg) !important;
}
// Button menu toggle chevron icon
.moj-button-menu__toggle-button--secondary:after {
    background-image: url(/public/images/icon-arrow-black-down.svg) !important;
}


.moj-button-menu__toggle-button--secondary {
    color: #000000 !important;
}


// Container max width
.govuk-width-container, .moj-primary-navigation__container, .moj-header__container, .key-details-bar .key-details-bar__key-details {
    max-width: 1220px;
    margin: 0 15px;
}
@media (min-width: 40.0625em) {
.govuk-width-container, .moj-primary-navigation__container, .moj-header__container, .key-details-bar .key-details-bar__key-details {
    margin: 0 30px;
    }
}
@media (min-width: 1020px) {
    .govuk-width-container, .moj-primary-navigation__container, .moj-header__container, .key-details-bar .key-details-bar__key-details {
        margin: 0 30px;
        }
    }
@media (min-width: 1280px) {
    .govuk-width-container, .moj-primary-navigation__container, .moj-header__container, .key-details-bar .key-details-bar__key-details {
        margin: 0 auto;
        }
    }


// CASE PAGINIATION

.app-pagination{
  display:block;
  list-style:none;
  margin: 0;
}
.app-pagination__list{
  padding-left:0;
  margin:0
}
.app-pagination__list-item{
  display:block
}
.app-pagination__link{
  display:block;
  padding:7px 15px;
  text-decoration:none
}
.app-pagination__link:active,
.app-pagination__link:hover,
.app-pagination__link:link,
.app-pagination__link:visited{
  color:#1d70b8
}
.app-pagination__link:hover{
  background-color:#f3f2f1
}
.app-pagination__link-title{
  font-size:16px;
  font-size:1rem;
  line-height:1.25;
  display:block;
  font-weight:700;
  border:none;
}
@media print{
  .app-pagination__link-title{
    font-family:sans-serif
  }
}
@media (min-width:40.0625em){
  .app-pagination__link-title{
    font-size:19px;
    font-size:1.1875rem;
    line-height:1.31579
  }
}

.app-pagination__link-title{
  padding: 0;
}

.app-pagination__link-text{
  display:inline;
  text-decoration:none;
  margin:0;
}
.app-pagination__list-item--next .app-pagination__link-text,
.app-pagination__list-item--prev .app-pagination__link-text{
  margin-left:10px
}
.app-pagination__link-icon{
  font-family:Inter,system-ui,sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-weight:400;
  font-size:18px;
  font-size:1.125rem;
  line-height:1.11111;
  float:left;
  height:1em;
  position:relative;
  top:1px;
  width:.63em
}
@media print{
  .app-pagination__link-icon{
    font-family:sans-serif
  }
}
@media (min-width:40.0625em){
  .app-pagination__link-icon{
    font-size:24px;
    font-size:1.5rem;
    line-height:1.25
  }
}
@media print{
  .app-pagination__link-icon{
    font-size:18pt;
    line-height:1.15
  }
}
.app-pagination__link-divider{
  position:absolute!important;
  width:1px!important;
  height:1px!important;
  margin:0!important;
  padding:0!important;
  overflow:hidden!important;
  clip:rect(0 0 0 0)!important;
  -webkit-clip-path:inset(50%)!important;
  clip-path:inset(50%)!important;
  border:0!important;
  white-space:nowrap!important
}
.app-pagination__link-label{
  font-family:Inter,system-ui,sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-weight:400;
  font-size:14px;
  font-size:.875rem;
  line-height:1.14286;
  display:inline-block;
  text-decoration:underline;
  margin-left:25px;
  margin-top:.1em
}
@media print{
  .app-pagination__link-label{
    font-family:sans-serif
  }
}
@media (min-width:40.0625em){
  .app-pagination__link-label{
    font-size:16px;
    font-size:1rem;
    line-height:1.25
  }
}
@media print{
  .app-pagination__link-label{
    font-size:14pt;line-height:1.2
  }
}
.app-pagination--inline .app-pagination__list-item{
  display:inline-block
}
.app-pagination--inline .app-pagination__link{
  display:block
}
.app-pagination--inline .app-pagination__link-text{
  font-weight:400
}
.app-pagination--inline .app-pagination__list-item--next .app-pagination__link-text{
  margin-left:0;margin-right:10px
}
.app-pagination--inline .app-pagination__list-item--next .app-pagination__link-icon{
  float:right
}
.app-pagination--inline .app-pagination__list-item--next .app-pagination__link-label{
  margin-left:0
}


// 7 DAY NAV

.calendar-nav-title {
    text-align: center;
}
.calendar-nav-text-active {
    color: #ffffff;
}
@media (max-width: 40.0625em) {
  .calendar-nav-link-active, .calendar-nav-link {
      padding: 7px 10px;
  }
}
.calendar-nav-link-active, .calendar-nav-link-active:hover {
    background-color: #1d70b8;
}

//13 DAY NAV
.calendar-nav-link-today{
    border-style:solid;
    border-width: thin;
    border-color:#1d70b8 ;
}

//CASELIST UPDATE TIMESTAMPS
.app-case-updates {
    // float: none;
    margin-bottom: 25px;
}
@media (min-width: 1100px) {
.app-case-updates {
    float: right;
    margin-bottom: 0;
    margin-top: 15px;
    }
}

.app-last-updated-stamp, .app-next-update-stamp {
    display: inline-block;
}
.app-last-updated-stamp {
    border-right: 1px solid $govuk-secondary-text-colour;
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
}


// MOJ BANNER

.moj-banner {
    padding: 20px;
}


// MATCHER

.app-match-probation-records {
    border-left: 2px solid #ccc;
    padding-left: 60px;
    width: 55%;
}
.app-match-defendant-details {
    padding-right: 60px;
    width: 45%;
}


.app-possible-probation-record .govuk-table__cell, .app-possible-probation-record .govuk-table__header {
    border-bottom: none;
    padding-bottom: 0;
}


// Element max width

.govuk-heading-s,
.govuk-heading-m,
.govuk-heading-l,
.govuk-heading-xl,
.govuk-body,
.govuk-body-l,
.govuk-body-s,
.govuk-caption-m,
.govuk-caption-l,
.govuk-caption-xl,
.govuk-link,
.govuk-list,
.govuk-label,
.govuk-hint,
.govuk-fieldset__legend,
.govuk-fieldset__heading,
.govuk-accordion__section-heading,
.govuk-textarea,
.govuk-details__summary,
.govuk-details__text,
.govuk-error-message,
.govuk-error-summary__title,
.govuk-inset-text,
.govuk-panel__title,
.govuk-panel__body,
.govuk-warning-text__text,
.govuk-phase-banner__content,
.govuk-select,
.govuk-table__caption,
.govuk-summary-list,
.govuk-accordion,
.govuk-table {
    max-width: 727px;
}
.govuk-table-xl {
    max-width: none;
}

// HR section break max width
.govuk-grid-column-two-thirds .govuk-section-break{
    max-width: 727px;
}
.govuk-section-break--visible {
    border-bottom: 1px solid #DEE0E2;
}





// Caselist timestamp
.case-list-timestamp {
    float: none;
    margin-right: 0;
}
@media (min-width: 1024px) {
.case-list-timestamp {
    float: right;
    margin-right: 0;
    }
}



// Case list overrides
td ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.4em;
}
td ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type:none;
}

@media screen and (min-width: 40.0625em) {
    .custom-delius-record-width {
    //   min-width: 180px;
    white-space: nowrap;
    }
    .custom-defendant-width {
        // min-width: 160px;
    white-space: nowrap;
    }
  }

// Case list secondary info
.case-list-table .govuk-hint, .case-list-table .secondary-text-col {
    margin-top: 5px;
}
.case-list-table .secondary-text-col {
    font-size: 16px;
}

// Tag modifiers
// .moj-tag--grey, .moj-tag--green {
//     border: none;
// }
@media screen and (min-width: 40.0625em) {
    .case-list-table .govuk-tag {
        white-space: nowrap;
    }
}
.case-list-table .govuk-tag {
    padding: 2px 6px 2px 6px;
    }
.govuk-tag--yellow {
    color: #594d00;
    background: #fff7bf;
}
.govuk-tag--blue {
    color: #144e81;
    background: #d2e2f1;
}
.govuk-tag--red {
    color: #942514;
    background: #f6d7d2;
}

.moj-tag--small--nowrap {
    white-space: nowrap;
    font-size: 0.875rem;
    padding-bottom: 5px;
}
.moj-badge-wrapper {
    display: block;
    margin-top: 5px;
}
.moj-badge-wrapper .moj-badge {
    margin-right: 5px;
}

.card .govuk-inset-text {
    border-left: 5px solid #b1b4b6;
    padding: 0 15px;
}


// Filter
@media (min-width: 48.0625em) {
    .moj-filter-layout__filter {
        float: left;
        margin-right: 40px;
        max-width: 250px;
    }
}


// Highlight
.highlight {
    border-bottom: 3px solid #ffbf47;
    margin-right: 1px;
    background-color: #fff2d3;
    padding: 2px 0px 0px;
  }


// Secondary text colour
.secondary-text-col {
    color: $govuk-secondary-text-colour;
}


// Key details bar
.key-details-bar {
    background-color: govuk-colour("blue");
}
.key-details-bar .key-details-bar__key-details {
    padding: 20px 0;
    position: relative;
}
.key-details-bar .key-details-bar__key-details .key-details-bar__name {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.04167;
    font-weight: 700;
    line-height: 1.11111;
    margin-right: 10px;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
}
.key-details-bar .key-details-bar__key-details .key-details-bar__bottom-block {
    padding-top: 10px;
    margin-top: 6px;
}
.key-details-bar .key-details-bar__key-details .key-details-bar__status {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14286;
    font-weight: 700;
    line-height: 1.25;
    padding: 5px 8px;
    color: govuk-colour("blue");
    background-color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    margin: 5px 0 0;
}
.key-details-bar .key-details-bar__key-details * {
    color: #ffffff;
}
.key-details-bar_divider {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 15px 0 0;
    padding: 0 15px 0 0;
}
@media (min-width: 40.0625em) {
    .key-details-bar .key-details-bar__key-details .key-details-bar__name {
        font-size: 1.675rem;
        line-height: 1.11111;
    }
    .key-details-bar .key-details-bar__key-details .key-details-bar__status {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.25;
    }
}

// Match table
.match-record-table {
    max-width: 960px;
}
.govuk-table__cell .govuk-radios__label {
    padding: 0;
}
.match-table-radio {
width: 5%;
}
.match-table-radio2 {
    width: 6%;
    }
.match-table-name {
width: 25%;
}
.match-table-dob {
width: 16%;
}
.match-table-gender{
    width: 12%;
}
.match-table-pnc{
    width: 16%;
}
.match-table-summary{
    width: 20%;
}



// Match cards

.card {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14286;
    text-decoration: none;
    color: #0b0c0c;
    display: block;
    margin: 10px 0;
    padding: 15px 20px;
    background-color: #fff;
    border: 1px solid #0b0c0c;
    max-width: 960px;
}
.card p {
    margin-bottom: 0;
}


.card-total p {
    color:$govuk-brand-colour;
}
.card-total-subset p {
    color: white;
}
.card-total-subset {
    background-color: $govuk-brand-colour;
    color: #fff;
    border:none;
}
.card-todo {
    background-color: $govuk-error-colour;
    color: #fff;
    border: none;
}
.card-todo a:link, .card-todo a:visited  {
    color: #fff;
}

.card__heading {
    font-size: 48px;
    line-height: 1;
    display: block;
    margin-bottom: 0.2rem;
    font-weight: 700;
}
.card__attributes {
    display: inline-block;
}
.card dd:last-of-type {
    border: 0;
}
.card dd {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 10px 0 0;
    padding: 0 30px 0 0;
}
.card dt, .card dd {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    float: left;
    margin-right: 5px;
}
.card dt {
    font-weight: bold;
}
@media (min-width: 40.0625em) {
.card dt, .card dd {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
    }
}
// @media (min-width: 48.0625em) {
// .card {
//     margin: 15px 0;
//     padding: 20px 15px;
//     margin-bottom: 20px;
//     padding-bottom: 10px;
// }
// }
@media (min-width: 40.0625em) {
.card {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    }
}
.reject-btn {
    background-color: #dee0e2;
}


// Sub navigation

.moj-sub-navigation__item {
    margin-right: 25px;
}
.moj-sub-navigation__item:last-child {
    margin-right: 0;
}


// Overall attendance counts

.app-dashboard-count {
    padding-right: 10px !important;
    text-align: right;
    min-width: 30px !important;
    display: inline-block;
    margin-bottom: 0;
}


// Delius contact
.delius-contact  {
    max-width: none;
}
.delius-contact .govuk-summary-list__key {
    text-align: right !important;
}
.delius-contact .govuk-select {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    border: 1px solid #ccc;
    height: 2rem;
    width: 100%;
    background-color: white;
}
.delius-contact .mandatory {
    color: $govuk-error-colour;
}
.delius-contact .govuk-summary-list__value {
    padding: 5px 0 5px 0;
}
.delius-contact button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    border: 1px solid #ccc;
    box-shadow: none;
    padding: 10px 12px 9px;
    border-radius: 4px;
}


// Prototype index page styles

.app-masthead {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    background-color: $govuk-brand-colour;
    margin-top: -20px;
}
@media (min-width: 40.0625em) {
    .app-masthead {
        padding-top: 40px;
    }
}
.app-masthead__title, .app-masthead__subtitle, .app-masthead p {
    color:#ffffff !important;
}
.app-masthead__subtitle {
    font-weight: normal !important;
}
.app-related-items .useful-links > li {
    margin-bottom: 15px !important;
}

.prototype-index {
    margin-bottom: 80px;
}
.prototype-write-up .govuk-heading-s {
    margin-bottom: 10px;
}
.prototype-write-up .govuk-grid-column-one-third:first-child {
    padding-left: 0;
}
@media (min-width: 641px) {
    .most-recent {
      padding-bottom: 50px;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 50px;
    }
  }
.most-recent {
    border: 1px solid $govuk-border-colour;
    margin-bottom: 60px;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
  }
.most-recent .recent-tag {
    position: absolute;
    top: -1px;
    left: 0;
}
.prototype-index summary{
    color: $govuk-link-colour;
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 19px;
}
.panel .grid-row {
margin-top: 32px;
}


// Show more show less links
.morecontent span {
	display: none;
}
a.morelink {
    color: $govuk-link-colour;
}
a.morelink:visited {
	color: $govuk-link-colour;
}


// GOV UK Notification banner

.govuk-notification-banner {
	font-family: "GDS Transport", arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.25;
	margin-bottom: 30px;
	border: 5px solid #1d70b8
}

@media print {
	.govuk-notification-banner {
		font-family: sans-serif
	}
}

@media (min-width: 40.0625em) {
	.govuk-notification-banner {
		font-size: 19px;
		font-size: 1.1875rem;
		line-height: 1.31579
	}
}

@media print {
	.govuk-notification-banner {
		font-size: 14pt;
		line-height: 1.15
	}
}

@media (min-width: 40.0625em) {
	.govuk-notification-banner {
		margin-bottom: 50px
	}
}

.govuk-notification-banner:focus {
	outline: 3px solid #fd0
}

.govuk-notification-banner__header {
	padding: 2px 15px 5px;
	border-bottom: 1px solid transparent;
	background-color: #1d70b8
}

@media (min-width: 40.0625em) {
	.govuk-notification-banner__header {
		padding: 2px 20px 5px
	}
}

.govuk-notification-banner__title {
	font-family: "GDS Transport", arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 700;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.25;
	margin: 0;
	padding: 0;
	color: #fff
}

@media print {
	.govuk-notification-banner__title {
		font-family: sans-serif
	}
}

@media (min-width: 40.0625em) {
	.govuk-notification-banner__title {
		font-size: 19px;
		font-size: 1.1875rem;
		line-height: 1.31579
	}
}

@media print {
	.govuk-notification-banner__title {
		font-size: 14pt;
		line-height: 1.15
	}
}

.govuk-notification-banner__content {
	margin: 15px
}

@media (min-width: 40.0625em) {
	.govuk-notification-banner__content {
		margin: 20px
	}
}

.govuk-notification-banner__heading {
	font-family: "GDS Transport", arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 700;
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 1.11111;
	margin: 0 0 15px 0;
	padding: 0
}

@media print {
	.govuk-notification-banner__heading {
		font-family: sans-serif
	}
}

@media (min-width: 40.0625em) {
	.govuk-notification-banner__heading {
		font-size: 24px;
		font-size: 1.5rem;
		line-height: 1.25
	}
}

@media print {
	.govuk-notification-banner__heading {
		font-size: 18pt;
		line-height: 1.15
	}
}

.govuk-notification-banner__link {
	font-family: "GDS Transport", arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

@media print {
	.govuk-notification-banner__link {
		font-family: sans-serif
	}
}

.govuk-notification-banner__link:focus {
	outline: 3px solid transparent;
	color: #0b0c0c;
	background-color: #fd0;
	-webkit-box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
	box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
	text-decoration: none
}

.govuk-notification-banner__link:link {
	color: #1d70b8
}

.govuk-notification-banner__link:visited {
	color: #1d70b8
}

.govuk-notification-banner__link:hover {
	color: #003078
}

.govuk-notification-banner__link:active {
	color: #0b0c0c
}

.govuk-notification-banner__link:focus {
	color: #0b0c0c
}

.govuk-notification-banner--success {
	border-color: #00703c
}

.govuk-notification-banner--success .govuk-notification-banner__header {
	background-color: #00703c
}

.govuk-notification-banner--success .govuk-notification-banner__link:link,
.govuk-notification-banner--success .govuk-notification-banner__link:visited {
	color: #00703c
}

.govuk-notification-banner--success .govuk-notification-banner__link:hover {
	color: #004e2a
}

.govuk-notification-banner--success .govuk-notification-banner__link:active {
	color: #00703c
}

.govuk-notification-banner--success .govuk-notification-banner__link:focus {
	color: #0b0c0c
}

.reset-button {
    appearance: none;
    font-size: inherit;
    font-family: inherit;
    padding: 0;
    margin: 0;
    background: none;
    border: 0 none;
    cursor: pointer;
}

.link-button {
    @extend %govuk-link;
    color: $govuk-link-colour;
    text-align: left;
}


//Rich added in not sure if the stuff above is used or needed since updating
//the prototype from version 9

.moj-width-container {
  max-width: 1220px;
  margin: 0 15px
}

@media(min-width: 40.0625em) {
  .moj-width-container {
      margin:0 30px
  }
}

@media(min-width: 1280px) {
  .moj-width-container {
      margin:0 auto
  }
}
