{% extends "layout.html" %}


{% block pageTitle %}
ORA Community Order (12 Months)
{% endblock %}

{% block bodyStart %}
{% block keyDetails %}
{% include "includes/key_details/6_Houghton.html" %}
{% endblock %}
{% endblock %}


{% block beforeContent %}
<a href="/cases/6/probationrecord.html" class="govuk-back-link">Back to probation record</a>
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">
      ORA Community Order (12 Months)
    </h1>
    <div class="govuk-!-margin-bottom-9">
      <p class="govuk-body">
        Using violence to secure entry (Criminal Law Act/CJ and Public Order Act) - 19563</p>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0 secondary-text-col">Started</p>
          <p class="govuk-body-l govuk-!-margin-bottom-0"><strong>24 June 2019</strong></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0 secondary-text-col">Ended</p>
          <p class="govuk-body-l govuk-!-margin-bottom-0"><strong>18 December 2019</strong></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0 secondary-text-col">Reason</p>
          <p class="govuk-body-l govuk-!-margin-bottom-0"><strong>Revoked (Failure to Comply)</strong></p>
        </div>
      </div>
    </div>


    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m">Requirements</h3>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Requirement</th>
            <th scope="col" class="govuk-table__header">Length</th>
            <th scope="col" class="govuk-table__header">Ended</th>
            <th scope="col" class="govuk-table__header">Reason</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Alcohol Treatment</td>
            <td class="govuk-table__cell">9 months</td>
            <td class="govuk-table__cell">18 December 2019</td>
            <td class="govuk-table__cell">Revoked (failure to comply on another requirement or condition)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Rehabilitation Activity Requirement (RAR)</td>
            <td class="govuk-table__cell">11 days</td>
            <td class="govuk-table__cell">18 December 2019</td>
            <td class="govuk-table__cell">Revoked (Failure to Comply)</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m">Breaches</h3>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Breach</th>
            <th scope="col" class="govuk-table__header">Outcome</th>
            <th scope="col" class="govuk-table__header">Outcome date</th>

          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="nsi/breach-complete" class="govuk-link govuk-link--no-visited-state">Community Order / SSO Breach</a></td>
            <td class="govuk-table__cell">Completed - Revoked & Re-Sentenced</td>
            <td class="govuk-table__cell">18 December 2019</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="" class="govuk-link govuk-link--no-visited-state">Community Order / SSO Breach</a></td>
            <td class="govuk-table__cell">Completed - Amended & Continued</td>
            <td class="govuk-table__cell">29 October 2019</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m">Contacts</h3>
      <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">View contact list (opens in nDelius)</a></p>
    </div>
  </div>
</div>
</div>
{% endblock %}
