{% extends "layout.html" %}


{% block pageTitle %}
Delius contact view
{% endblock %}

{% block bodyStart %}

{% endblock %}


{% block beforeContent %}

{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-l">Delius contact views</h1>
    <h2 class="govuk-heading-m">Scenario 1: 1st hearing > 48hrs case due to
      be heard</h2>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m" style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25em;">
        Contact Details <span class="secondary-text-col">(user clicked 'View')</span>
      </h2>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <dl class="govuk-summary-list govuk-summary-list--no-border delius-contact"
        style="font-family: Arial, Helvetica, sans-serif; font-size: 0.9em;">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Relates To:
          </dt>
          <dd class="govuk-summary-list__value">
            Test Service User Name
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact Type:
          </dt>
          <dd class="govuk-summary-list__value">
            Progress report on offender needed for court appearance
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Alert the OM?:
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date:
          </dt>
          <dd class="govuk-summary-list__value">
            06/04/2020
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Start Time:
          </dt>
          <dd class="govuk-summary-list__value">
            09:00
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Provider:
          </dt>
          <dd class="govuk-summary-list__value">
            NPS North East
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Team:
          </dt>
          <dd class="govuk-summary-list__value">
            NPS - Sheffield Court Team
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Location:
          </dt>
          <dd class="govuk-summary-list__value">
            Sheffield Magistrates Court
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Officer:
          </dt>
          <dd class="govuk-summary-list__value">
            <span class="mandatory"><strong>?????</strong></span>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact outcome:
          </dt>
          <dd class="govuk-summary-list__value">

          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Enforcement action:
          </dt>
          <dd class="govuk-summary-list__value">

          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Include in VISOR Extract?:
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sensitive contact?:
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Notes:
          </dt>
          <dd class="govuk-summary-list__value">
            <div class="govuk-form-group">
              <textarea class="govuk-textarea"
                style="font-family: Arial, Helvetica, sans-serif; font-size: 0.9em; background-color: #f3f2f1;"
                id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint">
Dylan Adam Armstrong is due in [NAME OF COURT] on Wednesday 8 April for:
- common assault and battery
- assault by beating
- sexual assault on a female.

Please update this note with a summary of Dylan’s
- progress against requirements
- attendance
- behaviour
- current circumstances
- risk factors
- sentencing recommendations (including recall if applicable)

Your update will help the court understand Dylan’s progress and determine an appropriate sentence.

You’ll receive a reminder if an update isn’t provided within 24 hours of the court appearance.

A reminder will be sent if you do not provide an update within 24 hours of the court appearance.


------------------------------


**REMINDER**
Dylan is due to appear in court in the next 24 hours. Please provide an update to court by 9am on Wednesday 8 April 2020.
              </textarea>
            </div>
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Document
            </button>
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Print
            </button>
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Close
            </button>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m" style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25em;">
        Update Contact Details <span class="secondary-text-col">(user clicked 'Update')</span>
      </h2>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <dl class="govuk-summary-list govuk-summary-list--no-border delius-contact"
        style="font-family: Arial, Helvetica, sans-serif; font-size: 0.9em;">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Relates To:
          </dt>
          <dd class="govuk-summary-list__value">
            Test Service User Name
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact Type:
          </dt>
          <dd class="govuk-summary-list__value">
            Progress report on offender needed for court appearance
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Alert the OM?: <span class="mandatory">*</span>
          </dt>
          <dd class="govuk-summary-list__value">
            <div class="govuk-form-group">
              <select class="govuk-select" id="sort" name="sort">
                <option value="Yes" selected>Yes</option>
                <option value="No">No</option>
              </select>
            </div>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date: <span class="mandatory">*</span>
          </dt>
          <dd class="govuk-summary-list__value">
            <div class="govuk-form-group">
              <select class="govuk-select" id="sort" name="sort">
                <option value="06/04/2020" selected>06/04/2020</option>
              </select>
            </div>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Start Time: <span class="mandatory">*</span>
          </dt>
          <dd class="govuk-summary-list__value">
            <div class="govuk-form-group">
              <select class="govuk-select" id="sort" name="sort">
                <option value="09:00" selected>09:00</option>
              </select>
            </div>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Provider: <span class="mandatory">*</span>
          </dt>
          <dd class="govuk-summary-list__value">
            <div class="govuk-form-group">
              <select class="govuk-select" id="sort" name="sort">
                <option value="NPS North East" selected>NPS North East</option>
              </select>
            </div>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Team: <span class="mandatory">*</span>
          </dt>
          <dd class="govuk-summary-list__value">

            <div class="govuk-form-group">
              <select class="govuk-select" id="sort" name="sort">
                <option value="NPS - Sheffield Court Team" selected>NPS - Sheffield Court Team</option>
              </select>
            </div>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Location:
          </dt>
          <dd class="govuk-summary-list__value">

            <div class="govuk-form-group">
              <select class="govuk-select" id="sort" name="sort">
                <option value="Sheffield Magistrates Court" selected>Sheffield Magistrates Court</option>
              </select>
            </div>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Officer: <span class="mandatory">*</span>
          </dt>
          <dd class="govuk-summary-list__value">
            <div class="govuk-form-group">
              <select class="govuk-select" id="sort" name="sort">
                <option value="?????" selected>?????</option>
              </select>
            </div>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact outcome:
          </dt>
          <dd class="govuk-summary-list__value">
            <div class="govuk-form-group">
              <select class="govuk-select" id="sort" name="sort">
                <option value="[Please select]" selected>[Please select]</option>
              </select>
            </div>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sensitive contact?:
          </dt>
          <dd class="govuk-summary-list__value">
            <div class="govuk-form-group">
              <select class="govuk-select" id="sort" name="sort">
                <option value="No" selected>No</option>
              </select>
            </div>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Previous Notes:
          </dt>
          <dd class="govuk-summary-list__value">
            <div class="govuk-form-group">
              <textarea class="govuk-textarea"
                style="font-family: Arial, Helvetica, sans-serif; font-size: 0.9em; background-color: #f3f2f1; margin-bottom: 0;"
                id="more-detail" name="more-detail" rows="3" aria-describedby="more-detail-hint">
Dylan Adam Armstrong is due in [NAME OF COURT] on Wednesday 8 April for:
- common assault and battery
- assault by beating
- sexual assault on a female.

Please update this note with a summary of Dylan’s
- progress against requirements
- attendance
- behaviour
- current circumstances
- risk factors
- sentencing recommendations (including recall if applicable)

Your update will help the court understand Dylan’s progress and determine an appropriate sentence.

You’ll receive a reminder if an update isn’t provided within 24 hours of the court appearance.

A reminder will be sent if you do not provide an update within 24 hours of the court appearance.


------------------------------


**REMINDER**
Dylan is due to appear in court in the next 24 hours. Please provide an update to court by 9am on Wednesday 8 April 2020.
            </textarea>
            </div>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            New Notes:
          </dt>
          <dd class="govuk-summary-list__value">
            <div class="govuk-form-group">
              <textarea class="govuk-textarea"
                style="font-family: Arial, Helvetica, sans-serif; font-size: 0.9em; margin-bottom: 0;" id="more-detail"
                name="more-detail" rows="3" aria-describedby="more-detail-hint">
            </textarea>
            </div>
          </dd>
        </div>
      </dl>
    </div>
    <h3 class="govuk-heading-s secondary-text-col" style="font-family: Arial, Helvetica, sans-serif; font-size: 0.8em;">
      NEXT APPOINTMENT
    </h3>
    <dl class="govuk-summary-list govuk-summary-list--no-border delius-contact"
      style="font-family: Arial, Helvetica, sans-serif; font-size: 0.9em;">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Next Contact Date: </dt>
        <dd class="govuk-summary-list__value">
          <div class="govuk-form-group">
            <select class="govuk-select" id="sort" name="sort">
              <option value="" selected></option>
            </select>
          </div>
          <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
            Save
          </button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Update
          </button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Document
          </button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Print
          </button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </button>
        </dd>
      </div>
    </dl>

  </div>
</div>
</div>


{% endblock %}
