{% extends "layout.html" %}


{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/key_details/4_Francis-unlink.html" %}
{% endblock %}


{% endblock %}


{% block beforeContent %}
  <a href="#" onclick="javascript:history.go(-1)" class="govuk-back-link">Back to cases</a>
{% endblock %}


{% block content %}

<div class="moj-banner moj-banner--success">

  <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false"
    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
    <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" /></svg>
  <div class="moj-banner__message">
    <span class="moj-banner__assistive">Success</span>You have successfully linked an nDelius record to Hannah Francis.</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page" href="/cases/4/summary-correct-crn-no-banner.html">Case summary</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="/cases/4/probationrecord.html">Probation record</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="#">Risk registers</a>
        </li>
      </ul>
      </ul>
    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Case summary</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="govuk-!-margin-bottom-8">
      <h2 class="govuk-heading-m">Appearance</h2>
      <p class="govuk-body">Court 1, morning session, Wednesday 1 July (1st listing).</p>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-!-margin-bottom-8">
      <h2 class="govuk-heading-m">Offences</h2>
      <h3 class="govuk-heading-s">Drive motor vehicle when alcohol level above limit</h3>
      <p class="govuk-body govuk-!-margin-bottom-2">On Friday 10th June at Green Avenue, Sheffield drove a motor
        vehicle namely BMW registration AB12 ZZZ on a road namely Green Avenue, Sheffield, after consuming so much
        alcohol that the proportion of it in your breath, namely 117 microgrammes of alcohol in 100 millilitres of
        breath, exceeded the prescribed limit. </p>
      <p class="govuk-body secondary-text-col">Contrary to section 5(1)(a) of the Road Traffic Act 1988 and schedule 2
        to the Road Traffic Offenders Act 1988.</p>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">
        Defendant details
      </h2>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Hannah Francis
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Gender
          </dt>
          <dd class="govuk-summary-list__value">
            Female
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            26 December 1996 (23 years old)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Nationality
          </dt>
          <dd class="govuk-summary-list__value">
            British
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            68 Parsonage Lane<br>Manchester<br>M21 3WE
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
</div>
{% endblock %}
