{% extends "layout-main.html" %}


{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}
<div class="govuk-width-container">
<a href="/cases/11/interview.html" style="margin-bottom: 0;" class="govuk-back-link">Back</a>
</div>
{% block keyDetails %}
{% include "includes/key_details/11_Hart-new-no-record.html" %}
{% endblock %}


{% endblock %}


{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Share request with a colleague (optional)</h1>
<p class="govuk-body">They will be sent details of the report when you submit the request.</p>
    <div class="govuk-form-group">
      <h2 class="govuk-heading-m"><label class="govuk-label govuk-label--m" for="more-detail">
          Email address
        </label>
      </h2>
      <input class="govuk-input govuk-input--width-30" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
    </div>

    <div class="govuk-button-group">
      <a href="check-answers" button class="govuk-button" data-module="govuk-button">
        Save and continue
      </a>

      <a href="check-answers" button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Skip this step
      </a>
    </div>
  </div>


        </div>


{% endblock %}
