{% extends "layout.html" %}


{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/key_details/11_Hart.html" %}
{% endblock %}


{% endblock %}


{% block beforeContent %}
<a href="/cases/11/summary-no-record" style="margin-bottom: 0;" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Request a pre-sentence report for Gary Hart</h1>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
      <h2 class="govuk-heading-m">Requested by court on</h2>
        <div class="govuk-date-input" id="passport-issued">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
          </div>
        </div>

      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
      <h2 class="govuk-heading-m">Required by court on</h2>
        <div class="govuk-date-input" id="passport-issued">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
          </div>
        </div>

      </fieldset>
    </div>

    <div class="govuk-form-group">

  <fieldset class="govuk-fieldset">
  <h2 class="govuk-heading-m">Report type</h2>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="type-of-psr" name="type-of-psr" type="radio" value="Oral">
        <label class="govuk-label govuk-radios__label" for="type-of-psr">
          Oral
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="type-of-psr-2" name="type-of-psr" type="radio" value="Short format">
        <label class="govuk-label govuk-radios__label" for="type-of-psr-2">
          Short format
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="type-of-psr-3" name="type-of-psr" type="radio" value="Standard">
        <label class="govuk-label govuk-radios__label" for="type-of-psr-3">
          Standard
        </label>
      </div>

    </div>

  </fieldset>
</div>

<div class="govuk-form-group">

<fieldset class="govuk-fieldset">
<h2 class="govuk-heading-m">Court view of seriousness</h2>
<div class="govuk-radios">
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="seriousness" name="seriousness" type="radio" value="Custody-inevitable">
    <label class="govuk-label govuk-radios__label" for="seriousness">
      Custody inevitable
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="seriousness-2" name="seriousness" type="radio" value="High">
    <label class="govuk-label govuk-radios__label" for="seriousness-2">
      High
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="seriousness-3" name="seriousness" type="radio" value="Medium">
    <label class="govuk-label govuk-radios__label" for="seriousness-3">
      Medium
    </label>
  </div>

  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="seriousness-4" name="seriousness" type="radio" value="Medium">
    <label class="govuk-label govuk-radios__label" for="seriousness-4">
      Low
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="seriousness-5" name="seriousness" type="radio" value="Too-low">
    <label class="govuk-label govuk-radios__label" for="seriousness-5">
      Too low for community sentence
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="seriousness-6" name="seriousness" type="radio" value="Not-stated">
    <label class="govuk-label govuk-radios__label" for="seriousness-6">
      Not stated
    </label>
  </div>
</div>

</fieldset>
</div>







    <a href="request-psr" role="button" draggable="false" class="govuk-button" style="margin: 10px 0 0;" data-module="govuk-button">Save and continue</a>
  </div>


        </div>


    </div>


</div>


{% endblock %}
