{% extends "layout.html" %}


{% block pageTitle %}
Order and compliance history 
{% endblock %}

{% block bodyStart %}
<section class="key-details-bar" aria-label="Key details">
  <div class="key-details-bar__key-details">
    <div class="key-details-bar__top-block">
      <span class="govuk-visually-hidden">Name:</span>
      <span class="key-details-bar__name">Dylan Adam ARMSTRONG</span>
      <span class="key-details-bar__nino"></span>
      <span class="govuk-visually-hidden">Status from nDelius:</span>
      <span class="key-details-bar__status">Current offender</span>
      <span class="govuk-visually-hidden">Status from nDelius:</span>
      <span class="key-details-bar__status govuk-!-margin-right-2">Medium Risk of Serious Harm</span>
    </div>
    <div class="key-details-bar__bottom-block">
      <span class="govuk-body govuk-!-margin-right-6">Date of birth: 27/09/1984</span> <span class="govuk-body govuk-!-margin-right-6">CRN: DX12340A</span><span class="govuk-body">PNC: A1234560BA</span>
      <p class="govuk-body govuk-!-margin-0 app-!-float-right">
      </p>
    </div>
  </div>
</section>
{% endblock %}


{% block beforeContent %}
<a href="summary.html" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
      Order and compliance history
    </h1>

    <div class="govuk-!-margin-bottom-9">
      

      <div class="moj-timeline">
        <div class="moj-timeline__item">
        
        <div class="moj-timeline__header">
          <h2 class="govuk-!-font-size-24 moj-timeline__title">ORA Community Order</h2>
        
          <p class="govuk-!-font-size-24 moj-timeline__byline">(18 Months)</p>    
        </div>

        <p class="moj-timeline__date">
          <time datetime="2019-06-14T14:01:00.000Z">Common assault and battery - 10501</time>
        </p>
       
        <div class="moj-timeline__description">
          <p>Commenced on 05 Sept 2019</p>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Rehabilitative requirements <span class="secondary-text-col" style="font-weight: normal;">(2)</span></h3>
          <p class="govuk-!-margin-bottom-1">Rehabilitation Activity Requirement (RAR). Length 20 days</p>
          <p>Court - Accredited Programme - Building Better Relationships (BBR)</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Next appointment: Unknown   </li>
            <li>Last appointment: 28 Sept 2019</li>
            <li>Offered: 13</li>
            <li>Attended failed to comply: 0</li>
            <li>Failed to attend (unacceptable): 4</li>
            <li>Attendance not recorded: 5</li>
            
          </ul>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Punitive requirements <span class="secondary-text-col" style="font-weight: normal;">(1)</span></h3>
          <p>Unpaid Work - Regular. Length 40 Hours</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Next appointment: Unknown   </li>
            <li>Last attendance: 28/09/2019</li>
            <li>Total hours credited: 21:00 </li>
            <li>Offered: 10</li>
            <li>Attended failed to comply: 0</li>
            <li>Failed to attend (unacceptable): 1</li>
          </ul>
        </div>
        
        </div>
        

        

        
        <div class="moj-timeline__item">
        
          <div class="moj-timeline__header">
            <h2 class="govuk-!-font-size-24 moj-timeline__title">CJA - Community Order</h2>
          
            <p class="govuk-!-font-size-24 moj-timeline__byline">(12 Months)</p>    
          </div>
  
          <p class="govuk-!-font-size-16 moj-timeline__date">
            <time datetime="2019-06-14T14:01:00.000Z">
              Breach of a Non-Molestation Order (Family Law Act 1996/Dom Viol, Crime & Victims Act 2004) - 06639
            </time>
          </p>
          <div class="moj-timeline__description">
            <p>Terminated on 01 Feb 2013</p>
            </div>
        
        </div>
        
        <div class="moj-timeline__item">
        
          <div class="moj-timeline__header">
            <h2 class="govuk-!-font-size-24 moj-timeline__title">CJA - Community Order</h2>
          
            <p class="govuk-!-font-size-24 moj-timeline__byline">(12 Months)</p>    
          </div>
  
          <p class="moj-timeline__date">
            <time datetime="2019-06-14T14:01:00.000Z">Breach of a Non-Molestation Order (Family Law Act 1996/Dom Viol, Crime & Victims Act 2004) - 06639</time>
          </p>
        
          <div class="moj-timeline__description">
            <p>Terminated on 24 Nov 2012</p>
            </div>   

        </div>
        
        <div class="moj-timeline__item">
        
          <div class="moj-timeline__header">
            <h2 class="govuk-!-font-size-24 moj-timeline__title">CJA - Community Order</h2>
          
            <p class="govuk-!-font-size-24 moj-timeline__byline">(12 Months)</p>    
          </div>
  
          <p class="moj-timeline__date">
            <time datetime="2019-06-14T14:01:00.000Z">Common assault and battery - 10501</time>
          </p>

          <div class="moj-timeline__description">
            <p>Terminated on 20 March 2012</p>
            </div>  
        
        </div>
        </div> 




    </div>










  </div>



  <!-- <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Appearance</h2>
    <p class="govuk-body">Appearing in Court Room 1 on Wednesday 8 January, Morning session. </p>
    <h2 class="govuk-heading-m">Crown Prosecution Service pack</h2>
    <p class="govuk-body"><a href="#">Court Store</a></p>
    <h2 class="govuk-heading-m">Offender Manager</h2>
    <p class="govuk-body govuk-!-margin-bottom-0">John Doe</p>
    <p class="secondary-text-col">Allocated on 03/07/2019</p>
    <p>CRC - NHC OM, CPA BeNCH</p>
  </div> -->




</div>
</div>

{% endblock %}