{% extends "layout.html" %}


{% block pageTitle %}
Risk registers
{% endblock %}

{% block bodyStart %}
<section class="key-details-bar" aria-label="Key details">
  <div class="key-details-bar__key-details">
    <div class="key-details-bar__top-block">
      <span class="govuk-visually-hidden">Name:</span>
      <span class="key-details-bar__name">Dylan Adam ARMSTRONG</span>
      <span class="key-details-bar__nino"></span>
      <span class="govuk-visually-hidden">Status from nDelius:</span>
      <span class="key-details-bar__status">Current offender</span>
      <span class="govuk-visually-hidden">Status from nDelius:</span>
      <span class="key-details-bar__status govuk-!-margin-right-2">Medium Risk of Serious Harm</span>
    </div>
    <div class="key-details-bar__bottom-block">
      <span class="govuk-body govuk-!-margin-right-6">Date of birth: 27/09/1984</span> <span
        class="govuk-body govuk-!-margin-right-6">CRN: DX12340A</span><span class="govuk-body">PNC: A1234560BA</span>
      <p class="govuk-body govuk-!-margin-0 app-!-float-right">
        <!-- <a class="govuk-link govuk-link--no-visited-state govuk-link--text-colour" href="/cases/details/9168463">View
            case details</a> -->
      </p>
    </div>
  </div>
</section>
{% endblock %}


{% block beforeContent %}
<!-- <a href="cases.html" class="govuk-back-link">Back</a> -->
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="/case/summary.html">Case details</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="/case/person.html">Person</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="/case/probationrecord.html">Probation
            record</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="/case/risk.html">Risk registers</a>
        </li>
      </ul>

    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-5">
        Risk registers
      </h2>
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#active">
              Active
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#inactive">
              Inactive
            </a>
          </li>
        </ul>
        <section class="govuk-tabs__panel" id="active">
          <!-- <h2 class="govuk-heading-l">Past day</h2> -->
          <table class="govuk-table govuk-table-xl">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Type</th>
                <th scope="col" class="govuk-table__header">Description</th>
                <th scope="col" class="govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header">Registration date</th>
                <th scope="col" class="govuk-table__header">Next review</th>
                <th scope="col" class="govuk-table__header">Action</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">RoSH</td>
                <td class="govuk-table__cell">Medium RoSH</td>
                <td class="govuk-table__cell"><span class="moj-badge">medium</span></td>
                <td class="govuk-table__cell">09 Sept 2019</td>
                <td class="govuk-table__cell">09 March 2020</td>
                <td class="govuk-table__cell"><a href="#">View</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Public protection</td>
                <td class="govuk-table__cell">Domestic Abuse Perpetrator</td>
                <td class="govuk-table__cell"><span class="moj-badge moj-badge--red">high</span></td>
                <td class="govuk-table__cell">04 July 2011</td>
                <td class="govuk-table__cell">26 Dec 2019</td>
                <td class="govuk-table__cell"><a href="#">View</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Alerts </td>
                <td class="govuk-table__cell">Mental health issues</td>
                <td class="govuk-table__cell"><span class="moj-badge">medium</span></td>
                <td class="govuk-table__cell">04 July 2011</td>
                <td class="govuk-table__cell">26 Dec 2019</td>
                <td class="govuk-table__cell"><a href="#">View</a></td>
              </tr>


            </tbody>
          </table>

        </section>
        <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="inactive">
          <!-- <h2 class="govuk-heading-l">Past week</h2> -->
          <table class="govuk-table govuk-table-xl">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Type</th>
                <th scope="col" class="govuk-table__header">Description</th>
                <th scope="col" class="govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header">Registration date</th>
                <th scope="col" class="govuk-table__header">End date</th>
                <th scope="col" class="govuk-table__header">Action</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Public protection </td>
                <td class="govuk-table__cell">MAPPA Considered</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"> 14 June 2012</td>
                <td class="govuk-table__cell"> 26 Sept 2019</td>
                <td class="govuk-table__cell"><a href="#">View</a></td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>
</div>


{% endblock %}