{% extends "layout.html" %}


{% block pageTitle %}
Person
{% endblock %}

{% block bodyStart %}
{% block keyDetails %}
{% include "includes/key_details/1_Armstrong.html" %}
{% endblock %}
{% endblock %}


{% block beforeContent %}
<a href="/cases/1/probationrecord.html" class="govuk-back-link">Back to probation record</a>
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">
      <!-- <span class="govuk-caption-l">Order performance</span> -->
      ORA Community Order (18 Months)
    </h1>
    <div class="govuk-!-margin-bottom-9">
      <p class="govuk-body">Common assault and battery - 10501</p>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0 secondary-text-col">Started</p>
          <p class="govuk-body-l govuk-!-margin-bottom-0"><strong>05 Sept 2019</strong></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0 secondary-text-col">Ends</p>
          <p class="govuk-body-l govuk-!-margin-bottom-0"><strong>04 March 2021</strong></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0 secondary-text-col">Time elapsed</p>
          <p class="govuk-body-l govuk-!-margin-bottom-0"><strong>5 months, 20 days</strong></p>
        </div>
      </div>
    </div>


    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m">Requirements</h3>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Requirement</th>
            <th scope="col" class="govuk-table__header">Length</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Rehabilitation Activity Requirement (RAR) </td>
            <td class="govuk-table__cell">20 days </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Court - Accredited Programme - Building Better Relationships (BBR)</td>
            <td class="govuk-table__cell">-</td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Unpaid Work - Regular</td>
            <td class="govuk-table__cell">40 Hours</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m">Overall attendance</h3>
      <!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="
      max-width: 727px;"> -->
      <div class="app-card">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">40<span
            class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
            &ensp;Appointments </span></h2>
      </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="
      max-width: 727px;">
      <div class="app-card">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">26<span
                class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                &ensp;Attended</span></h2>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body govuk-!-margin-0"><span
                class="govuk-body-l app-dashboard-count"
                style="min-width: 35px; display: inline-block; margin: 0;">11</span>Planned office visits</p>
            <p class="govuk-body govuk-!-margin-0"><span
                class="govuk-body-l app-dashboard-count"
                style="min-width: 35px;display: inline-block; margin: 0;">8</span>IAPS Attendance</p>
            <p class="govuk-body govuk-!-margin-0"><span
                class="govuk-body-l app-dashboard-count"
                style="min-width: 35px; display: inline-block; margin: 0;">6</span>Unpaid work</p>
            <p class="govuk-body govuk-!-margin-0"><span
                class="govuk-body-l app-dashboard-count"
                style="min-width: 35px; display: inline-block; margin: 0;">1</span>Appointment with External Agency</p>
          </div>
        </div>


      </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="
      max-width: 727px;">
      <div class="app-card">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">12<span
                class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                &ensp;Acceptable absences</span></h2>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body govuk-!-margin-0 seo"><span
                class="govuk-body-l app-dashboard-count"
                style="min-width: 35px; display: inline-block; margin: 0;">6</span>Employment</p>
            <p class="govuk-body govuk-!-margin-0 seo"><span
                class="govuk-body-l app-dashboard-count"
                style="min-width: 35px;display: inline-block; margin: 0;">3</span>Professional judgement decision</p>
            <p class="govuk-body govuk-!-margin-0 seo"><span
                class="govuk-body-l app-dashboard-count"
                style="min-width: 35px; display: inline-block; margin: 0;">2</span>Medical</p>
            <p class="govuk-body govuk-!-margin-0"><span
                class="govuk-body-l app-dashboard-count"
                style="min-width: 35px; display: inline-block; margin: 0;">1</span>Rescheduled</p>
          </div>
        </div>

      </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="
            max-width: 727px;">
      <div class="app-card">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">0<span
            class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
            &ensp;Unacceptable absences</span></h2>
      </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="
                  max-width: 727px;">
      <div class="app-card">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">2<span
              class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
              &ensp;Attendance not recorded</span></h2>
          </div>
          <div class="govuk-grid-column-two-thirds">
            
          </div>
        </div>

      </div>




      <!-- <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Last attendance</dt>
          <dd class="govuk-summary-list__value">19 Feb 2020 - IAPS Attendance (NS) - Attended - Complied</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Appointments offered</dt>
          <dd class="govuk-summary-list__value">40 </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Appointments attended</dt>
          <dd class="govuk-summary-list__value">26</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Acceptable absences </dt>
          <dd class="govuk-summary-list__value">12</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Unacceptable absences </dt>
          <dd class="govuk-summary-list__value">0</dd>
        </div>
      </dl> -->

    </div>




    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m ">Unpaid work - regular</h3>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Status</dt>
          <dd class="govuk-summary-list__value">Terminated - 19 Oct 2019 </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Hours ordered</dt>
          <dd class="govuk-summary-list__value">40 </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Hours worked</dt>
          <dd class="govuk-summary-list__value">40</dd>
        </div>
      </dl>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            View UPW attendance
          </span>
        </summary>
        <div class="govuk-details__text">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Appointments offered</dt>
              <dd class="govuk-summary-list__value">9 </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Appointments attended</dt>
              <dd class="govuk-summary-list__value">6</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Acceptable absences </dt>
              <dd class="govuk-summary-list__value">3</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Unacceptable absences </dt>
              <dd class="govuk-summary-list__value">0</dd>
            </div>
          </dl>
        </div>
      </details>
    </div>

    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m">Most recent contacts</h3>
      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-5">
                IAPS Attendance (NS)
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-5">
              Relates to Court - Accredited Programme (Building Better Relationships (BBR))
            </div>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-4">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Date</dt>
                <dd class="govuk-summary-list__value">19 Feb 2020 18:30</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Outcome</dt>
                <dd class="govuk-summary-list__value">Attended - Complied</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Officer </dt>
                <dd class="govuk-summary-list__value">Staff, IAPS Staff(C13) </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Notes</dt>
                <dd class="govuk-summary-list__value">
                  <p>Programme: Catchup session Foundation Module 6</p>
                  <p>Scheduled</p>
                  <p>----------------------------</p>

                  <p>Programme: Main session My Relationships 1 Eng: Und:</p>
                  <p>Attended</p>
                  <p>Check in: Dylan reported no changes</p>
                  <p>Review of GAM: Dylan presented some understanding of the GAM and the key elements of it. The
                    group
                    then completed a GAM on Steve the male in the video. Dylan stated that Steve appeared dominating
                    and
                    controlling and his beliefs were that he is entitled to time away with his friends and did not
                    consider the children's needs. Dylan then completed his own GAM he focused on the incident that
                    led
                    to
                    his arrest he described the event. He said he was a heavy gambler at the time and neglected his
                    family
                    as a result of this. He said at the time he felt his partner was nagging at him for no reason but
                    he
                    can now see why she was highlighting the issues. He said one day he 'lost it'. He said there was a
                    build up on negative thoughts, emotions and stresses which he could not manage at the time of the
                    offence. He said that the incident was a wake up call for him as it highlighted that he needed to
                    get
                    help.</p>
                  <p>Peer pressure: Dylan stated that when people are influenced by others especially friends it can
                    become
                    very difficult to say no. He said you may give into pressure to avoid confrontation. He then took
                    part
                    in the skills practice where he was convincing other group member to go to the pub. He said for
                    him
                    if
                    he was single he would give in easily but as he has responsibilities he would say no he said he is
                    trying to focus on himself and trying to be a better dad and partner.</p>
                  <p>Check out: said he found most of the session useful an it helps him to see how far he has come.
                  </p>
                  <p>Updated by: [USER]: 2020/02/20 - 12:45:24 GMT</p>
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-1">
                IAPS Contact - Other
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
              Relates to Court - Accredited Programme (Building Better Relationships (BBR))
            </div>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-1">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Date</dt>
                <dd class="govuk-summary-list__value">19 Feb 2020 00:22</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Outcome</dt>
                <dd class="govuk-summary-list__value">- </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Officer </dt>
                <dd class="govuk-summary-list__value">Staff, IAPS Staff(C13) </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Notes</dt>
                <dd class="govuk-summary-list__value">
                  <p>Allocated to Programme: BBRP CRC- PROGRAMMES, Schedule: BBR HeE20-1</p>
                  <p>Updated by: USER: 2020/02/18 - 13:11:27 GMT</p>
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-2">
                IAPS Contact - Other
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
              Relates to Court - Accredited Programme (Building Better Relationships (BBR))
            </div>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-2">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Date</dt>
                <dd class="govuk-summary-list__value">18 Feb 2020 11:11</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Outcome</dt>
                <dd class="govuk-summary-list__value">- </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Officer </dt>
                <dd class="govuk-summary-list__value">Staff, IAPS Staff(C13) </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Notes</dt>
                <dd class="govuk-summary-list__value">
                  <p>Unallocated from BBR HeE19-9.</p>
                  <p>Unallocation Reason: Missed too many sessions</p>
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-3">
                Management Oversight
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
              Relates to Offender
            </div>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-3">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Date</dt>
                <dd class="govuk-summary-list__value">13 Feb 2020 13:30 </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Outcome</dt>
                <dd class="govuk-summary-list__value">-</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Officer </dt>
                <dd class="govuk-summary-list__value">Chong, Judith </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Notes</dt>
                <dd class="govuk-summary-list__value">
                  <p>discussion with RO. Issues securing compliance at the beginning of the order, employment issues
                    with attending. However is now complying and doing well. RO to discuss with SPO if AA's become an
                    issue again.</p>
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-4">
                IAPS Attendance (NS)
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-4">
              Relates to Court - Accredited Programme (Building Better Relationships (BBR))
            </div>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-4">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Date</dt>
                <dd class="govuk-summary-list__value">05 Feb 2020 17:00</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Outcome</dt>
                <dd class="govuk-summary-list__value">-</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Officer </dt>
                <dd class="govuk-summary-list__value">Staff, IAPS Staff(C13) </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Notes</dt>
                <dd class="govuk-summary-list__value">
                  <p>Programme: Main session Foundation Module Review</p>
                  <p>Scheduled</p>
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <!-- <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-5">
                IAPS Attendance (NS)
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-5">
              Relates to Court - Accredited Programme (Building Better Relationships (BBR))
            </div>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-4">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Date</dt>
                <dd class="govuk-summary-list__value">05 Feb 2020 16:00</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Outcome</dt>
                <dd class="govuk-summary-list__value">-</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Officer </dt>
                <dd class="govuk-summary-list__value">Staff, IAPS Staff(C13) </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Notes</dt>
                <dd class="govuk-summary-list__value">
                  <p>Programme: Catchup session Foundation Module 6</p>
                  <p>Scheduled</p>
                </dd>
              </div>
            </dl>
          </div>
        </div> -->
      </div>
      <p class="govuk-body"><a href="#">View full contact list (opens in nDelius)</a></p>

    </div>



  </div>

  <div class="govuk-grid-column-one-third">
  </div>



</div>




{% endblock %}