{% extends "layout.html" %}


{% block pageTitle %}
ORA Community Order (18 Months)
{% endblock %}

{% block bodyStart %}
<section class="key-details-bar" aria-label="Key details">
  <div class="key-details-bar__key-details">
    <div class="key-details-bar__top-block">
      <span class="govuk-visually-hidden">Name:</span>
      <span class="key-details-bar__name">Dylan Adam ARMSTRONG</span>
      <span class="key-details-bar__nino"></span>
      <span class="govuk-visually-hidden">Status from nDelius:</span>
      <span class="key-details-bar__status">Current offender</span>
      <!-- <span class="govuk-visually-hidden">Status from nDelius:</span>
      <span class="key-details-bar__status govuk-!-margin-right-2">Medium Risk of Serious Harm</span> -->
    </div>
    <div class="key-details-bar__bottom-block">
      <span class="govuk-body govuk-!-margin-right-6">Date of birth: 27/09/1984</span> <span
        class="govuk-body govuk-!-margin-right-6">CRN: DX12340A</span><span class="govuk-body">PNC: A1234560BA</span>
      <p class="govuk-body govuk-!-margin-0 app-!-float-right">

      </p>
    </div>
  </div>
</section>
{% endblock %}


{% block beforeContent %}
<a href="/case/probationrecord.html" class="govuk-back-link">Back to probation record</a>
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">
      <span class="govuk-caption-l">Order performance</span>
      ORA Community Order (18 Months)
    </h1>
    <div class="govuk-!-margin-bottom-9">
      <p class="govuk-body">Common assault and battery - 10501</p>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0 secondary-text-col">Started on</p>
          <p class="govuk-body-l govuk-!-margin-bottom-0"><strong>05 Sept 2019</strong></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0 secondary-text-col">Ends</p>
          <p class="govuk-body-l govuk-!-margin-bottom-0"><strong>04 March 2021</strong></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0 secondary-text-col">Time remaining</p>
          <p class="govuk-body-l govuk-!-margin-bottom-0"><strong>13 months</strong></p>
        </div>
      </div>
    </div>


    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Rehabilitation Activity Requirement (RAR)</h3>

      <dl class="govuk-summary-list" style="margin-bottom: 20px;">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Length</dt>
          <dd class="govuk-summary-list__value">20 days</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Attended</dt>
          <dd class="govuk-summary-list__value">
            <div class="percentage-indicator" style="
          display: block;
          background-color: #bfc1c3;
          position: relative;
          width: 100%;">
              <span class="percentage-indicator__bar"
                style="width: 15%;display: block;padding: 8px;background-color: #006435;color: #fff;height: 100%;line-height: 16px;"
                title="40% similarity to search terms">3 days</span>
            </div>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Unacceptable absences</dt>
          <dd class="govuk-summary-list__value">2</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Last attendance</dt>
          <dd class="govuk-summary-list__value">23 Sept 2019</dd>
        </div>
      </dl>

      <!-- <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0" style="
    font-weight: bold;">Unacceptable absences</p>
          <p class="govuk-body-l" style="margin-bottom: 0;">2</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0" style="font-weight: bold;">Last attendance</p>
          <p class="govuk-body-l" style="margin-bottom: 0;">29 Sept 2019</p>
        </div>

      </div> -->
    </div>

    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Court - Accredited Programme - Building Better Relationships
        (BBR)
      </h3>
      <strong class="govuk-tag moj-tag--grey">Not started</strong>
    </div>

    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Unpaid work - regular</h3>
      <dl class="govuk-summary-list" style="margin-bottom: 20px;">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Length</dt>
          <dd class="govuk-summary-list__value">40 hours</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Credited</dt>
          <dd class="govuk-summary-list__value">
            <div class="percentage-indicator" style="
          display: block;
          background-color: #bfc1c3;
          position: relative;
          width: 100%;">
              <span class="percentage-indicator__bar"
                style="width: 53%;display: block;padding: 4px;background-color: #006435;color: #fff;height: 100%;line-height: 16px;padding: 8px;"
                title="40% similarity to search terms">21 hours</span>
            </div>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Unacceptable absences</dt>
          <dd class="govuk-summary-list__value">1</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Last attendance</dt>
          <dd class="govuk-summary-list__value">28 Sept 2019</dd>
        </div>
      </dl>
      <!-- <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0" style="font-weight: bold;">Unacceptable absences</p>
          <p class="govuk-body-l" style="margin-bottom: 0;">1</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0" style="font-weight: bold;">Last attendance</p>
          <p class="govuk-body-l" style="margin-bottom: 0;">28 Sept 2019</p>
        </div>
      </div> -->
    </div>

    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Recent contacts</h3>
      <table class="govuk-table govuk-table-xl">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row govuk-!-font-size-16">
            <th scope="col" class="govuk-table__header">Contact type</th>
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header">Notes</th>
            <th scope="col" class="govuk-table__header">Officer</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell">Planned Office Visit (NS) </td>
            <td class="govuk-table__cell">23 Sept 2019 18:30</td>
            <td class="govuk-table__cell">text message sent on work mobile</td>
            <td class="govuk-table__cell"> John Doe</td>
          </tr>
          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell">Phone Contact from Other </td>
            <td class="govuk-table__cell">23 Sept 2019 09:04</td>
            <td class="govuk-table__cell">Telecon received from SU's sister. Calling up on behalf of brother who was at
              work. Needed address for office. As address is in public domain was able to provide postcode</td>
            <td class="govuk-table__cell"> Sally Smith</td>
          </tr>
          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell">Breach Action - First Warning Letter Sent </td>
            <td class="govuk-table__cell">17 Sept 2019 13:41</td>
            <td class="govuk-table__cell">-</td>
            <td class="govuk-table__cell"> Unallocated</td>
          </tr>
          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell">Management oversight </td>
            <td class="govuk-table__cell">17 Sept 2019 11:17</td>
            <td class="govuk-table__cell" style="width: 55%;">case discussion around Mr Armstrong's employment and his
              ability to make appointments due to his working hours and having to travel to work on public transport. He
              doesn't want to jeopardise his job, however we cannot take the order back to court until we have evidence
              that he can't make appointments. John to offer an evening appointment to him next week it is his
              responsibility to attend. If he does not attend we will breach him. He can then explain his situation to
              the court.</td>
            <td class="govuk-table__cell"> Susan Jones</td>
          </tr>
        </tbody>
      </table>
    </div>



  </div>

  <div class="govuk-grid-column-one-third">
  </div>



</div>




{% endblock %}