{% extends "layout.html" %}


{% block pageTitle %}
ORA Community Order (18 Months)
{% endblock %}

{% block bodyStart %}
{% block keyDetails %}
{% include "includes/key_details/1_Armstrong.html" %}
{% endblock %}
{% endblock %}


{% block beforeContent %}
<a href="/cases/1/probationrecord.html" class="govuk-back-link">Back to probation record</a>
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">
      <!-- <span class="govuk-caption-l">Order performance</span> -->
      ORA Community Order (18 Months)
    </h1>
    <div class="govuk-!-margin-bottom-9">
      <p class="govuk-body">Common assault and battery - 10501</p>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0 secondary-text-col">Started</p>
          <p class="govuk-body-l govuk-!-margin-bottom-0"><strong>05 Nov 2019</strong></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0 secondary-text-col">Ends</p>
          <p class="govuk-body-l govuk-!-margin-bottom-0"><strong>04 May 2021</strong></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0 secondary-text-col">Time elapsed</p>
          <p class="govuk-body-l govuk-!-margin-bottom-0"><strong>5 months, 25 days</strong></p>
        </div>
      </div>
    </div>


    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m">Requirements</h3>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Requirement</th>
            <th scope="col" class="govuk-table__header">Length</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Rehabilitation Activity Requirement (RAR) </td>
            <td class="govuk-table__cell">20 days </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Court - Accredited Programme - Building Better Relationships (BBR)</td>
            <td class="govuk-table__cell">-</td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Unpaid Work - Regular</td>
            <td class="govuk-table__cell">40 Hours</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m">Appointment attendance</h3>
      <!-- <p class="secondary-text-col">Includes requirement and planned visit appointments up untill today.</p> -->
      <p class="govuk-body">Last attendance: 2 March 2020 - IAPS Attendance (Attended - Complied)</p>
      <!-- <div class="govuk-inset-text">
        <p>Calculated on all appointments offered to date</p>
      </div> -->


      <div class="app-card">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third" style="width: 27%;">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0"><span
                class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                Appointments to date</span></h2>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0"><span class="app-dashboard-count">39</span><span
                class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
              </span></h2>
          </div>
        </div>
      </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
        style="max-width: 727px; border-bottom: 2px solid #000000;">
      <div class="app-card">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third" style="width: 27%;">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><span
                class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                Complied</span></h2>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><span class="app-dashboard-count">25</span><span
                class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">Attendances</span>
            </h2>
            <p class="govuk-body govuk-!-margin-0"><span class="govuk-body app-dashboard-count">11</span>Planned office
              visit</p>
            <p class="govuk-body govuk-!-margin-0"><span class="govuk-body app-dashboard-count">7</span>IAPS /
              Accredited programme
            </p>
            <p class="govuk-body govuk-!-margin-0"><span class="govuk-body app-dashboard-count">6</span>Unpaid work</p>
            <p class="govuk-body govuk-!-margin-0"><span class="govuk-body app-dashboard-count">1</span>Appointment with
              External
              Agency</p>
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><span class="app-dashboard-count">12</span><span
                class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                Absences </span></h2>
            <p class="govuk-body govuk-!-margin-0 seo"><span class="govuk-body app-dashboard-count">6</span>Employment
            </p>
            <p class="govuk-body govuk-!-margin-0 seo"><span class="govuk-body app-dashboard-count">3</span>Professional
              judgement decision</p>
            <p class="govuk-body govuk-!-margin-0 seo"><span class="govuk-body- app-dashboard-count">2</span>Medical</p>
            <p class="govuk-body govuk-!-margin-0"><span class="govuk-body app-dashboard-count">1</span>Rescheduled</p>
          </div>
        </div>
      </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="
          max-width: 727px;">
      <div class="app-card">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third" style="width: 27%;">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><span
                class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                Failures to comply</span></h2>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><span class="app-dashboard-count">0</span><span
                class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                Attendances </span></h2>
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0"><span class="app-dashboard-count">0</span><span
                class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                Absences</span></h2>
          </div>
        </div>
      </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="max-width: 727px;">
      <div class="app-card">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third" style="width: 27%;">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><span
                class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">Awaiting
                outcome</span>
            </h2>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><span class="app-dashboard-count">2</span><span
                class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
              </span></h2>
          </div>
        </div>
      </div>





      <!-- <dt class="govuk-summary-list__key">Last attendance</dt>
              <dd class="govuk-summary-list__value">19 Feb 2020 - IAPS Attendance (NS) - Attended - Complied</dd> -->
      <!-- <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Last attendance</dt>
          <dd class="govuk-summary-list__value">19 Feb 2020 - IAPS Attendance (NS) - Attended - Complied</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Appointments offered</dt>
          <dd class="govuk-summary-list__value">40 </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Appointments attended</dt>
          <dd class="govuk-summary-list__value">26</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Acceptable absences </dt>
          <dd class="govuk-summary-list__value">12</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Unacceptable absences </dt>
          <dd class="govuk-summary-list__value">0</dd>
        </div>
      </dl> -->
      <!-- <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-4">
          <p class="govuk-body-l govuk-!-margin-bottom-0 govuk-!-font-size-36"><strong>37</strong></p>
          <p class="govuk-body govuk-!-margin-bottom-0"> Appointments offered</p>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <p class="govuk-body-l govuk-!-margin-bottom-0 govuk-!-font-size-36"><strong>23</strong></p>
          <p class="govuk-body govuk-!-margin-bottom-0">Appointments attended</p>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <p class="govuk-body-l govuk-!-margin-bottom-0 govuk-!-font-size-36"><strong>12</strong></p>
          <p class="govuk-body govuk-!-margin-bottom-0">Acceptable absences</p>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <p class="govuk-body-l govuk-!-margin-bottom-0 govuk-!-font-size-36"><strong>0</strong></p>
          <p class="govuk-body govuk-!-margin-bottom-0">Unacceptable absences</p>
        </div>
      </div>
      <p class="govuk-body">Last attendance&ensp;<span class=""><strong>22 Jan 2020 - IAPS Attendance
        (NS)</strong></span></p> -->
    </div>




    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m ">Unpaid work</h3>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Status</dt>
          <dd class="govuk-summary-list__value">Terminated - 19 Dec 2019 </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Hours ordered</dt>
          <dd class="govuk-summary-list__value">40 </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Hours worked</dt>
          <dd class="govuk-summary-list__value">40</dd>
        </div>
      </dl>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            View UPW attendance
          </span>
        </summary>
        <div class="govuk-details__text">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Appointments to date</dt>
              <dd class="govuk-summary-list__value">9 </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Attended</dt>
              <dd class="govuk-summary-list__value">6</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Acceptable absences </dt>
              <dd class="govuk-summary-list__value">3</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Failures to comply</dt>
              <dd class="govuk-summary-list__value">0</dd>
            </div>
          </dl>
        </div>
      </details>
    </div>

    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m">Contact list</h3>
      <!-- <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-1">
                IAPS Contact - Other
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
              Relates to Court - Accredited Programme (Building Better Relationships (BBR))
            </div>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
              19 Apr 2020 00:22
            </div>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-1">
            <dl class="govuk-summary-list govuk-summary-list--no-border">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Outcome</dt>
                <dd class="govuk-summary-list__value">- </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Officer </dt>
                <dd class="govuk-summary-list__value">Staff, IAPS Staff(C13) </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Notes</dt>
                <dd class="govuk-summary-list__value">
                  <p>Allocated to Programme: BBRP CRC- PROGRAMMES, Schedule: BBR HeE20-1</p>
                  <p>Updated by: USER: 2020/04/18 - 13:11:27 GMT</p>
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-2">
                IAPS Contact - Other
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
              Relates to Court - Accredited Programme (Building Better Relationships (BBR))
            </div>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
              18 Apr 2020 11:11
            </div>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-2">
            <dl class="govuk-summary-list govuk-summary-list--no-border">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Outcome</dt>
                <dd class="govuk-summary-list__value">- </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Officer </dt>
                <dd class="govuk-summary-list__value">Staff, IAPS Staff(C13) </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Notes</dt>
                <dd class="govuk-summary-list__value">
                  <p>Unallocated from BBR HeE19-9.</p>
                  <p>Unallocation Reason: Missed too many sessions</p>
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-3">
                Management Oversight
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
              Relates to Offender
            </div>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
              18 Apr 2020 13:30
            </div>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-3">
            <dl class="govuk-summary-list govuk-summary-list--no-border">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Outcome</dt>
                <dd class="govuk-summary-list__value">-</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Officer </dt>
                <dd class="govuk-summary-list__value">Chong, Judith </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Notes</dt>
                <dd class="govuk-summary-list__value">
                  <p>discussion with RO. Issues securing compliance at the beginning of the order, employment issues
                    with attending. However is now complying and doing well. RO to discuss with SPO if AA's become an
                    issue again.</p>
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-4">
                IAPS Attendance (NS)
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-4">
              Relates to Court - Accredited Programme (Building Better Relationships (BBR))
            </div>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-4">
              05 Apr 2020 17:00
            </div>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-4">
            <dl class="govuk-summary-list govuk-summary-list--no-border">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Outcome</dt>
                <dd class="govuk-summary-list__value">-</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Officer </dt>
                <dd class="govuk-summary-list__value">Staff, IAPS Staff(C13) </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Notes</dt>
                <dd class="govuk-summary-list__value">
                  <p>Programme: Main session Foundation Module Review</p>
                  <p>Scheduled</p>
                </dd>
              </div>
            </dl>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button govuk-!-font-size-19" id="accordion-default-heading-5">
                IAPS Attendance (NS)
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-5">
              Relates to Court - Accredited Programme (Building Better Relationships (BBR))
            </div>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-5">
              2 Mar 2020 18:30
            </div>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-4">
            <dl class="govuk-summary-list govuk-summary-list--no-border">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Outcome</dt>
                <dd class="govuk-summary-list__value">Attended - Complied</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Officer </dt>
                <dd class="govuk-summary-list__value">Staff, IAPS Staff(C13) </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Notes</dt>
                <dd class="govuk-summary-list__value">
                  <p>Programme: Catchup session Foundation Module 5</p>
                  <p>Scheduled</p>
                  <p>----------------------------</p>

                  <p>Programme: Main session Foundation Module 5:</p>
                  <p>Attended</p>
                  <p>Check in-No changes. Said he just works and nothing else but storing skills to use
                    Assignment-Star chart additions-Said he told lies, minimising and purposely spending time away from
                    the family.</p>
                  <p>Views of men and women-Gave the example of `women should be rescued first. He was very ridged in
                    his
                    thinking and told the group that anyone who does not believe this was a bad person. This was
                    challenged by another group member and he stuck to his opinion and would not listen to challenge. He
                    then becomes very frustrated with the process and annoyed. He is focussing too much on the example
                    and
                    not the process of challenge.</p>
                  <p>Identity map-Started map and fed back to group he was a provider and a brother and dad. Said that
                    these roles have trust and love. Said that trust is a big part of all relationships and without it
                    the
                    relationship would not exist.</p>
                  <p>Assignment- add to identity map another identity.</p>
                  <p>Check out-Said that he found the identity map interesting, as he had never thought about things
                    like
                    this before.</p>
                  <p>Tutor comments-Generally contributed but gets frustrated with the material if he does not
                    understand
                    it. This make him jump forward before the full explanation is given. Tutors will monitor this as he
                    needs to be calmer and patient.</p>
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div> -->
      <p class="govuk-body"><a href="/delius">View contact list (opens in nDelius)</a></p>

    </div>



  </div>

  <div class="govuk-grid-column-one-third">
  </div>



</div>




{% endblock %}