<section class="key-details-bar" aria-label="Key details">
  <div class="key-details-bar__key-details">
    <div style="display: inline-block">
      <div class="key-details-bar__top-block">
        <span class="govuk-visually-hidden">Name:</span>
        <span class="key-details-bar__name govuk-!-margin-right-6">Dylan Adam Armstrong</span>
        <span class="govuk-body key-details-bar_divider"><strong>CRN:</strong> J678910</span><span
          class="govuk-body"><strong>PNC:</strong> 2012/123400000F</span>
        <!-- <span class="key-details-bar__nino"></span>
      <span class="govuk-visually-hidden">Status from nDelius:</span>
      <span class="key-details-bar__status">Current offender</span> -->
        <!-- <span class="govuk-visually-hidden">Status from nDelius:</span>
      <span class="key-details-bar__status govuk-!-margin-right-2">Medium Risk of Serious Harm</span> -->
      </div>
      <div class="key-details-bar__bottom-block">
        <span class="govuk-body"><strong>Probation status:</strong> Previously known</span>
      </div>
    </div>
    <!-- <a href=""><button class="govuk-button govuk-button--secondary" data-module="govuk-button" style="
    float: right;
    margin-bottom: 0;
    color: black;
    margin-top: 18px;
">Unlink nDelius record
    </button></a> -->
  </div>
</section>