<section class="key-details-bar" aria-label="Key details">
  <div class="key-details-bar__key-details">
    <div style="display: inline-block">
      <div class="key-details-bar__top-block">
        <span class="govuk-visually-hidden">Name:</span>
        <span class="key-details-bar__name govuk-!-margin-right-6">Dylan Adam Armstrong</span>
        <span class="govuk-body"><strong>Probation status:</strong> No record</span>
      </div>
    </div>
    <!-- <a href="/cases/8/link"><button class="govuk-button govuk-button--secondary" data-module="govuk-button" style="
    float: right;
    margin-bottom: 0;
    color: black;
    top: -5px;
">Link nDelius record
    </button></a> -->
  </div>
</section>