{% extends "layout.html" %}


{% block pageTitle %}
Choose probation record
{% endblock %}

{% block beforeContent %}
<a href="match-overview.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Choose probation record</h1>
    <p class="govuk-body-l">Select and confirm the probation record that matches the defendant's details.</p>
    <div class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">Defendant's details</h2>
      <div class="moj-scrollable-pane">
        <div class="moj-scrollable-pane__wrapper">
          <table class="govuk-table match-record-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header match-table-radio2" aria-sort="none"></th>
                <th scope="col" class="govuk-table__header match-table-name" aria-sort="none">Name</th>
                <th scope="col" class="govuk-table__header match-table-dob" aria-sort="none">Date of birth</th>
                <th scope="col" class="govuk-table__header match-table-gender" aria-sort="none">Gender</th>
                <th scope="col" class="govuk-table__header match-table-pnc" aria-sort="none">PNC</th>
                <th scope="col" class="govuk-table__header match-table-summary" aria-sort="none">
                </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <div style="display: none;" class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="changed-name"></label>
                    </div>
                  </div>
                </td>
                <td class="govuk-table__cell">Klara McDonald
                </td>
                <td class="govuk-table__cell">24/08/1992</td>
                <td class="govuk-table__cell">Female</td>
                <td class="govuk-table__cell">A1237890BA</td>
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href=""></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">4 probation records found</h2>
      <div class="moj-scrollable-pane">
        <div class="moj-scrollable-pane__wrapper">
          <table class="govuk-table match-record-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header match-table-radio" aria-sort="none"></th>
                <th scope="col" class="govuk-table__header match-table-name" aria-sort="none">Name</th>
                <th scope="col" class="govuk-table__header match-table-dob" aria-sort="none">Date of birth</th>
                <th scope="col" class="govuk-table__header match-table-gender" aria-sort="none">Gender</th>
                <th scope="col" class="govuk-table__header match-table-pnc" aria-sort="none">PNC</th>
                <th scope="col" class="govuk-table__header match-table-summary" aria-sort="none">Offender summary
                </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="changed-name"></label>
                    </div>
                  </div>
                </td>
                <td class="govuk-table__cell"><span class="highlight">Klara</span> <span class="highlight">MCDONALD</span><span class="moj-badge-wrapper govuk-!-margin-top-1"><span
                      class="moj-badge">Current
                      offender</span></span>
                </td>
                <td class="govuk-table__cell"><span class="highlight">24/08/1992</span></td>
                <td class="govuk-table__cell"><span class="highlight">Female</span></td>
                <td class="govuk-table__cell"><span class="highlight">A1237890BA</td>
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="">View
                    summary</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="changed-name"></label>
                    </div>
                  </div>
                </td>
                <td class="govuk-table__cell"><span class="highlight">Klara</span> Olivia <span class="highlight">MCDONALD</span></td>
                <td class="govuk-table__cell"><span class="highlight">24/08/1992</span></td>
                <td class="govuk-table__cell"><span class="highlight">Female</span></td>
                <td class="govuk-table__cell"><span class="highlight">A1237890BA</span></td>
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="">View
                    summary</a></td>
              </tr>
              <tr>
                <td class="govuk-table__cell">
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="changed-name"></label>
                    </div>
                  </div>
                </td>
                <td class="govuk-table__cell"><span class="highlight">Klara</span> REED</td>
                <td class="govuk-table__cell">06/03/1991</td>
                <td class="govuk-table__cell"><span class="highlight">Female</span></td>
                <td class="govuk-table__cell"><span class="highlight">A1237890BA</span></td>
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="">View summary</a></td>
              </tr>
              <tr>
                <td class="govuk-table__cell">
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="changed-name"></label>
                    </div>
                  </div>
                </td>
                <td class="govuk-table__cell">Rebecca MUNRO</td>
                <td class="govuk-table__cell">02/06/<span class="highlight">1992</span></td>
                <td class="govuk-table__cell"><span class="highlight">Female</span></td>
                <td class="govuk-table__cell"><span class="highlight">A1237890BA</span></td>
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="">View summary</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="moj-button-menu">
        <div class="moj-button-menu__wrapper">
          <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item  "
            data-module="govuk-button">
            Match with this record
          </a>
        </div>
      </div>
    </div>
    <div class="">
      <h2 class="govuk-heading-m">Can't find a matching record?</h2>
      <p class="govuk-body">If the defendant is not known to probation and has no matching record;
        please confirm this is a new offender.</p>
      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="">This is a new
          offender</a></p>
    </div>
  </div>
</div>

{% endblock %}
