{% extends "layout.html" %}

{% block head %}
  {% include "./includes/head-noprimary.html" %}
{% endblock %}

{% block pageTitle %}
  Select a court
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Select a court</h1>
      <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-2">
        <a href="cases/day/2020-06-17/case-list" class="govuk-link govuk-link--no-visited-state">
          Barnsley</a>
      </p>
      <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-2">
        <a href="cases/day/2020-06-17/case-list" class="govuk-link govuk-link--no-visited-state">
          Beverley</a>
      </p>
      <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-2">
        <a href="cases/day/2020-06-17/case-list" class="govuk-link govuk-link--no-visited-state">
          Birmingham</a>
      </p>
      <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-2">
        <a href="cases/day/2020-06-17/case-list" class="govuk-link govuk-link--no-visited-state">
          Cardiff</a>
      </p>
      <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-2">
        <a href="cases/day/2020-06-17/case-list" class="govuk-link govuk-link--no-visited-state">
          Doncaster</a>
      </p>
      <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-2">
        <a href="cases/day/2020-06-17/case-list" class="govuk-link govuk-link--no-visited-state">
          Highbury Corner</a>
      </p>
      <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-2">
        <a href="cases/day/2020-06-17/case-list" class="govuk-link govuk-link--no-visited-state">
          Hull</a>
      </p>
      <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-2">
        <a href="cases/day/2020-06-17/case-list" class="govuk-link govuk-link--no-visited-state">
          Mid and South East Northumberland</a>
      </p>
      <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-2">
        <a href="cases/day/2020-06-17/case-list" class="govuk-link govuk-link--no-visited-state">
          Newcastle</a>
      </p>
      <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-2">
        <a href="cases/day/2020-06-17/case-list" class="govuk-link govuk-link--no-visited-state">
          North Tyneside</a>
      </p>
      <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-2">
        <a href="cases/day/2020-06-17/case-list" class="govuk-link govuk-link--no-visited-state">
          Sheffield</a>
      </p>
    </div>
  </div>
{% endblock %}
