{% extends "layout.html" %}


{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/key_details/9_Smith.html" %}
{% endblock %}


{% endblock %}


{% block beforeContent %}
<a href="/cases/day/2020-06-17/case-list" class="govuk-back-link">Back to cases</a>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">You are restricted from viewing this case</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="">
      <p class="govuk-body-l">Zane Harris Smith</p>
      <p class="govuk-body">You cannot view this case because the defendant is recorded as personally known to
        you.</p>
      <p class="govuk-body">If you think you should be able to view this case, contact your line manager.</p>
      <p class="govuk-body"><a href="/cases/day/2020-06-17/case-list" class="govuk-link govuk-link--no-visited-state">Return to cases</a></p>
    </div>
  </div>
</div>


{% endblock %}
