{% extends "layout.html" %}


{% block pageTitle %}
Match defendant
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="cases.html" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">
      Confirm offender record
    </h1>
    <div class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">Defendant's details:</h2>
      </h2>
      <p class="govuk-body-l govuk-!-margin-bottom-0">Klara Marie McDonald</p>
      <p class="govuk-hint">Appearing in courtroom 1, Monday 18 November, 10:00 to 13:00</p>
      <ul class="govuk-list" style="list-style:none;">
          <li>Date of birth: 24/08/1993</li>
          <li>Gender: Female</li>
          <li>PNC: Not recorded</li>
          <li>Address: 10, King Road, Southey. S12 5GH</li>
        </ul>

    </div>

    <div class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">2 records found in nDelius:</h2>
      <p class="govuk-body govuk-!-margin-bottom-3">Confirm if one of the offender records matches the defendant
        details.</p>
      <div class="moj-scrollable-pane">
        <div class="moj-scrollable-pane__wrapper">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" aria-sort="none">Name</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Date of birth</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Gender</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">CRN</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Address</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Offender summary</th>
                <th scope="col" class="govuk-table__header" aria-sort="none"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><span class="highlight">Klara Marie McDonald</span></td>
                <td class="govuk-table__cell"><span class="highlight">24/08/1993</span></td>
                <td class="govuk-table__cell"><span class="highlight">Female</span></td>
                <td class="govuk-table__cell">DX12340A</td>
                <td class="govuk-table__cell">No fixed abode</td>
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="">View summary</a></td>
                <td class="govuk-table__cell">
                  <a href="details.html" role="button" draggable="false" class="govuk-button moj-button-menu__item"
                    data-module="govuk-button">Confirm match</a>
                </td>
              </tr>
              <tr>
                <td class="govuk-table__cell"><span class="highlight">Klara Marie McDonald</span> <span class="moj-badge-wrapper"><span
                  class="moj-badge">Current
                  offender</span></span></td>
                <td class="govuk-table__cell"><span class="highlight">24/08/1993</span></td>
                <td class="govuk-table__cell"><span class="highlight">Female</span></td>
                <td class="govuk-table__cell">DX12341A</td>
                <td class="govuk-table__cell">32, Walton Street, Sheffield. S11 7HG</td>
                <td class="govuk-table__cell"><a href="/cases/1234.html">View summary</a></td>
                <td class="govuk-table__cell">
                  <a href="details.html" role="button" draggable="false" class="govuk-button moj-button-menu__item"
                    data-module="govuk-button">Confirm match</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="">
      <h2 class="govuk-heading-m">Can't find a matching record?</h2>
      <p class="govuk-body">If the offender is not known to probation and therefore has no matching record in nDelius;
        you can continue.</p>
      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="/details.html">This is a new offender</a></p>
    </div>
  </div>
</div>

{% endblock %}
