{% extends "layout-main.html" %}


{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}
<div class="govuk-width-container">
  <a href="#" onclick="javascript:history.go(-1)" class="govuk-back-link">Back to cases</a>
</div>
{% block keyDetails %}
{% include "includes/key_details/11_Hart-new-no-record.html" %}
{% endblock %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Case summary</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-!-margin-bottom-8">
      <h2 class="govuk-heading-m">Appearance</h2>
      <p class="govuk-body">Court 1, morning session, Thursday 24 February (1st listing).</p>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-!-margin-bottom-8">
      <h2 class="govuk-heading-m">Offences</h2>
      <h3 class="govuk-heading-s govuk-!-margin-top-4">Common assault and battery</h3>
      <p class="govuk-body govuk-!-margin-bottom-2">On Wednesday 15th February 2021 at Grey Lane, S10 1AG, assaulted Paul
        Smith by beating him.</p>
      <p class="govuk-body secondary-text-col">Contrary to section 39 of the Criminal Justice Act 1988.</p>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-!-margin-bottom-8">
      <h2 class="govuk-heading-m">
        Defendant details
      </h2>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Gary Hart
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Gender
          </dt>
          <dd class="govuk-summary-list__value">
            Male
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            22 December 2000 (20 years old)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone number
          </dt>
          <dd class="govuk-summary-list__value">
            07123 123456 (Mobile)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            22 Crombie Street<br> Haldon<br> Sheffield<br> S68 4EY
          </dd>
        </div>
      </dl>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="govuk-!-margin-bottom-8">
      <h2 class="govuk-heading-m">Case action</h2>
          <a href="oral-psr-request" role="button" draggable="false" class="govuk-button" style="margin: 10px 0 0;" data-module="govuk-button">Request oral pre-sentence report</a>
    </div>
  </div>
</div>
</div>


{% endblock %}
