{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  {% include "../../includes/head-psr.html" %}
{% endblock %}

{% block pageTitle %}
  Record anticipated plea
{% endblock %}

{% block bodyStart %}
  {% block keyDetails %}
    {% include "../../includes/key_details/1_Armstrong.html" %}
  {% endblock %}
{% endblock %}

{% block beforeContent %}
  <a href="../day/2020-06-17/case-list.html" class="govuk-back-link">Back to
    cases</a>
{% endblock %}

{% block content %}
  {% if (data['banner-anticipated-plea-visible'] == 'True') %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          Anticipated plea recorded
        </h3>
      </div>
    </div>
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <nav class="moj-sub-navigation" aria-label="Sub navigation">
        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="case-summary">
              Case summary</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="probation-record">
              Probation record</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="risk-register">
              Risk register</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page" href="anticipated-plea">
              Anticipated plea</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  {% include "../../includes/case-information/adam-armstrong/anticipated-plea-content.html" %}
{% endblock %}
