.app-filter-button {
  border: 1px solid black;
  @include govuk-font(19);
  padding: 5px 10px;
  text-align: left;
  height: 35px;

  &:after {
    display: inline-block;
    content: "";
    position: relative;
    border-style: solid;
    border-width: 3px 3px 0 0;
    transform: rotate(135deg);
    height: 8px;
    width: 8px;
    top: -2px;
    margin-left: 10px;
  }

  &--open {
    border-bottom: 0;

    &:after {
      top: 3px;
      transform: rotate(-45deg);
    }
  }

  &--selected {
    @include govuk-typography-weight-bold;
  }
}

.app-apply-filters-button {
  padding: 5px 25px;
  float: left;

  &:after {
    @include govuk-clearfix;
  }
}