{% extends "layout-main.html" %}


{% block pageTitle %}
Cases
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<header class="govuk-grid-row govuk-!-margin-bottom-7">
  <div class="govuk-grid-column-full">
    <!-- <span class="govuk-caption-l">
      Cases
    </span> -->
    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      <time class="" datetime="2021-11-11">
        Thursday 21 July <span class="secondary-text-col">(Yesterday)</span>
      </time>

    </h1>

    <nav class="app-pagination app-pagination--inline app-print--hide" role="navigation" aria-label="Pagination">
      <ul class="app-pagination__list">
        <li class="app-pagination__list-item">
          <a href="" class="app-pagination__link calendar-nav-link">
            <span class="app-pagination__link-title calendar-nav-title">
              <span class="app-pagination__link-text calendar-nav-text">Fri</span><br>
              <span class="app-pagination__link-text calendar-nav-text govuk-!-font-weight-bold govuk-!-font-size-24">15</span>
            </span>
          </a>
        </li>
        <li class="app-pagination__list-item">
          <a href="" class="app-pagination__link calendar-nav-link">
            <span class="app-pagination__link-title calendar-nav-title">
              <span class="app-pagination__link-text calendar-nav-text">Sat</span><br>
              <span class="app-pagination__link-text calendar-nav-text govuk-!-font-weight-bold govuk-!-font-size-24">16</span>
            </span>
          </a>
        </li>
        <li class="app-pagination__list-item">
          <a href="" class="app-pagination__link calendar-nav-link">
            <span class="app-pagination__link-title calendar-nav-title">
              <span class="app-pagination__link-text calendar-nav-text">Mon</span><br>
              <span class="app-pagination__link-text calendar-nav-text govuk-!-font-weight-bold govuk-!-font-size-24">18</span>
            </span>
          </a>
        </li>
        <li class="app-pagination__list-item">
          <a href="" class="app-pagination__link calendar-nav-link">
            <span class="app-pagination__link-title calendar-nav-title">
              <span class="app-pagination__link-text calendar-nav-text">Tue</span><br>
              <span class="app-pagination__link-text calendar-nav-text govuk-!-font-weight-bold govuk-!-font-size-24">19</span>
            </span>
          </a>
        </li>
        <li class="app-pagination__list-item">
          <a href="" class="app-pagination__link calendar-nav-link">
            <span class="app-pagination__link-title calendar-nav-title">
              <span class="app-pagination__link-text calendar-nav-text">Wed</span><br>
              <span class="app-pagination__link-text calendar-nav-text govuk-!-font-weight-bold govuk-!-font-size-24">20</span>
            </span>
          </a>
        </li>
        <li class="app-pagination__list-item">
          <a href="" class="app-pagination__link calendar-nav-link-active">
            <span class="app-pagination__link-title calendar-nav-title">
              <span class="app-pagination__link-text calendar-nav-text-active">Thu</span><br>
              <span class="app-pagination__link-text calendar-nav-text-active govuk-!-font-weight-bold govuk-!-font-size-24">21</span>
            </span>
          </a>
        </li>
        <li class="app-pagination__list-item">
          <a href="/cases/day/2022-07-20/case-list" class="app-pagination__link calendar-nav-link-today">
            <span class="app-pagination__link-title calendar-nav-title">
              <span class="app-pagination__link-text calendar-nav-text-today">Fri</span><br>
              <span class="app-pagination__link-text calendar-nav-text-today govuk-!-font-weight-bold govuk-!-font-size-24">22</span>
            </span>
          </a>
        </li>
        <li class="app-pagination__list-item">
          <a href="/cases/day/2022-07-21/case-list.html" class="app-pagination__link calendar-nav-link">
            <span class="app-pagination__link-title calendar-nav-title">
              <span class="app-pagination__link-text calendar-nav-text">Sat</span><br>
              <span class="app-pagination__link-text calendar-nav-text govuk-!-font-weight-bold govuk-!-font-size-24">23</span>
            </span>
          </a>
        </li>
        <li class="app-pagination__list-item">
          <a href="/cases/day/random-day/case-list.html" class="app-pagination__link calendar-nav-link">
            <span class="app-pagination__link-title calendar-nav-title">
              <span class="app-pagination__link-text calendar-nav-text">Mon</span><br>
              <span class="app-pagination__link-text calendar-nav-text govuk-!-font-weight-bold govuk-!-font-size-24">25</span>
            </span>
          </a>
        </li>
        <li class="app-pagination__list-item">
          <a href="" class="app-pagination__link calendar-nav-link">
            <span class="app-pagination__link-title calendar-nav-title">
              <span class="app-pagination__link-text calendar-nav-text">Tue</span><br>
              <span class="app-pagination__link-text calendar-nav-text govuk-!-font-weight-bold govuk-!-font-size-24">26</span>
            </span>
          </a>
        </li>
        <li class="app-pagination__list-item">
          <a href="" class="app-pagination__link calendar-nav-link">
            <span class="app-pagination__link-title calendar-nav-title">
              <span class="app-pagination__link-text calendar-nav-text">Wed</span><br>
              <span class="app-pagination__link-text calendar-nav-text govuk-!-font-weight-bold govuk-!-font-size-24">27</span>
            </span>
          </a>
        </li>
        <li class="app-pagination__list-item">
          <a href="" class="app-pagination__link calendar-nav-link">
            <span class="app-pagination__link-title calendar-nav-title">
              <span class="app-pagination__link-text calendar-nav-text">Thu</span><br>
              <span class="app-pagination__link-text calendar-nav-text govuk-!-font-weight-bold govuk-!-font-size-24">28</span>
            </span>
          </a>
        </li>
        <li class="app-pagination__list-item">
          <a href="" class="app-pagination__link calendar-nav-link">
            <span class="app-pagination__link-title calendar-nav-title">
              <span class="app-pagination__link-text calendar-nav-text">Fri</span><br>
              <span class="app-pagination__link-text calendar-nav-text govuk-!-font-weight-bold govuk-!-font-size-24">29</span>
            </span>
          </a>
        </li>
      </ul>

      

  </div>
  <!-- <div class="govuk-grid-column-one-third">
  </div> -->
</header>

<!-- <div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body" style="
    border-left: 8px solid #1d70b8;
    background: #e6eff7;
    padding: 20px;
    margin-bottom: 0;
">
      <span class="app-task-impact-number" style="
      font-size: 64px;
      font-weight: bold;
      float: left;
      margin-right: 12px;
      text-decoration: none;
      line-height: 1;
      position: relative;
      bottom: 3px;
      ">1</span> <span class="app-task-descriptor" style="
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: none;
    ">defendant with possible records to review</span>

<a href="/cases/day/2020-06-17/defendants-with-possible-records"><span class="link" style="
    display: block; margin-top: 10px;
    ">View defendant</span></a>
    </p>

  </div>
</div> -->

<div class="govuk-tabs" data-module="govuk-tabs">

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="case-list.html">
        Case list
      </a>
    </li>
    <!-- <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="recent-updates.html">
        Recent updates (6)
      </a>
    </li> -->
    
    <!-- <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="removed-cases.html">
        Removed cases (3)
      </a>
    </li> -->
  </ul>
</div>

{% block filter %}
{% include "includes/filter.html" %}
{% endblock %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <span class="govuk-heading-m">12 cases</span>
  </div>
  <div class="govuk-grid-column-one-half">

  </div>
</div>

{% block courtList %}
{% include "includes/2020-06-19-court-list.html" %}
{% endblock %}

<nav class="moj-pagination" id="pagination-label">
  <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
  <ul class="moj-pagination__list">
    <li class="moj-pagination__item  moj-pagination__item--prev">
      <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
    </li>
    <li class="moj-pagination__item moj-pagination__item--active">1</li>
    <li class="moj-pagination__item"><a class="moj-pagination__link" href="">2</a></li>
    <li class="moj-pagination__item"><a class="moj-pagination__link" href="">3</a></li>
    <li class="moj-pagination__item"><a class="moj-pagination__link" href="">4</a></li>
    <li class="moj-pagination__item"><a class="moj-pagination__link" href="">5</a></li>
    <li class="moj-pagination__item  moj-pagination__item--next">
      <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
    </li>
  </ul>
  <p class="moj-pagination__results">Showing <b>1</b> to <b>12</b> of <b>187</b> cases</p>
</nav>

{% endblock %}
