{% extends "../layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:window.history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
{{data.applicationName}} - Upload documents
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% if uploads.deletedFile %}
        {{ mojBanner({
        type: 'success',
        text: '' + uploads.deletedFile.fileName + ' has been deleted',
        iconFallbackText: 'Success'
        }) }}
        {% endif %}
        <span class="govuk-caption-l">Book a recall for Wesley Holt</span>
        <h1 class="govuk-heading-l">Upload documents</h1>
        {% if uploads.allMandatoryUploaded %}
        <p class="govuk-body govuk-!-margin-bottom-6">Your documents have been uploaded.</p>
        {% else %}
        <p class="govuk-body">You can upload:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>a licence</li>
            <li>a part A recall report</li>
            <li>a previous convictions sheet</li>
            <li>an OASys report</li>
            <li>any supprting documents</li>
        </ul>
        <p class="govuk-body govuk-!-margin-bottom-6">You can only upload PDFs.</p>
        {% endif %}

        <div class="document-upload">
        <form novalidate action="/cases/12/test" method="post" enctype="multipart/form-data">
            <div class="govuk-form-group">
                <div class="moj-multi-file__uploaded-files">
                {% include '../partials/uploadedDocumentsStatus.njk' %}
                </div>

                <div class="moj-multi-file-upload__upload">
                {{ govukFileUpload({
                id: 'documents',
                name: 'documents',
                classes: 'moj-multi-file-upload__input',
                label: {
                text: 'Upload files',
                classes: "govuk-visually-hidden"
                },
                attributes: {
                multiple: true
                }
                }) }}
                </div>
            </div>
            <button class="govuk-button govuk-button--secondary moj-multi-file-upload__button" name="upload" value="upload">
                Upload files
            </button>
            <div class="govuk-!-margin-top-4">
                <button class="govuk-button" name="continue" value="continue">Continue</button>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}


{% block pageScripts %}
<script src="/javascripts/document-upload.js"></script>
<script>
  if (typeof DocumentUpload !== 'undefined') {
    new DocumentUpload({
      container: $('.document-upload'),
      uploadUrl: '/cases/12/test.html'
    })
  }
</script>
{% endblock %}
