
{% if uploads.files.length %}
    <h2 class="govuk-heading-m">Uploaded files</h2>
    <dl class="govuk-summary-list">
        {% for file in uploads.files %}
            <div class="govuk-summary-list__row">
                <dt class=" govuk-summary-list__key">
                    <a href='#' target='_blank' class='govuk-link'>{{ file.fileName }}</a>
                </dt>
                <dd class="govuk-summary-list__value">
                    <input type='hidden' name='existingUpload' value='{{file.id}}'/>
                    {% if file.category == 'UNCLASSIFIED' %}
                        <div class="flex flex--col">
                            <label class="govuk-label govuk-visually-hidden" for="1-type">
                                Select the document type
                            </label>
                            <select class="govuk-select document-upload-select-type" id="{{ file.id }}-type" name="{{ file.id }}-type" data-id="{{ file.id }}">
                                <option value="">Choose type</option>
                                <option value="CPS_PACK">CPS pack</option>
                                <option value="DV_LOGS">DV logs</option>
                            </select>
                        </div>
                    {% else %}
                        {{ file.label }}
                    {% endif %}


                </dd>
                <dd class="govuk-summary-list__actions">
                    <button type="submit" class="reset-button link-button" name="delete" value="{{file.id}}">Delete</button>
                </dd>
            </div>
        {% endfor %}
    </dl>
{% endif %}