{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:window.history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
{{data.applicationName}} - Upload documents
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        {% if uploads.deletedFile %}
        {{ mojBanner({
        type: 'success',
        text: '' + uploads.deletedFile.fileName + ' has been deleted',
        iconFallbackText: 'Success'
        }) }}
        {% endif %}
        <h1 class="govuk-heading-l">Upload documents</h1>
        <p class="govuk-body">You can upload:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>CPS pack</li>
            <li>DV logs</li>
        </ul>
        <p class="govuk-body govuk-!-margin-bottom-6">You can only upload PDFs.</p>

        <div class="document-upload">
        <form novalidate method="post" enctype="multipart/form-data">
            <input type="hidden" name="redirectPage" value="/cases/12/summary" />
            <div class="govuk-form-group">
                <div class="moj-multi-file__uploaded-files">
                    {% include './uploadedDocumentsStatus.njk' %}
                </div>

                <div class="moj-multi-file-upload__upload">
                {{ govukFileUpload({
                id: 'documents',
                name: 'documents',
                classes: 'moj-multi-file-upload__input',
                label: {
                text: 'Upload files',
                classes: "govuk-visually-hidden"
                },
                attributes: {
                multiple: true
                }
                }) }}
                </div>
            </div>
            <button class="govuk-button govuk-button--secondary moj-multi-file-upload__button" name="upload" value="upload">
                Upload files
            </button>
            <div class="govuk-!-margin-top-4">
                <button class="govuk-button" name="continue" value="continue">Continue</button>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}


{% block pageScripts %}
<script src="/public/javascripts/document-upload.js"></script>
<script>
  if (typeof DocumentUpload !== 'undefined') {
    new DocumentUpload({
      container: $('.document-upload'),
      uploadUrl: window.location.url
    })
  }
</script>
{% endblock %}
