{% extends "layout.html" %}


{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/key_details/1_Armstrong.html" %}
{% endblock %}


{% endblock %}


{% block beforeContent %}
<a href="summary_case_documents.html" style="margin-bottom: 0;" class="govuk-back-link">Back to cases</a>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Upload documents to Mark Adam's case </h1>
    <p>You can upload the CPS pack and police logs to the case</p>
    
  
    
      <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds-from-desktop">
    
    
            <h2 class="govuk-heading-m">2 filed added</h2>
    
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  CPS pack
                </dt>
                <dd class="govuk-summary-list__value">
                  mark_cps_pack.pdf
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    delete<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Dv logs
                </dt>
                <dd class="govuk-summary-list__value">
                 mark_dv_logs.pdf
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    delete<span class="govuk-visually-hidden"> date of birth</span>
                  </a>
                </dd>
              </div>
             
    
            </form>
    
          </div>
        </div>
      </main>
    </div>
    
        
    
    




  </div>
</div>











  


{% endblock %}