{% extends "layout.html" %}


{% block pageTitle %}
Delius Officer diary – OM alert contacts
{% endblock %}

{% block bodyStart %}

{% endblock %}


{% block beforeContent %}

{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-l">Delius Officer diary – OM alert contacts</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m" style="font-family: Arial, Helvetica, sans-serif; font-size: 1.25em;">
        OM Alert Contacts
      </h2>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-s secondary-text-col"
            style="font-family: Arial, Helvetica, sans-serif; font-size: 0.8em;">
            SEARCH CRITERIA
          </h3>
          <dl class="govuk-summary-list govuk-summary-list--no-border delius-contact"
            style="font-family: Arial, Helvetica, sans-serif; font-size: 0.9em;">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Provider: <span class="mandatory">*</span>
              </dt>
              <dd class="govuk-summary-list__value">
                <div class="govuk-form-group">
                  <select class="govuk-select" id="sort" name="sort">
                    <option value="CPA South Yorkshire" selected>CPA South Yorkshire</option>
                  </select>
                </div>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Cluster:
              </dt>
              <dd class="govuk-summary-list__value">
                <div class="govuk-form-group">
                  <select class="govuk-select" id="sort" name="sort">
                    <option value="South Yorkshire CRC" selected>South Yorkshire CRC</option>
                  </select>
                </div>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                LDU:
              </dt>
              <dd class="govuk-summary-list__value">
                <div class="govuk-form-group">
                  <select class="govuk-select" id="sort" name="sort">
                    <option value="Rotherham" selected>Rotherham</option>
                  </select>
                </div>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Team: <span class="mandatory">*</span>
              </dt>
              <dd class="govuk-summary-list__value">

                <div class="govuk-form-group">
                  <select class="govuk-select" id="sort" name="sort">
                    <option value="Rotherham LMC" selected>Rotherham LMC</option>
                  </select>
                </div>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Officer: <span class="mandatory">*</span>
              </dt>
              <dd class="govuk-summary-list__value">

                <div class="govuk-form-group">
                  <select class="govuk-select" id="sort" name="sort">
                    <option value="" selected>Doe, John (CRC - PSO)</option>
                  </select>
                </div>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                All teams?:
              </dt>
              <dd class="govuk-summary-list__value">
                <div class="govuk-form-group" style="margin-bottom: 0.66em;">
                  <select class="govuk-select" id="sort" name="sort">
                    <option value="Yes" selected>Yes</option>
                  </select>
                </div>
                <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
                  Search
                </button>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
    <h3 class="govuk-heading-s secondary-text-col" style="font-family: Arial, Helvetica, sans-serif; font-size: 0.8em;">
      SEARCH RESULTS
    </h3>
    <table class="govuk-table" style="max-width: none !important; font-family: Arial, Helvetica, sans-serif !important; font-size: 0.9em !important;">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row" style="background-color: #dedede;">
          <th scope="col" class="govuk-table__header" aria-sort="ascending">Risk</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Offender Name</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Date</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Type</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Outcome</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Select</th>
          <th scope="col" class="govuk-table__header" aria-sort="none"></th>
          <th scope="col" class="govuk-table__header" aria-sort="none"></th>
          <th scope="col" class="govuk-table__header" aria-sort="none"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">	🔴</td>
          <td class="govuk-table__cell">Test Service User Name</td>
          <td class="govuk-table__cell">07/04/2020</td>
          <td class="govuk-table__cell">Progress report on offender needed for court appearance</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
                <input id="organisation-4" name="organisation" type="checkbox"
                  value="DfT">
                <label class="govuk-label govuk-checkboxes__label" for="">
                </label>
          </td>
          <td class="govuk-table__cell"><a href="deliuscontacts">view</a></td>
          <td class="govuk-table__cell"><a href="deliuscontacts">update</a></td>
          <td class="govuk-table__cell"><a href="#">delete</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">	🔴</td>
          <td class="govuk-table__cell">Test Service User Name</td>
          <td class="govuk-table__cell">07/04/2020</td>
          <td class="govuk-table__cell">Notification of Court Appearance</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
                <input id="organisation-4" name="organisation" type="checkbox"
                  value="DfT">
                <label class="govuk-label govuk-checkboxes__label" for="">
                </label>
          </td>
          <td class="govuk-table__cell"><a href="#">view</a></td>
          <td class="govuk-table__cell"><a href="#">update</a></td>
          <td class="govuk-table__cell"><a href="#">delete</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">	🔴</td>
          <td class="govuk-table__cell">Test Service User Name</td>
          <td class="govuk-table__cell">07/04/2020</td>
          <td class="govuk-table__cell">Information from Court Team</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
                <input id="organisation-4" name="organisation" type="checkbox"
                  value="DfT">
                <label class="govuk-label govuk-checkboxes__label" for="">
                </label>
          </td>
          <td class="govuk-table__cell"><a href="#">view</a></td>
          <td class="govuk-table__cell"><a href="#">update</a></td>
          <td class="govuk-table__cell"><a href="#">delete</a></td>
        </tr>
      </tbody>
    </table>
  <div class="delius-contact">
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Print
    </button>
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Clear Selected Alerts
    </button>
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Clear All Alerts
    </button>
  </div>

  </div>
</div>



{% endblock %}
