{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% set innerHtml %}
  {{ govukTextarea({
    name: params.id,
    id: params.id,
    label: {
      text: "Add a note"
    }
  }) }}
  {{ govukButton({
    text: "Save"
  }) }}
{% endset %}

<form class="app-case-progress_wrapper" method="post" action="summary#section_{{ params.id }}" novalidate>
  <div class="app-case-progress_header" id="section_{{ params.id }}">
    <p class="app-case-progress_heading">{{ params.title }}</p>
    <p class="govuk-body">{{ params.description }}</p>
  </div>
  <div class="app-case-progress_content">
    {% if params.notes | length %}
      {% for note in params.notes %}
        <table class="govuk-table govuk-!-margin-bottom-0">
          <tr>
            <td class="govuk-table__cell govuk-!-width-one-third app-!-no-border">
              <p class="govuk-body govuk-!-margin-bottom-0">{{ note.name }}</p>
              <p class="govuk-body govuk-!-margin-bottom-0">{{ note.date }}</p>
            </td>
            <td class="govuk-table__cell govuk-!-width-two-thirds app-!-no-border">
              <p class="govuk-body">{{ note.text }}</p>
            </td>
          </tr>
        </table>
        <p class="govuk-body govuk-body-s">
          <a class="govuk-link" href="javascript:void(0);">Delete</a>
        </p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible app-!-width-full">
      {% endfor %}
    {% endif %}
    {{ govukDetails({
      summaryText: "Add a note",
      html: innerHtml,
      classes: "govuk-!-margin-bottom-2"
    }) }}
  </div>
</form>
