{% extends "layout.html" %}


{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/key_details/1_Armstrong.html" %}
{% endblock %}


{% endblock %}


{% block beforeContent %}
<!-- <a href="/cases" class="govuk-back-link">Back</a> -->
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page"
            href="/cases/1/summary.html">Case summary</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            href="/cases/1/probationrecord.html">Probation record</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="/cases/1/risk.html">Risk register</a>
        </li>
      </ul>
      </ul>

    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Case summary</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-!-margin-bottom-8">
      <h2 class="govuk-heading-m">Appearance</h2>
      <p class="govuk-body">Court 1, morning session, Thursday 30 April (1st listing).</p>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">Supporting information</h2>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            CPS pack
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Available in CourtStore</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/cases/1/cps">
              View<span class="govuk-visually-hidden"> CPS pack</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Offender manager report
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Not received</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/cases/1/addreport">
              Add<span class="govuk-visually-hidden"> offender manager report</span>
            </a>
          </dd>
        </div>
      </dl>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-!-margin-bottom-8">
      <h2 class="govuk-heading-m">Offences</h2>
      <h3 class="govuk-heading-s govuk-!-margin-top-4">Common assault and battery</h3>
      <p class="govuk-body govuk-!-margin-bottom-2">On Wednesday 15th April 2020 at Grey Lane, S10 1AG, assaulted Sarah
        Smith by beating her.</p>
      <p class="govuk-body secondary-text-col">Contrary to section 39 of the Criminal Justice Act 1988.</p>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">
        Personal details
      </h2>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Dylan Adam Armstrong
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Gender
          </dt>
          <dd class="govuk-summary-list__value">
            Male
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            27 September 1984 (35 years old)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Nationality
          </dt>
          <dd class="govuk-summary-list__value">
            British
          </dd>
        </div>
      </dl>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">
        Contact details
      </h2>
      <p class="govuk-body"><a href="/cases/1/contactdetails">Edit contact details</a></p>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            1 Grey Lane<br> Sheffield<br> South Yorkshire<br> S10 1AG
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Edit<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Unknown</p>
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Add<span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd> -->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Unknown</p>

          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Add<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd> -->
        </div>
      </dl>

    </div>











  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Recent case activity</h2>
    <div class="timeline">
      <ul>
        <!-- <li>
        <h2 class="timeline__title">
          No progress report received
        </h2>
        <p class="timeline__meta">
          <time>17 April 2020 at 08:00 pm</time>. Automatic message
        </p>
        <p>Dylan’s offender manager has not sent a progress report. You should contact them directly for
          an update.</p>
        <details class="govuk-details govuk-!-margin-bottom-4" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Offender manager details
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">John Doe <br><span class="secondary-text-col">Allocated on 11 Sept 2019</span></p>
            <p>
              Provider: CPA South Yorkshire<br>
              LDU: Rotherham<br>
              Team: Rotherham LMC<br>
            </p>
            <p>Team telephone: 0114 123 0000</p>
          </div>
        </details>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add progress report
        </button>
      </li> -->
        <!-- <li>
          <h2 class="timeline__title">Report received</h2>
          <p class="timeline__meta">
            <time>16 April 2020 at 4:18 pm</time>. Report from John Doe (CRC Offender Manager)
          </p>
          <p><a href="casehistory/progressreport" class="govuk-link govuk-link--no-visited-state">View progress
              report</a></p>
        </li> -->
        <li>
          <h2 class="timeline__title">Reminder sent</h2>
          <p class="timeline__meta">
            <time>28 April 2020 at 9:00 am</time>. Reminder sent automatically
          </p>
          <p>Dylan's offender manager was reminded to send a progress report.</p>
        </li>
        <li>
          <h2 class="timeline__title">Report requested</h2>
          <p class="timeline__meta">
            <time>24 April 2020 at 9:00 am</time>. Request sent automatically
          </p>
          <p>Dylan’s offender manager was asked to send a progress report.</p>
        </li>
      </ul>
    </div>
  </div>




</div>
</div>


{% endblock %}