{% extends "layout.html" %}

{% block pageTitle %}
  Probation record
{% endblock %}

{% block bodyStart %}
  {% block keyDetails %}
    {% include "includes/key_details/8_Armstrong.html" %}
  {% endblock %}
{% endblock %}

{% block beforeContent %}
  <a href="/cases/day/2020-06-17/case-list" class="govuk-back-link">Back to cases</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <nav class="moj-sub-navigation" aria-label="Sub navigation">
        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="/cases/8/summary.html">
              Case summary</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page" href="/cases/8/probationrecord.html">
              Probation record</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="#">
              Risk register</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Probation record</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-m">Previous orders <span class="secondary-text-col">
          (1)</span></h2>
        <p class="govuk-heading-s govuk-!-margin-bottom-0"><a class="govuk-link govuk-link--no-visited-state" href="#">
          CJA Community Order (12 months)</a></p>
      <table class="govuk-table app-table govuk-!-margin-top-0 govuk-!-margin-bottom-3">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Using violence to secure entry
              (Criminal Law Act/CJ and Public Order Act) - 19563</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">Ended on 24
              November 2016</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Last pre-sentence report</h2>
      <p class="govuk-body">Pre-Sentence Report - Oral<br><span class="secondary-text-col">
        Delivered more than 6 months ago (05 November 2015)</span>
      </p>
      <h2 class="govuk-heading-m">Last OASys assessment</h2>
      <p class="govuk-body">OASys Assessment Layer 3<br><span class="secondary-text-col">
        Completed on 13 December 2015</span>
      </p>
    </div>
  </div>
{% endblock %}
