{% extends "layout.html" %}


{% block pageTitle %}
ORA Community Order (18 Months)
{% endblock %}

{% block bodyStart %}
{% block keyDetails %}
{% include "includes/key_details/1_Armstrong.html" %}
{% endblock %}
{% endblock %}


{% block beforeContent %}
<a href="/cases/1/probationrecord.html" class="govuk-back-link">Back to probation record</a>
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">
      ORA Community Order (18 Months)
    </h1>
    <div class="govuk-!-margin-bottom-9">
      <p class="govuk-body">Common assault and battery - 10501</p>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0 secondary-text-col">Order started</p>
          <p class="govuk-body-l govuk-!-margin-bottom-0"><strong>5 November 2020</strong></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0 secondary-text-col">Order ends</p>
          <p class="govuk-body-l govuk-!-margin-bottom-0"><strong>5 May 2022</strong></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-0 secondary-text-col">Time elapsed</p>
          <p class="govuk-body-l govuk-!-margin-bottom-0"><strong>4 months, 3 days</strong></p>
        </div>
      </div>
    </div>


    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m">Requirements</h3>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Requirement</th>
            <th scope="col" class="govuk-table__header">Length</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Rehabilitation Activity Requirement (RAR) </td>
            <td class="govuk-table__cell">20 days </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Court - Accredited Programme - Building Better Relationships (BBR)</td>
            <td class="govuk-table__cell">Unavailable</td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Unpaid Work - Regular</td>
            <td class="govuk-table__cell">40 Hours</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m">Attendance</h3>
      <p class="govuk-body"><strong>Last attended</strong> 2 February 2021 - IAPS Attendance (Acceptable)</p>
      <div class="app-card govuk-!-padding-top-2">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third" style="width: 27%;">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0"><span
                class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                Appointments to date</span></h2>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0"><span class="app-dashboard-count">39</span><span
                class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
              </span></h2>
          </div>
        </div>
      </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
        style="max-width: 727px; border-bottom: 2px solid #000000;">
      <div class="app-card">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third" style="width: 27%;">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><span
                class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                Acceptable</span></h2>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><span class="app-dashboard-count">25</span><span
                class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">Attendances</span>
            </h2>
            <p class="govuk-body govuk-!-margin-0"><span class="govuk-body app-dashboard-count">11</span>Planned office
              visit</p>
            <p class="govuk-body govuk-!-margin-0"><span class="govuk-body app-dashboard-count">7</span>IAPS /
              Accredited programme
            </p>
            <p class="govuk-body govuk-!-margin-0"><span class="govuk-body app-dashboard-count">6</span>Unpaid work</p>
            <p class="govuk-body govuk-!-margin-0"><span class="govuk-body app-dashboard-count">1</span>Appointment with
              External
              Agency</p>
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><span class="app-dashboard-count">12</span><span
                class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                Absences </span></h2>
            <p class="govuk-body govuk-!-margin-0 seo"><span class="govuk-body app-dashboard-count">6</span>Employment
            </p>
            <p class="govuk-body govuk-!-margin-0 seo"><span class="govuk-body app-dashboard-count">3</span>Professional
              judgement decision</p>
            <p class="govuk-body govuk-!-margin-0 seo"><span class="govuk-body- app-dashboard-count">2</span>Medical</p>
            <p class="govuk-body govuk-!-margin-0"><span class="govuk-body app-dashboard-count">1</span>Rescheduled</p>
          </div>
        </div>
      </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="
          max-width: 727px;">
      <div class="app-card">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third" style="width: 27%;">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><span
                class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                Unacceptable</span></h2>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><span class="app-dashboard-count">0</span><span
                class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                Attendances </span></h2>
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0"><span class="app-dashboard-count">0</span><span
                class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                Absences</span></h2>
          </div>
        </div>
      </div>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="max-width: 727px;">
      <div class="app-card">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third" style="width: 27%;">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><span
                class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">Awaiting
                outcome</span>
            </h2>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><span class="app-dashboard-count">2</span><span
                class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
              </span></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m ">Unpaid work</h3>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Status</dt>
          <dd class="govuk-summary-list__value">Terminated - 19 December 2020 </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Hours ordered</dt>
          <dd class="govuk-summary-list__value">40 </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Hours worked</dt>
          <dd class="govuk-summary-list__value">40</dd>
        </div>
      </dl>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            View UPW attendance
          </span>
        </summary>
        <div class="govuk-details__text">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Appointments to date</dt>
              <dd class="govuk-summary-list__value">9 </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Attended</dt>
              <dd class="govuk-summary-list__value">6</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Acceptable absences </dt>
              <dd class="govuk-summary-list__value">3</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Failures to comply</dt>
              <dd class="govuk-summary-list__value">0</dd>
            </div>
          </dl>
        </div>
      </details>
    </div>

    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m">Contact list</h3>
      <p class="govuk-body"><a href="/delius">View contact list (opens in nDelius)</a></p>
    </div>
  </div>
</div>
{% endblock %}
