.app-filter-card {
  width: 100%;
  background-color: govuk-colour("light-grey");
  padding: 15px;
  min-height: 115px;
  box-sizing: border-box;
}

.app-filter-container {
  display: inline-block;
  float:left;
  height: 37px;
  margin: 0 15px 0 0;
  min-width: 200px;
  @include govuk-clearfix();
}
.app-filter-selection {
  position: relative;
  display: block;
  background-color: white;
  border: 1px solid black;
  padding: 25px 15px 0 15px;
  top: -1px;
  border-top: 0;
  z-index: 9999;
}

.selected-filters {
  height: 155px;
}

.app-filter-tags {
  display: block;
}

.app-filter__tag {
  position: relative;
  float: left;
  margin: 0 15px 0 0;
  padding-right: 25px;
  @include govuk-clearfix();
  z-index: 1;

  &:after {
    position: absolute;
    background-image: none;
    height: auto;
    content: "x";
    top: 5px;
    right: 5px
  }
}