{% extends "layout.html" %}


{% block pageTitle %}
Cases
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}




<header class="govuk-grid-row govuk-!-margin-bottom-7">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
    <p class="govuk-body">Please try again later.
    </p>
  <div class="govuk-grid-column-one-third">
  </div>
</header>





<!-- <div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-full">
    <div class="app-task-card"
      style="border-left: 8px solid #ccc; background: #e6eff7; padding: 20px; margin-bottom: 0; background: #f1f2f3;">
      <p class="govuk-body govuk-!-margin-bottom-0">There is no case list available.</p>
    </div>
  </div>
</div> -->




</div>
</div>

{% endblock %}