{% extends "layout-main.html" %}
{% block pageTitle %}
  Cases
{% endblock %}
{% block header %}
  {% include "../../../includes/head-main.html" %}
{% endblock %}
{% block content %}
  <header class="govuk-grid-row govuk-!-margin-bottom-7">
    <div class="govuk-grid-column-full">
      <section class="app-filter-card govuk-!-margin-bottom-6">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Search</h2>
        <form name="app-search" id="app-search" method="post" action="../../../search/case-search-no-results">
          <div class="search-group">
            <label class="govuk-label govuk-!-margin-bottom-3" for="search-term">
              Enter CRN or defendant name.</label>
            <input class="govuk-input govuk-!-width-one-third" id="search-term" name="search-term" type="text" value="{{data['search-term']}}">
            <button class="govuk-button govuk-!-margin-bottom-1 govuk-!-margin-left-3" data-module="govuk-button" type="submit">
              Search</button>
          </div>
        </form>
      </section>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
        <time class="" datetime="2020-06-17">
          Monday 8 March <span class="secondary-text-col">(Today)</span>
        </time>
      </h1>
      <nav class="app-pagination app-pagination--inline app-print--hide" role="navigation" aria-label="Pagination">
        <ul class="app-pagination__list">
          <li class="app-pagination__list-item">
            <a href="#" class="app-pagination__link calendar-nav-link-active">
              <span class="app-pagination__link-title calendar-nav-title">
                <span class="app-pagination__link-text calendar-nav-text-active">Mon</span><br>
                <span class="app-pagination__link-text calendar-nav-text-active govuk-!-font-weight-bold govuk-!-font-size-24">8</span>
              </span>
            </a>
          </li>
          <li class="app-pagination__list-item">
            <a href="#" class="app-pagination__link calendar-nav-link">
              <span class="app-pagination__link-title calendar-nav-title">
                <span class="app-pagination__link-text calendar-nav-text">Tue</span><br>
                <span class="app-pagination__link-text calendar-nav-text govuk-!-font-weight-bold govuk-!-font-size-24">9</span>
              </span>
            </a>
          </li>
          <li class="app-pagination__list-item">
            <a href="#" class="app-pagination__link calendar-nav-link">
              <span class="app-pagination__link-title calendar-nav-title">
                <span class="app-pagination__link-text calendar-nav-text">Wed</span><br>
                <span class="app-pagination__link-text calendar-nav-text govuk-!-font-weight-bold govuk-!-font-size-24">10</span>
              </span>
            </a>
          </li>
          <li class="app-pagination__list-item">
            <a href="#" class="app-pagination__link calendar-nav-link">
              <span class="app-pagination__link-title calendar-nav-title">
                <span class="app-pagination__link-text calendar-nav-text">Thu</span><br>
                <span class="app-pagination__link-text calendar-nav-text govuk-!-font-weight-bold govuk-!-font-size-24">11</span>
              </span>
            </a>
          </li>
          <li class="app-pagination__list-item">
            <a href="" class="app-pagination__link calendar-nav-link">
              <span class="app-pagination__link-title calendar-nav-title">
                <span class="app-pagination__link-text calendar-nav-text">Fri</span><br>
                <span class="app-pagination__link-text calendar-nav-text govuk-!-font-weight-bold govuk-!-font-size-24">12</span>
              </span>
            </a>
          </li>
          <li class="app-pagination__list-item">
            <a href="#" class="app-pagination__link calendar-nav-link">
              <span class="app-pagination__link-title calendar-nav-title">
                <span class="app-pagination__link-text calendar-nav-text">Sat</span><br>
                <span class="app-pagination__link-text calendar-nav-text govuk-!-font-weight-bold govuk-!-font-size-24">13</span>
              </span>
            </a>
          </li>
          <li class="app-pagination__list-item app-pagination__disabled">
            <span href="#" class="app-pagination__link calendar-nav-link">
              <span class="app-pagination__link-title calendar-nav-title">
                <span class="app-pagination__link-text calendar-nav-text">Sunday</span><br>
                <span class="app-pagination__link-text calendar-nav-text govuk-!-font-weight-bold govuk-!-font-size-24">14</span>
              </span>
            </span>
          </li>
          <li class="app-pagination__list-item">
            <a href="#" class="app-pagination__link calendar-nav-link">
              <span class="app-pagination__link-title calendar-nav-title">
                <span class="app-pagination__link-text calendar-nav-text">Mon</span><br>
                <span class="app-pagination__link-text calendar-nav-text govuk-!-font-weight-bold govuk-!-font-size-24">15</span>
              </span>
            </a>
          </li>
          <li class="app-pagination__list-item">
            <a href="#" class="app-pagination__link calendar-nav-link">
              <span class="app-pagination__link-title calendar-nav-title">
                <span class="app-pagination__link-text calendar-nav-text">Tue</span><br>
                <span class="app-pagination__link-text calendar-nav-text govuk-!-font-weight-bold govuk-!-font-size-24">16</span>
              </span>
            </a>
          </li>
          <li class="app-pagination__list-item">
            <a href="#" class="app-pagination__link calendar-nav-link">
              <span class="app-pagination__link-title calendar-nav-title">
                <span class="app-pagination__link-text calendar-nav-text">Wed</span><br>
                <span class="app-pagination__link-text calendar-nav-text govuk-!-font-weight-bold govuk-!-font-size-24">17</span>
              </span>
            </a>
          </li>
          <li class="app-pagination__list-item">
            <a href="#" class="app-pagination__link calendar-nav-link">
              <span class="app-pagination__link-title calendar-nav-title">
                <span class="app-pagination__link-text calendar-nav-text">Wed</span><br>
                <span class="app-pagination__link-text calendar-nav-text govuk-!-font-weight-bold govuk-!-font-size-24">18</span>
              </span>
            </a>
          </li>
          <li class="app-pagination__list-item">
            <a href="#" class="app-pagination__link calendar-nav-link">
              <span class="app-pagination__link-title calendar-nav-title">
                <span class="app-pagination__link-text calendar-nav-text">Thu</span><br>
                <span class="app-pagination__link-text calendar-nav-text govuk-!-font-weight-bold govuk-!-font-size-24">19</span>
              </span>
            </a>
          </li>
          <li class="app-pagination__list-item">
            <a href="" class="app-pagination__link calendar-nav-link">
              <span class="app-pagination__link-title calendar-nav-title">
                <span class="app-pagination__link-text calendar-nav-text">Fri</span><br>
                <span class="app-pagination__link-text calendar-nav-text govuk-!-font-weight-bold govuk-!-font-size-24">20</span>
              </span>
            </a>
          </li>
          <li class="app-pagination__list-item">
            <a href="#" class="app-pagination__link calendar-nav-link">
              <span class="app-pagination__link-title calendar-nav-title">
                <span class="app-pagination__link-text calendar-nav-text">Sat</span><br>
                <span class="app-pagination__link-text calendar-nav-text govuk-!-font-weight-bold govuk-!-font-size-24">21</span>
              </span>
            </a>
          </li>
          <li class="app-pagination__list-item app-pagination__disabled">
            <span href="#" class="app-pagination__link calendar-nav-link">
              <span class="app-pagination__link-title calendar-nav-title">
                <span class="app-pagination__link-text calendar-nav-text">Sunday</span><br>
                <span class="app-pagination__link-text calendar-nav-text govuk-!-font-weight-bold govuk-!-font-size-24">22</span>
              </span>
            </span>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  {% block filter %}
    {% include "includes/filter.html" %}
  {% endblock %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <span class="govuk-heading-m">187 cases</span>
    </div>
  </div>
  <table class="govuk-table case-list-table govuk-table-xl">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row govuk-table__row">
        <th scope="col" class="govuk-table__header custom-defendant-width" aria-sort="none">Defendant (CRN)</th>
        <th scope="col" class="govuk-table__header custom-delius-record-width" aria-sort="none">
          Probation status
        </th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Offence</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Listing</th>
        <th scope="col" class="govuk-table__header custom-session-width" aria-sort="none">
          Session</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">
          Court</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__header">
          <a href="../../13/case-summary.html" class="govuk-link">Dylan Adam
            Armstrong</a>
          <br />
          <span class="govuk-hint govuk-!-font-size-16">V654123</span>
        </td>
        <td class="govuk-table__cell">
          {% if (data['dylan-anticipated-plea'] == 'Guilty') %}
            <div><span class="moj-badge moj-badge--black pac-badge">Guilty anticipated plea</span></div>
          {% elseif (data['dylan-anticipated-plea'] == 'Not guilty') %}
            <div><span class="moj-badge moj-badge--black pac-badge">Not guilty anticipated plea</span></div>
          {% else %}
            <div><span class="moj-badge moj-badge--black pac-badge">No anticipated plea</span></div>
          {% endif %}
          <ul>
            <li class="govuk-!-margin-bottom-1">Current</li>
          </ul>
        </td>
        <td class="govuk-table__cell">Common assault and battery</td>
        <td class="govuk-table__cell">1st</td>
        <td class="govuk-table__cell">Morning</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">
          <a href="../../13/case-summary.html" class="govuk-link">Harry Smith</a>
          <br />
          <span class="govuk-hint govuk-!-font-size-16">V654123</span>
        </td>
        <td class="govuk-table__cell">
          <div><span class="moj-badge moj-badge--black pac-badge">Guilty anticipated plea</span></div>
          <ul>
            <li class="govuk-!-margin-bottom-1">Current</li>
          </ul>
        </td>
        <td class="govuk-table__cell">Common assault and battery</td>
        <td class="govuk-table__cell">1st </td>
        <td class="govuk-table__cell">Morning</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">
          1</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">
          <a href="../../13/case-summary.html" class="govuk-link">Andrei Edwards</a>
          <br />
          <span class="govuk-hint govuk-!-font-size-16">DX1234FF</span>
        </td>
        <td class="govuk-table__cell">Current</td>
        <td class="govuk-table__cell">Use threatening / abusive / insulting words
          / behaviour with intent to cause fear of / provoke unlawful violence</td>
        <td class="govuk-table__cell">1st </td>
        <td class="govuk-table__cell">Morning</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">
          1</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">
          <a href="../../13/case-summary.html" class="govuk-link">Hannah Francis</a>
          <br />
          <span class="govuk-hint govuk-!-font-size-16">X664857</span>
        </td>
        <td class="govuk-table__cell">
          <div><span class="moj-badge moj-badge--black pac-badge">Psr</span></div>
          Previously known<span data-cy="previously-known-termination-date" class="govuk-caption-m">
            Order ended 27 October 2019</span>
        </td>
        <td class="govuk-table__cell">Drive motor vehicle when alcohol level
          above limit</td>
        <td class="govuk-table__cell">1st</td>
        <td class="govuk-table__cell">Morning</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">
          1</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">
          <a href="../../13/case-summary.html" class="govuk-link">Aiden Hill</a>
        </td>
        <td class="govuk-table__cell">No record</td>
        <td class="govuk-table__cell">
          <ol>
            <li>Fail to provide specimen for analysis - vehicle driver</li>
            <li>Drive a motor vehicle otherwise than in accordance with a license
              - endorsable offence</li>
            <li>Use a motor vehicle on a road / public place without third party
              insurance</li>
          </ol>
        </td>
        <td class="govuk-table__cell">2nd</td>
        <td class="govuk-table__cell">Morning</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">
          1</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">
          <a href="../../13/case-summary.html" class="govuk-link">Rhys John Houghton</a>
          <br />
          <span class="govuk-hint govuk-!-font-size-16">DX12340X</span>
        </td>
        <td class="govuk-table__cell">
          <div><span class="moj-badge moj-badge--black pac-badge">Breach</span></div>
          Current
        </td>
        <td class="govuk-table__cell">Attempt theft from shop</td>
        <td class="govuk-table__cell">1st</td>
        <td class="govuk-table__cell">Morning</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">
          1</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">
          <a href="../../13/case-summary.html" class="govuk-link">Klara McDonald</a>
          <br />
          <span class="govuk-hint govuk-!-font-size-16">HD18745F</span>
        </td>
        <td class="govuk-table__cell">
          <div><span class="moj-badge moj-badge--red pac-badge">Possible NDelius
            Record</span></div>
        </td>
        <td class="govuk-table__cell">Common assault and battery</td>
        <td class="govuk-table__cell">1st</td>
        <td class="govuk-table__cell">Morning</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">
          1</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">
          <a href="../../13/case-summary.html" class="govuk-link">Ava Ryan</a>
          <br />
          <span class="govuk-hint govuk-!-font-size-16">F847388</span>
        </td>
        <td class="govuk-table__cell">
          <div><span class="moj-badge moj-badge--black pac-badge">Not guilty anticipated plea</span></div>
          Current
        </td>
        <td class="govuk-table__cell">Sexual assault on a male</td>
        <td class="govuk-table__cell">1st </td>
        <td class="govuk-table__cell">Morning</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">
          1</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">
          <a href="../../13/case-summary.html" class="govuk-link">Gary Hart</a>
        </td>
        <td class="govuk-table__cell">No record</td>
        <td class="govuk-table__cell">
          Common assault and battery</td>
        <td class="govuk-table__cell">1st</td>
        <td class="govuk-table__cell">Morning</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">
          1</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">
          <a href="../../13/case-summary.html" class="govuk-link">Naomi Thornton</a>
          <br />
          <span class="govuk-hint govuk-!-font-size-16">J478183</span>
        </td>
        <td class="govuk-table__cell">Previously known
          <span data-cy="previously-known-termination-date" class="govuk-caption-m">
            Order ended 24 November 2016</span>
        </td>
        <td class="govuk-table__cell">Arrest by a constable for breaking / likely
          to break bail conditions - duty to surrender into the custody of a court
        </td>
        <td class="govuk-table__cell">1st</td>
        <td class="govuk-table__cell">Morning</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">
          1</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">
          <a href="../../13/case-summary.html" class="govuk-link">Declan Dennis Bradley
            </a>
        </td>
        <td class="govuk-table__cell">No record</td>
        <td class="govuk-table__cell">
          <ol>
            <li>Obstruct / resist a constable in execution of duty</li>
            <li>Use a handheld mobile phone / device while drivng a motor vehicle
              on a road - endorsable offence
            </li>
            <li>Use a motor vehicle on a road / public place without third party
              insurance</li>
            <li>Drive a motor vehicle otherwise than in accordance with a licence
              - endorsable offence</li>
          </ol>
        </td>
        <td class="govuk-table__cell">1st</td>
        <td class="govuk-table__cell">Afternoon</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">
          1</td>
      </tr>
      <tr class="govuk-table__row govuk-table__row">
        <td class="govuk-table__header">
          <a href="../../13/case-summary.html" class="govuk-link">Noah Harvey</a>
        </td>
        <td class="govuk-table__cell">No record</td>
        <td class="govuk-table__cell">
          <ol>
            <li>Possess a controlled drug of Class B - Amphetamine</li>
            <li>Drunk and disorderly in a public place</li>
          </ol>
        </td>
        <td class="govuk-table__cell">1st</td>
        <td class="govuk-table__cell">Afternoon</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">
          1</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">
          <a href="../../13/case-summary.html" class="govuk-link">Zane Harris
            Smith</a>
          <br />
          <span class="govuk-hint govuk-!-font-size-16">C445638</span>
        </td>
        <td class="govuk-table__cell">Previously known
          <span data-cy="previously-known-termination-date" class="govuk-caption-m">
            Order ended 22 June 2019</span>
        </td>
        <td class="govuk-table__cell">Possess a class C controlled drug</td>
        <td class="govuk-table__cell">1st</td>
        <td class="govuk-table__cell">Afternoon</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">
          1</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">
          <a href="../../13/case-summary.html" class="govuk-link">Dylan Adam Armstrong</a>
          <br />
          <span class="govuk-hint govuk-!-font-size-16">V654123</span>
        </td>
        <td class="govuk-table__cell">Current</td>
        <td class="govuk-table__cell">Common assault and battery</td>
        <td class="govuk-table__cell">1st</td>
        <td class="govuk-table__cell">Morning</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">
          1</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">
          <a href="../../13/case-summary.html" class="govuk-link">Tony Davis</a>
          <br />
          <span class="govuk-hint govuk-!-font-size-16">B948574</span>
        </td>
        <td class="govuk-table__cell">Previously known
          <span data-cy="previously-known-termination-date" class="govuk-caption-m">
            Order ended 5 July 2019</span>
        </td>
        <td class="govuk-table__cell">
          <ol>
            <li>Possess a class C controlled drug</li>
            <li>Possess a controlled drug of Class A - heroin</li>
          </ol>
        </td>
        <td class="govuk-table__cell">2nd</td>
        <td class="govuk-table__cell">Morning</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">
          1</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">
          <a href="../../13/case-summary.html" class="govuk-link">Andrei Edwards</a>
          <br />
          <span class="govuk-hint govuk-!-font-size-16">DX1234FF</span>
        </td>
        <td class="govuk-table__cell">Current</td>
        <td class="govuk-table__cell">Use threatening / abusive / insulting words
          / behaviour with intent to cause fear of / provoke unlawful violence</td>
        <td class="govuk-table__cell">1st </td>
        <td class="govuk-table__cell"> Morning</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">
          1</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">
          <a href="../../13/case-summary.html" class="govuk-link">Hannah Francis</a>
          <br />
          <span class="govuk-hint govuk-!-font-size-16">X664857</span>
        </td>
        <td class="govuk-table__cell">
          <div><span class="moj-badge moj-badge--black pac-badge">Psr</span></div>
          Previously known <span data-cy="previously-known-termination-date" class="govuk-caption-m">
            Order ended 27 October 2019</span>
        </td>
        <td class="govuk-table__cell">Drive motor vehicle when alcohol level above
          limit</td>
        <td class="govuk-table__cell">1st</td>
        <td class="govuk-table__cell">Morning</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">
          1</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">
          <a href="../../13/case-summary.html" class="govuk-link">Aiden Hill</a>
          <br />
          <span class="govuk-hint govuk-!-font-size-16">KR1548UK</span>
        </td>
        <td class="govuk-table__cell">No record</td>
        <td class="govuk-table__cell">
          <ol>
            <li>Fail to provide specimen for analysis - vehicle driver</li>
            <li>Drive a motor vehicle otherwise than in accordance with a license
              - endorsable offence</li>
            <li>Use a motor vehicle on a road / public place without third party
              insurance</li>
          </ol>
        </td>
        <td class="govuk-table__cell">2nd</td>
        <td class="govuk-table__cell">Morning</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">
          1</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">
          <a href="../../13/case-summary.html" class="govuk-link">Rhys John Houghton</a>
          <br />
          <span class="govuk-hint govuk-!-font-size-16">DX12340X</span>
        </td>
        <td class="govuk-table__cell">
          <div><span class="moj-badge moj-badge--black pac-badge">Breach</span></div>
          Current
        </td>
        <td class="govuk-table__cell">Attempt theft from shop</td>
        <td class="govuk-table__cell">1st</td>
        <td class="govuk-table__cell">Morning</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">
          1</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">
          <a href="../../13/case-summary.html" class="govuk-link">Klara McDonald</a>
        </td>
        <td class="govuk-table__cell">
          <div><span class="moj-badge moj-badge--red pac-badge">Possible NDelius
            Record</span></div>
        </td>
        <td class="govuk-table__cell">Common assault and battery</td>
        <td class="govuk-table__cell">1st</td>
        <td class="govuk-table__cell">Morning</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">
          1</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">
          <a href="../../13/case-summary.html" class="govuk-link">Ava Ryan</a>
          <br />
          <span class="govuk-hint govuk-!-font-size-16">F847388</span>
        </td>
        <td class="govuk-table__cell">Current</td>
        <td class="govuk-table__cell">Sexual assault on a male</td>
        <td class="govuk-table__cell">1st</td>
        <td class="govuk-table__cell">Morning</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">
          1</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">
          <a href="../../13/case-summary.html" class="govuk-link">Vinnie Robert
            Sanderson</a>
          <br />
          <span class="govuk-hint govuk-!-font-size-16">K8446384</span>
        </td>
        <td class="govuk-table__cell">Previously known <span data-cy="previously-known-termination-date" class="govuk-caption-m">
          Order ended 7 August 2019</span></td>
        <td class="govuk-table__cell">Assault by beating of an emergency worker</td>
        <td class="govuk-table__cell">2nd</td>
        <td class="govuk-table__cell">Morning</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">
          1</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">
          <a href="../../13/case-summary.html" class="govuk-link">Naomi Thornton</a>
          <br />
          <span class="govuk-hint govuk-!-font-size-16">J478183</span>
        </td>
        <td class="govuk-table__cell">Previously known<span data-cy="previously-known-termination-date" class="govuk-caption-m">
          Order ended 24 November 2016</span></td>
        <td class="govuk-table__cell">
          Arrest by a constable for breaking / likely to break bail conditions -
          duty to surrender into the custody of a court
        </td>
        <td class="govuk-table__cell">1st</td>
        <td class="govuk-table__cell">Morning</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">
          1</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">
          <a href="../../13/case-summary.html" class="govuk-link">Declan Dennis Bradley</a>
        </td>
        <td class="govuk-table__cell">No record</td>
        <td class="govuk-table__cell">
          <ol>
            <li>Obstruct/resist a constable in execution of duty</li>
            <li>Use a handheld mobile phone / device while drivng a motor vehicle
              on a road - endorsable offence</li>
            <li>Use a motor vehicle on a road / public place without third party
              insurance</li>
            <li>Drive a motor vehicle otherwise than in accordance with a licence
              - endorsable offence</li>
          </ol>
        </td>
        <td class="govuk-table__cell">1st</td>
        <td class="govuk-table__cell">Afternoon</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">
          1</td>
      </tr>
      <tr class="govuk-table__row govuk-table__row">
        <td class="govuk-table__header">
          <a href="../../13/case-summary.html" class="govuk-link">Noah Harvey</a>
        </td>
        <td class="govuk-table__cell">No record</td>
        <td class="govuk-table__cell">
          <ol>
            <li>Possess a controlled drug of Class B - Amphetamine</li>
            <li>Drunk and disorderly in a public place</li>
          </ol>
        </td>
        <td class="govuk-table__cell">1st</td>
        <td class="govuk-table__cell">Afternoon</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">
          1</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">
          <a href="../../13/case-summary.html" class="govuk-link">Zane Harris
            Smith</a>
          <br />
          <span class="govuk-hint govuk-!-font-size-16">C445638</span>
        </td>
        <td class="govuk-table__cell">Previously known <span data-cy="previously-known-termination-date" class="govuk-caption-m">
          Order ended 22 June 2019</span></td>
        <td class="govuk-table__cell">Possess a class C controlled drug</td>
        <td class="govuk-table__cell">1st</td>
        <td class="govuk-table__cell">Afternoon</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">
          1</td>
      </tr>
    </tbody>
  </table>
  <nav class="moj-pagination" id="pagination-label">
    <p class="govuk-visually-hidden" aria-labelledby="pagination-label">
      Pagination navigation</p>
    <ul class="moj-pagination__list">
      <li class="moj-pagination__item  moj-pagination__item--prev">
        <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden">
          set of pages</span></a>
      </li>
      <li class="moj-pagination__item moj-pagination__item--active">1</li>
      <li class="moj-pagination__item"><a class="moj-pagination__link" href="">2</a></li>
      <li class="moj-pagination__item"><a class="moj-pagination__link" href="">3</a></li>
      <li class="moj-pagination__item"><a class="moj-pagination__link" href="">4</a></li>
      <li class="moj-pagination__item"><a class="moj-pagination__link" href="">5</a></li>
      <li class="moj-pagination__item  moj-pagination__item--next">
        <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden">
          set of pages</span></a>
      </li>
    </ul>
    <p class="moj-pagination__results">Showing <b>1</b> to <b>25</b> of <b>187
      </b> cases</p>
  </nav>
{% endblock %}
