{% extends "layout.html" %}


{% block pageTitle %}
Link nDelius record from the defendant
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/key_details/4_Francis-no-link.html" %}
{% endblock %}


{% endblock %}


{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Link an nDelius record to the defendant</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Use a case reference number (CRN) to link an existing nDelius record to the
      defendant.
    </p>
    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">Defendant details</h2>
      <dl class="govuk-summary-list ">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Hannah Francis
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            26 December 1996
          </dd>
        </div>
      </dl>
    </div>
    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">nDelius record found</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Hannah Jane Frances
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            26 December 1996
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            CRN
          </dt>
          <dd class="govuk-summary-list__value">
            F763945
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            PNC
          </dt>
          <dd class="govuk-summary-list__value">
            2017/324724377E
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Probation status
          </dt>
          <dd class="govuk-summary-list__value">
            Current
          </dd>
        </div>
      </dl>
      <a href="/cases/4/summary-correct-crn"><button type="submit" class="govuk-button" data-module="govuk-button">
        Link record to defendant
      </button></a>
      <p class="govuk-body">If this isn't the record you're looking for you can <a href="/cases/4/link" class="govuk-link govuk-link--no-visited-state">search
          again</a>.</p>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}
