{% extends "layout.html" %}


{% block pageTitle %}
Progress report
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/key_details/7_Test--no-action.html" %}
{% endblock %}


{% endblock %}


{% block beforeContent %}
<a href="/cases/testcase/crit/summary-2" class="govuk-back-link">Back to case summary</a>
{% endblock %}


{% block content %}

<!-- <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <nav class="moj-sub-navigation" aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="/cases/testcase/summary.html">Case details</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="">Probation record</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="">Risk register</a>
        </li>
      </ul>
      </ul>
    </nav>
  </div>
</div> -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Case note</h1>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body govuk-hint govuk-!-margin-bottom-4">
      Added by Sally Reinhart (PSO) on 17 April 2020 at 10.08 am
    </p>
    <div class="govuk-!-margin-bottom-9">
      <!-- <h2 class="govuk-heading-m">Appearance</h2> -->
      <p class="govuk-body">
        Plead guilty. Seems v upset, claiming police didn't listen to him. Bereavement (brother) led to
        drinking again and girlfriend kicked him out of family home. Alcohol , child concern risk factors increased.
        Possible DV need to request callouts.</p>
    </div>

    <!-- <div class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">
        Current orders <span class="secondary-text-col">(1)</span>
      </h2>
      <div class="current-order-wrapper">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><a href="probationrecord/event2.html">ORA Community Order
            (18
            Months)</a></h3>
        <p class="govuk-body  govuk-!-margin-bottom-1">Common assault and battery - 10501</p>
        <p class="govuk-body  ">Started on 5 September 2019</p>
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-padding-top-0">Requirements</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>Rehabilitation Activity Requirement (RAR) – 20 days</li>
          <li>Court - Accredited Programme - Building Better Relationships (BBR)</li>
          <li>Unpaid Work - Regular – 40 Hours</li>
        </ul>
      </div>
    </div> -->

  </div>

  <div class="govuk-grid-column-one-third">
    <!-- <h2 class="govuk-heading-m">Offender manager</h2>
    <p class="govuk-body">John Doe <br><span class="secondary-text-col">Allocated on 11 Sept 2019</span></p>
    <p>
      Provider: CPA South Yorkshire<br>
      LDU: Rotherham<br>
      Team: Rotherham LMC<br>
    </p>

    <p>Team telephone: 0114 123 0000</p> -->
  </div>




</div>
</div>


{% endblock %}