{% extends "layout.html" %}


{% block pageTitle %}
Personal details
{% endblock %}

{% block bodyStart %}
{% block keyDetails %}
{% include "includes/key_details/1_Armstrong.html" %}
{% endblock %}
{% endblock %}


{% block beforeContent %}
<!-- <a href="/cases" class="govuk-back-link">Back</a> -->
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="/cases/1/summary.html">Case details</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="/cases/1/person.html">Personal details</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="/cases/1/probationrecord.html">Probation record</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="/cases/1/risk.html">Risk register</a>
        </li>
      </ul>
      </ul>

    </nav>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
      Case details
    </h1> -->
    <div class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-7">
        Personal details from police
      </h2>
      <table class=" govuk-table govuk-!-margin-top-4">
        <tbody class="govuk-table__body">
          <!-- <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 30%;">PNC</th>
            <td class="govuk-table__cell">A1234560BA </td>
          </tr>           -->
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 30%;">Name</th>
            <td class="govuk-table__cell">Dylan Adam Armstrong </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Gender</th>
            <td class="govuk-table__cell">Male</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of birth</th>
            <td class="govuk-table__cell">27 September 1984</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Address</th>
            <td class="govuk-table__cell"> 1<br> Grey Lane<br> Sheffield<br> South Yorkshire<br> S10 1AG</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Nationality</th>
            <td class="govuk-table__cell"> British</td>
          </tr>
        </tbody>
      </table>
    </div>


    <!-- <div class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">
        Personal details from Probation Service
      </h2>
      <table class=" govuk-table govuk-!-margin-top-4">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">CRN</th>
            <td class="govuk-table__cell">DX12340A</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Gender</th>
            <td class="govuk-table__cell">Male</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" style="width: 30%;">Aliases</th>
            <td class="govuk-table__cell">Yes (1) </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">NI Number</th>
            <td class="govuk-table__cell">Unknown</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Nationality</th>
            <td class="govuk-table__cell"> British</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Ethnicity</th>
            <td class="govuk-table__cell"> White: British/English/Welsh/Scottish/Northern Irish</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Interpreter required</th>
            <td class="govuk-table__cell">Unknown</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Disability status</th>
            <td class="govuk-table__cell">Disabilities recorded</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Telephone</th>
            <td class="govuk-table__cell"> Unknown</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Email</th>
            <td class="govuk-table__cell">Unknown</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Mobile</th>
            <td class="govuk-table__cell">07590 000 000 </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Main address</th>
            <td class="govuk-table__cell"> 9<br> Long Street<br> Sheffield<br> South Yorkshire<br> S3 4YY</td>
          </tr>
        </tbody>
      </table>
    </div> -->



    <!-- <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">CPS pack</h2>
    <p class="govuk-body"><a href="#">View CPS Pack (opens in Court Store)</a></p>
  </div> -->




  </div>
</div>


{% endblock %}