{% extends "layout.html" %}


{% block pageTitle %}
Probation record
{% endblock %}

{% block bodyStart %}
{% block keyDetails %}
{% include "includes/key_details/4_Francis-unlink.html" %}
{% endblock %}
{% endblock %}


{% block beforeContent %}
<a href="/cases/day/2020-06-17/case-list" class="govuk-back-link">Back to cases</a>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="/cases/4/summary-correct-crn-no-banner.html">Case summary</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page" href="/cases/4/probationrecord.html">Probation
            record</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="">Risk register</a>
        </li>
      </ul>

    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Probation record</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">
        Current orders <span class="secondary-text-col">(1)</span>
      </h2>
      <div class="current-order-wrapper">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="">ORA Community Order
            (12
            Months)</a></h3>
        <p class="govuk-body  govuk-!-margin-bottom-1">Racially aggravated harassment, alarm or distress - 12558</p>
        <p class="govuk-body  ">Started on 7 January 2020</p>
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-padding-top-0">Requirements</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>Rehabilitation Activity Requirement (RAR) – 10 days</li>
          <li>Alcohol Treatment – 9 months</li>
          <li>Unpaid Work - Regular – 120 Hours</li>
        </ul>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="max-width: 727px;">
      </div>
    </div>


    <div class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">Previous orders <span class="secondary-text-col">(2)</span></h2>
      <p class="govuk-heading-s govuk-!-margin-bottom-0"><a class="govuk-link govuk-link--no-visited-state"
        href="">ORA Community Order (6 months)</a></p>
    <table class="govuk-table app-table govuk-!-margin-top-0 govuk-!-margin-bottom-3">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Causing intentional harassment, alarm or distress - 12509</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Ended on 24 November 2018</td>
        </tr>
      </tbody>
    </table>

      <p class="govuk-heading-s govuk-!-margin-bottom-0"><a class="govuk-link govuk-link--no-visited-state"
          href="">ORA Community Order (12 months)</a></p>
      <table class="govuk-table app-table govuk-!-margin-top-0 govuk-!-margin-bottom-3">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Common assault and battery - 10501</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">Ended on 20 March 2017</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">
      Offender Manager </h2>
    <p class="govuk-body">Jane Smith <br><span class="secondary-text-col">Allocated on 8 January 2020</span></p>
    <p>
      Provider: CPA Cheshire and Greater Manchester<br>
      LDU: Sale<br>
      Team: Sale 3<br>
    </p>
    <p>Team telephone: 0161 123 0000</p>

    <h2 class="govuk-heading-m">Last pre-sentence report </h2>
    <p class="govuk-body">Pre-Sentence Report - Oral<br><span class="secondary-text-col">Delivered more than 6 months ago (15 December 2019)
      </span></p>

    <h2 class="govuk-heading-m">Last OASys assessment </h2>
    <p class="govuk-body">OASys Assessment Layer 3<br><span class="secondary-text-col">Completed on 13 December 2019</p>

  </div>



</div>

</div>


{% endblock %}
