{% extends "layout-main.html" %}


{% block pageTitle %}
Cases
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<header class="govuk-grid-row govuk-!-margin-bottom-7">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">
      Cases
    </span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      <time class="" datetime="2020-06-26">
        Monday 29 Jun
      </time>
    </h1>
    <nav class="app-pagination app-pagination--inline app-print--hide" role="navigation" aria-label="Pagination">
      <ul class="app-pagination__list">

        <li class="app-pagination__list-item app-pagination__list-item--prev">
          <a href="/cases/day/2020-06-18/case-list" class="app-pagination__link" rel="prev">
            <span class="app-pagination__link-title">
              <svg class="app-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17"
                viewBox="0 0 17 13">
                <path fill="currentColor"
                  d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z">
                </path>
              </svg>
              <span class="app-pagination__link-text">Previous day</span>
            </span>

          </a>
        </li>
        <!-- <li class="app-pagination__list-item">
          <a href="/cases/day/2020-06-17/case-list" class="app-pagination__link">
            <span class="app-pagination__link-title">
              <span class="app-pagination__link-text">Today</span>
            </span>
          </a>
        </li> -->
        <!-- <li class="app-pagination__list-item app-pagination__list-item--next">
          <a href="/cases/day/2020-06-18/case-list" class="app-pagination__link" rel="next">
            <span class="app-pagination__link-title">
              <svg class="app-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17"
                viewBox="0 0 17 13">
                <path fill="currentColor"
                  d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
                </path>
              </svg>
              <span class="app-pagination__link-text">Next day</span>
            </span>
          </a>
        </li> -->
      </ul>
    </nav>
  </div>
  <div class="govuk-grid-column-one-third">
  </div>
</header>

<!-- <div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-one-half">
    <div class="app-task-card"
      style="border-left: 8px solid #d4351c; background: #e6eff7; padding: 20px; margin-bottom: 0; background: #f1f2f3;">
      <p class="govuk-heading-m govuk-!-margin-bottom-2">6 defendants partially match nDelius records</p>
      <p class="govuk-body govuk-!-margin-bottom-2">Review and confirm the correct record for each defendant.</p>
      <p class="govuk-body govuk-!-margin-bottom-0"><a class="govuk-link govuk-link--no-visited-state"
          href="/cases/day/2020-06-19/defendants-with-possible-records">View defendants</a></p>
    </div>
  </div>
</div> -->

<!-- <div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-one-half">
    <div class="app-task-card"
      style="border-left: 8px solid #d4351c; background: #e6eff7; padding: 20px; margin-bottom: 0; background: #f1f2f3;">
      <p class="govuk-heading-m govuk-!-margin-bottom-2">6 defendants partially match nDelius records</p>
      <p class="govuk-body govuk-!-margin-bottom-2">These defendants may be known to probation and need review.</p>
      <p class="govuk-body govuk-!-margin-bottom-0"><a class="govuk-link govuk-link--no-visited-state"
          href="/cases/day/2020-06-19/defendants-with-possible-records">View defendants</a></p>
    </div>
  </div>
</div> -->

<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-one-half">
    <div class="app-task-card"
      style="border-left: 8px solid #d4351c; background: #e6eff7; padding: 20px; margin-bottom: 0; background: #f1f2f3;">
      <p class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state"
          href="/cases/day/2020-06-19/defendants-with-possible-records">Defendants with possible nDelius records</a>
      </p>
      <p class="govuk-body govuk-!-margin-bottom-0">6 defendants partially match existing records and need review.</p>
    </div>
  </div>
</div>

<!-- <div class="govuk-grid-row govuk-!-margin-bottom-9">  
  <div class="govuk-grid-column-one-half">
    <div class="app-task-card"
      style="border-left: 8px solid #d4351c; background: #e6eff7; padding: 20px; margin-bottom: 0; background: #f1f2f3;">   
      <p class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state"
          href="/cases/day/2020-06-19/defendants-with-possible-records">6 defendants with possible nDelius records</a>
      </p>
      <p class="govuk-body govuk-!-margin-bottom-0">Defendants partially match with existing records and need review.</p>
    </div>
  </div>
</div> -->

<div class="govuk-tabs" data-module="govuk-tabs">
  <div class="app-case-updates">
    <p class="govuk-body-s govuk-!-margin-bottom-1 app-last-updated-stamp">List created: Today at 9:00am</p>
    <p class="govuk-body-s govuk-!-margin-bottom-0 app-next-update-stamp">Next scheduled update: Monday 29 Jun at 9:00am</p>
  </div>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="case-list.html">
        Case list
      </a>
    </li>
    <!-- <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="recently-added.html">
        Recently added (6)
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="removed-cases.html">
        Removed cases (3)
      </a>
    </li> -->
  </ul>
</div>

{% block filter %}
{% include "includes/filter.html" %}
{% endblock %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <span class="govuk-heading-m">163 cases</span>
  </div>
  <div class="govuk-grid-column-one-half">
    <span class="align-right">
  </div>
</div>

{% block courtList %}
{% include "includes/2020-06-19-court-list.html" %}
{% endblock %}

<nav class="moj-pagination" id="pagination-label">
  <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
  <ul class="moj-pagination__list">
    <li class="moj-pagination__item  moj-pagination__item--prev">
      <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
    </li>
    <li class="moj-pagination__item moj-pagination__item--active">1</li>
    <li class="moj-pagination__item"><a class="moj-pagination__link" href="">2</a></li>
    <li class="moj-pagination__item"><a class="moj-pagination__link" href="">3</a></li>
    <li class="moj-pagination__item"><a class="moj-pagination__link" href="">4</a></li>
    <li class="moj-pagination__item"><a class="moj-pagination__link" href="">5</a></li>
    <li class="moj-pagination__item  moj-pagination__item--next">
      <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
    </li>
  </ul>
  <p class="moj-pagination__results">Showing <b>1</b> to <b>12</b> of <b>163</b> cases</p>
</nav>
</div>
</div>

{% endblock %}