{% extends "layout.html" %}


{% block pageTitle %}
Link an nDelius record to the defendant
{% endblock %}



{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

<h1 class="govuk-heading-l">
  <!-- <span class="govuk-caption-l">Brian Ball</span> -->
  Link an nDelius record to the defendant
</h1>
<div class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Use a case reference number (CRN) to link an existing nDelius record to the defendant.</p>
    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">Defendant details</h2>
      <dl class="govuk-summary-list ">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Brian Ball
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            7 July 1986
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            72A Saltash Road, Hull, HU19 6LF
          </dd>
        </div>
      </dl>
    </div>
    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">nDelius record found</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Brian Ball
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            7 July 1986
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            72A Saltash Road, Hull, HU19 6LF
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            CRN
          </dt>
          <dd class="govuk-summary-list__value">
            G123456
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            PNC
          </dt>
          <dd class="govuk-summary-list__value">
            2018/329592392A
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Probation status
          </dt>
          <dd class="govuk-summary-list__value">
            Current
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Most recent event
          </dt>
          <dd class="govuk-summary-list__value">
            31 July 2019 - ORA Suspended Sentence Order (24 Months)
          </dd>
        </div>
      </dl>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Link record to defendant
      </button>
      <p class="govuk-body">If this isn't the record you're looking for you can <a href="" class="govuk-link">search again</a></p>
    </div>




  </div>
</div>






{% endblock %}