{% extends "layout.html" %}


{% block pageTitle %}
Review possible nDelius records
{% endblock %}



{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">Paul Grey</span>
  Review possible nDelius records
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body">Compare details and confirm the correct record for the defendant.</p>
    <div class="govuk-inset-text">
      Details that match the defendant are highlighted.
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half app-match-defendant-details">
        <h2 class="govuk-heading-m">Defendant details</h2>
        <div class="govuk-!-margin-bottom-0 app-possible-probation-record" style="
                border-left: 4px solid #ccc;
        border-bottom: 1px solid #ccc;
        background: #f8f8f8;
        padding: 0 20px;
        padding-bottom: 15px;
        padding-top: 5px;">
          <table class="govuk-table" style="margin-bottom: 0;">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="width: 40%;">Name</th>
                <td class="govuk-table__cell">Paul Grey</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">DOB</th>
                <td class="govuk-table__cell">2 May 1985</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Address</th>
                <td class="govuk-table__cell">18 Moray Lane, Beverley, HU17 6WG</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- <ul class="govuk-list" style="border-left: 1px solid #ccc; padding: 10px 20px;">
          <li><strong>Name:</strong> Brian Ball</li>
          <li><strong>DOB:</strong> 7 July 1986</li>
          <li><strong>Address:</strong> 72A Saltash Road, Plymouth, PL4 6LF</li>
        </ul> -->
      </div>
      <div class="govuk-grid-column-one-half app-match-probation-records">
        <h2 class="govuk-heading-m">2 nDelius records found</h2>
        <div class="govuk-form-group govuk-!-margin-bottom-0">
          <fieldset class="govuk-fieldset">
            <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Where do you live?
              </h1>
            </legend> -->
            <div class="govuk-radios">
              <div class="govuk-radios__item" style="margin-bottom: 20px;">
                <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio"
                  value="england">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live"
                  style="padding-top: 0; padding-right: 0;">
                  <div class="govuk-!-margin-bottom-0 app-possible-probation-record" style="
                          border-left: 4px solid #ccc;
        border-bottom: 1px solid #ccc;
                  background: #f8f8f8;
                  padding: 0 20px;
                  padding-bottom: 15px;
                  padding-top: 5px;">
                    <table class="govuk-table" style="margin-bottom: 0;">
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header" style="width: 40%;">Name</th>
                          <td class="govuk-table__cell"><span class="highlight">Paul</span> Gray</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">DOB</th>
                          <td class="govuk-table__cell"><span class="highlight">2 May 1985</span></td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Address</th>
                          <td class="govuk-table__cell">6 Steeple Close, Hull, HU4 4PQ</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">CRN</th>
                          <td class="govuk-table__cell">N7890079</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">PNC</th>
                          <td class="govuk-table__cell">2009/12426234R</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Probation status</th>
                          <td class="govuk-table__cell">Previously known</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Most recent event</th>
                          <td class="govuk-table__cell">16 Apr 2013 - CJA Community Order (36 Months)</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </label>
              </div>
            </div>
            <!-- <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio"
                value="scotland">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-2"
                style="padding-top:0; width:100%; padding-right: 0;">
                <ul class="govuk-list govuk-!-margin-bottom-0" style="border-left: 1px solid #ccc;
    background: #f8f8f8;
    padding: 10px 20px;">
                  <li><strong>Name:</strong> Brian Arthur Ball</li>
                  <li><strong>DOB:</strong> 7 July 1986</li>
                  <li><strong>Address:</strong> 212 Worthwark Park Drive, Newport, NP57 2HH</li>
                  <li><strong>PNC:</strong> 0000000000</li>
                  <li><strong>CRN:</strong> Z9745904</li>
                  <li><strong>Probation status:</strong> Previously known</li>
                  <li><strong>Most recent event:</strong> 22 Aug 2011 - Adult Custody 12m plus (48 Months)</li>
                </ul>
              </label>
            </div> -->

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio"
                value="wales">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-2"
                style="padding-top:0; padding-right: 0;">
                <div class="govuk-!-margin-bottom-0 app-possible-probation-record" style="
                        border-left: 4px solid #ccc;
        border-bottom: 1px solid #ccc;
                background: #f8f8f8;
                padding: 0 20px;
                padding-bottom: 15px;
                padding-top: 5px;">
                  <table class="govuk-table" style="margin-bottom: 0;">
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header" style="width: 40%;">Name</th>
                        <td class="govuk-table__cell"><span class="highlight">Paul</span> Karl <span class="highlight">Grey</span></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">DOB</th>
                        <td class="govuk-table__cell"><span class="highlight">2 May 1985</span></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Address</th>
                        <td class="govuk-table__cell">33 St. Mormont Avenue, Doncaster
                          South Yorkshire, DN12 4QJ</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">CRN</th>
                        <td class="govuk-table__cell">E5748608</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">PNC</th>
                        <td class="govuk-table__cell">2011/252342835D</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Probation status</th>
                        <td class="govuk-table__cell">Previously known</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Most recent event</th>
                        <td class="govuk-table__cell">15 Feb 2016 - ORA Suspended Sentence (24 Months)</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </label>
            </div>

          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
<details class="govuk-details" style="
    margin-bottom: 20px;
">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text" id="incorrect_vehicle_details_reveal">Can't see the correct record?
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>If the defendant is not known to probation you must <a class="govuk-link govuk-link--no-visited-state" href="/cases/day/2020-06-19/defendants-with-possible-records">confirm the defendant has
        no record</a></p>
    <p>If the defendant has an existing record but it isn't listed above you can <a class="govuk-link govuk-link--no-visited-state"
        href="/cases/day/2020-06-19/defendants-with-possible-records">link a different nDelius record to the defendant</a></p>

  </div>
</details>
<p class="govuk-body" style="margin-bottom: 0;"><a href="/cases/day/2020-06-19/defendants-with-possible-records" role="button" draggable="false"
  class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
  Confirm record
</a></p>
<p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="/cases/day/2020-06-19/defendants-with-possible-records">
  Cancel
</a></p>





</div>




{% endblock %}