{% extends "layout.html" %}


{% block pageTitle %}
Review possible nDelius records
{% endblock %}



{% block beforeContent %}
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

<div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary" data-module="error-summary"
    aria-labelledby="errorSummary-heading">
    <h2 id="error-summary-title" class="govuk-error-summary__title">There is a problem</h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            <li><a href="#email">Select an nDelius record</a></li>
        </ul>
    </div>
</div>
<h1 class="govuk-heading-l">
    <span class="govuk-caption-l">Brian Ball</span>
    Review possible nDelius records
</h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="govuk-body govuk-!-margin-bottom-6">Compare details and confirm the correct record for the defendant.
        </p>
        <div class="govuk-inset-text">
            Details that match the defendant are highlighted.
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half app-match-defendant-details">
                <h2 class="govuk-heading-m">Defendant details</h2>
                <div class="govuk-!-margin-bottom-0 app-possible-probation-record" style="
        border-left: 4px solid #ccc;
        border-bottom: 1px solid #ccc;
        background: #f8f8f8;
        padding: 0 20px;
        padding-bottom: 15px;
        padding-top: 5px;">
                    <table class="govuk-table" style="margin-bottom: 0;">
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header" style="width: 40%;">Name</th>
                                <td class="govuk-table__cell">Brian Ball</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">DOB</th>
                                <td class="govuk-table__cell">7 July 1986</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Address</th>
                                <td class="govuk-table__cell">72A Saltash Road, Hull, HU19 6LF</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="govuk-grid-column-one-half app-match-probation-records">
                <div style="
    padding-left: 15px;
    border-left: 5px solid #d4351c;
">
                    <h2 class="govuk-heading-m">2 nDelius records found</h2>
                    <span id="passport-issued-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>Select an nDelius record</span>
                    <div class="govuk-form-group govuk-!-margin-bottom-0">
                        <fieldset class="govuk-fieldset">
                            <div class="govuk-radios">
                                <div class="govuk-radios__item" style="margin-bottom: 20px;">
                                    <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live"
                                        type="radio" value="england">
                                    <label class="govuk-label govuk-radios__label" for="where-do-you-live"
                                        style="padding-top: 0; padding-right: 0;">
                                        <div class="govuk-!-margin-bottom-0 app-possible-probation-record" style="
                  border-left: 4px solid #ccc;
                  border-bottom: 1px solid #ccc;
                  background: #f8f8f8;
                  padding: 0 20px;
                  padding-bottom: 15px;
                  padding-top: 5px;">
                                            <table class="govuk-table" style="margin-bottom: 0;">
                                                <tbody class="govuk-table__body">
                                                    <tr class="govuk-table__row">
                                                        <th scope="row" class="govuk-table__header" style="width: 40%;">
                                                            Name</th>
                                                        <td class="govuk-table__cell"><span
                                                                class="highlight">Brian</span> Arthur <span
                                                                class="highlight">Ball</span></td>
                                                    </tr>
                                                    <tr class="govuk-table__row">
                                                        <th scope="row" class="govuk-table__header">DOB</th>
                                                        <td class="govuk-table__cell"><span class="highlight">7 July
                                                                1986</span></td>
                                                    </tr>
                                                    <tr class="govuk-table__row">
                                                        <th scope="row" class="govuk-table__header">Address</th>
                                                        <td class="govuk-table__cell">147 Lobo Street, <span
                                                                class="highlight">Hull</span>, HU4 0DY
                                                        </td>
                                                    </tr>
                                                    <tr class="govuk-table__row">
                                                        <th scope="row" class="govuk-table__header">CRN</th>
                                                        <td class="govuk-table__cell">P4317557</td>
                                                    </tr>
                                                    <tr class="govuk-table__row">
                                                        <th scope="row" class="govuk-table__header">PNC</th>
                                                        <td class="govuk-table__cell">2005/0234238T</td>
                                                    </tr>
                                                    <tr class="govuk-table__row">
                                                        <th scope="row" class="govuk-table__header">Probation status
                                                        </th>
                                                        <td class="govuk-table__cell">Previously known</td>
                                                    </tr>
                                                    <tr class="govuk-table__row">
                                                        <th scope="row" class="govuk-table__header">Most recent event
                                                        </th>
                                                        <td class="govuk-table__cell">20 Nov 2018 - ORA Suspended
                                                            Sentence Order (12 Months)</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </label>
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live"
                                    type="radio" value="wales">
                                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2"
                                    style="padding-top:0; padding-right: 0;">
                                    <div class="govuk-!-margin-bottom-0 app-possible-probation-record" style="
                border-left: 4px solid #ccc;
                border-bottom: 1px solid #ccc;
                background: #f8f8f8;
                padding: 0 20px;
                padding-bottom: 15px;
                padding-top: 5px;">
                                        <table class="govuk-table" style="margin-bottom: 0;">
                                            <tbody class="govuk-table__body">
                                                <tr class="govuk-table__row">
                                                    <th scope="row" class="govuk-table__header" style="width: 40%;">Name
                                                    </th>
                                                    <td class="govuk-table__cell"><span class="highlight">Brian</span>
                                                        Arthur <span class="highlight">Ball</span></td>
                                                </tr>
                                                <tr class="govuk-table__row">
                                                    <th scope="row" class="govuk-table__header">DOB</th>
                                                    <td class="govuk-table__cell"><span class="highlight">7 July
                                                            1986</span></td>
                                                </tr>
                                                <tr class="govuk-table__row">
                                                    <th scope="row" class="govuk-table__header">Address</th>
                                                    <td class="govuk-table__cell">212 Worthwark Park Drive, Lincoln, LN7
                                                        2HH</td>
                                                </tr>
                                                <tr class="govuk-table__row">
                                                    <th scope="row" class="govuk-table__header">CRN</th>
                                                    <td class="govuk-table__cell">G7214421</td>
                                                </tr>
                                                <tr class="govuk-table__row">
                                                    <th scope="row" class="govuk-table__header">PNC</th>
                                                    <td class="govuk-table__cell">2005/0234238T</td>
                                                </tr>
                                                <tr class="govuk-table__row">
                                                    <th scope="row" class="govuk-table__header">Probation status</th>
                                                    <td class="govuk-table__cell">Previously known</td>
                                                </tr>
                                                <tr class="govuk-table__row">
                                                    <th scope="row" class="govuk-table__header">Most recent event</th>
                                                    <td class="govuk-table__cell">22 Aug 2011 - Adult Custody 12m plus
                                                        (48 Months)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </label>
                            </div>

                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<details class="govuk-details govuk-!-margin-bottom-4">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text" id="incorrect_vehicle_details_reveal">Can't see the correct record?
        </span>
    </summary>
    <div class="govuk-details__text">
        <p>If the defendant is unknown to probation, you must <a class="govuk-link govuk-link--no-visited-state"
                href="/cases/day/2020-06-19/defendants-with-possible-records">confirm they have
                no record</a>.</p>
        <p>If they have an nDelius record, you can <a class="govuk-link govuk-link--no-visited-state"
                href="/cases/day/2020-06-19/link-ball">link it to them with a case reference number</a>.</p>
    </div>
</details>
<p class="govuk-body" style="margin-bottom: 0;"><a href="/cases/day/2020-06-19/defendants-with-possible-records"
        role="button" draggable="false" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
        Confirm record
    </a></p>
<p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state"
        href="/cases/day/2020-06-19/defendants-with-possible-records">
        Cancel
    </a></p>

{% endblock %}