{% extends "layout.html" %}


{% block pageTitle %}
Community Order / SSO Breach
{% endblock %}

{% block bodyStart %}
{% block keyDetails %}
{% include "includes/key_details/6_Houghton.html" %}
{% endblock %}
{% endblock %}


{% block beforeContent %}
<a href="/cases/6/probationrecord/event3.html" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- <div class="moj-banner">
      <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
        <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
      C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" />
      </svg>
      <div class="moj-banner__message">
        <h2 class="govuk-heading-m">This breach is ready to prosecute</h2>
      </div>
    </div> -->
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">
      <!-- <span class="govuk-caption-l">Order performance</span> -->
      Community Order / SSO Breach
    </h1>
    <div class="govuk-!-margin-bottom-9">
      <dl class="govuk-summary-list">
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            NSI provider
          </dt>
          <dd class="govuk-summary-list__value">
            NPS North East
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Non statutory intervention
          </dt>
          <dd class="govuk-summary-list__value">
            SPG Breach Referral
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Non statutory intervention sub type
          </dt>
          <dd class="govuk-summary-list__value">
            Community Order / SSO
          </dd>
        </div> -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Order
          </dt>
          <dd class="govuk-summary-list__value">
            ORA Community Order (12 months)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sentenced at
          </dt>
          <dd class="govuk-summary-list__value">
            Harrogate Magistrates' Court
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Breach incident
          </dt>
          <dd class="govuk-summary-list__value">
            5 December 2019
          </dd>
        </div>
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Breach started
          </dt>
          <dd class="govuk-summary-list__value">
            25 February 2020
          </dd>
        </div> -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Provider
          </dt>
          <dd class="govuk-summary-list__value">
            NPS North East
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Team
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Enforcement Hub - Sheffield and Rotherham</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Officer
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Selina Richardson</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Outcome
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Completed - Revoked & Re-Sentenced</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Outcome date
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">18 Dec 2019</p>
          </dd>
        </div>
      </dl>
    </div>

    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m">Notes</h3>
      <p>No notes have been added.</p>


    </div>

    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m">Attachments</h3>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">File</th>
            <th scope="col" class="govuk-table__header">Added by</th>
            <th scope="col" class="govuk-table__header">Date added</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">NAT NPS Breach Report CO SSO_HOUGHTON_R_DX12340X.doc</a></td>
            <td class="govuk-table__cell">Claire Smith</td>
            <td class="govuk-table__cell">8 December 2019</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">NAT Breach Pack Risk Assessment_HOUGHTON_R_DX12340X.doc</a></td>
            <td class="govuk-table__cell">Claire Smith</td>
            <td class="govuk-table__cell">8 December 2019</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">fta evidence HOUGHTON.docx	</a></td>
            <td class="govuk-table__cell">Claire Smith</td>
            <td class="govuk-table__cell">8 December 2019</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">_VIEW_1. CO (2).pdf	</a></td>
            <td class="govuk-table__cell">Claire Smith</td>
            <td class="govuk-table__cell">8 December 2019</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">rhys pre cons.pdf	</a></td>
            <td class="govuk-table__cell">Claire Smith</td>
            <td class="govuk-table__cell">10 December 2019 </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">NOTICE to ATTEND MAGS COURT & WARRANT.doc</a></td>
            <td class="govuk-table__cell">Selina Richardson</td>
            <td class="govuk-table__cell">13 December 2019</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="">copy of text sent to offender.docx</a></td>
            <td class="govuk-table__cell">Selina Richardson</td>
            <td class="govuk-table__cell">13 December 2019</td>
          </tr>
        </tbody>
      </table>


    </div>




  </div>

  <div class="govuk-grid-column-one-third">
  </div>



</div>




{% endblock %}