{% extends "layout.html" %}


{% block pageTitle %}
ORA Community Order (12 Months)
{% endblock %}

{% block bodyStart %}
{% block keyDetails %}
{% include "includes/key_details/6_Houghton.html" %}
{% endblock %}
{% endblock %}


{% block beforeContent %}
<a href="/cases/6/probationrecord/event1.html" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">
      <!-- <span class="govuk-caption-l">Order performance</span> -->
      SPG Breach Referral - Community Order / SSO
    </h1>

    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m">Details</h3>
      <dl class="govuk-summary-list">
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            NSI provider
          </dt>
          <dd class="govuk-summary-list__value">
            NPS North East
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Non statutory intervention
          </dt>
          <dd class="govuk-summary-list__value">
            SPG Breach Referral
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Non statutory intervention sub type
          </dt>
          <dd class="govuk-summary-list__value">
            Community Order / SSO
          </dd>
        </div> -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Referral date
          </dt>
          <dd class="govuk-summary-list__value">
            31 January 2020
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Start date
          </dt>
          <dd class="govuk-summary-list__value">
            25 February 2020
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Provider
          </dt>
          <dd class="govuk-summary-list__value">
            NPS North East
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Team
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Enforcement Hub - Sheffield and Rotherham</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Officer
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Unallocated</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Breach Initiated</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status date
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">25 February 2020</p>
          </dd>
        </div>
      </dl>
    </div>

    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m">Notes</h3>
      <p>No notes have been added.</p>


    </div>

    <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-m">Attachments</h3>
      <p>No attachments have been added.</p>


    </div>




  </div>

  <div class="govuk-grid-column-one-third">
  </div>



</div>




{% endblock %}