{% extends "layout.html" %}


{% block pageTitle %}
Choose probation record
{% endblock %}

{% block beforeContent %}
<a href="add.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Choose probation record
    </h1>
    <p class="govuk-body-l">Select the probation record that matches the defendant's details.</p>
    <div class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">Defendant's details:</h2>
      </h2>
      <div class="card">
        <span class="card__heading">
          Michael Jones
        </span>
        <div class="card__attributes">
          <dt>Date of birth:</dt>
          <dd>02/06/1979</dd>
          <dt>PNC:</dt>
          <dd>Not available</dd>
        </div>
      </div>
    </div>

    <div class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">3 probation records found:</h2>
      <div class="card">
        <span class="card__heading">
          <span class="highlight">Michael</span> <span class="highlight">Jones</span> <span
            class="moj-badge govuk-!-margin-left-1">Current
            offender</span>
        </span>
        <div class="card__attributes ">
          <dt>Date of birth:</dt>
          <dd><span class="highlight">02/06/1979</span></dd>
          <dt>PNC:</dt>
          <dd>A1234560BA</dd>
          <dt>CRN:</dt>
          <dd>DX04994</dd>
          <dd><a href="match-record.html" class="govuk-link--no-visited-state">View offender summary</a></dd>
        </div>
        <div class="govuk-inset-text govuk-!-margin-bottom-1 govuk-!-margin-top-2">
          <h4 class="govuk-!-margin-bottom-1">Aliases</h4>
            <ul class="govuk-list" style="list-style:none;">
              <li>Ollie Morgan</li>
              <li><span class="highlight">Michael</span> Travers</li>
              <li>Marcus Thomas</li>
            </ul>
        </div>
        <div class="moj-button-menu">
          <div class="moj-button-menu__wrapper">
            <a href="details.html" role="button" draggable="false" class="govuk-button moj-button-menu__item"
              data-module="govuk-button">
              Confirm match
            </a>
          </div>
        </div>
      </div>

      <div class="card">
        <span class="card__heading">
          <span class="highlight">Michael</span> <span class="highlight">Jones</span>
        </span>
        <div class="card__attributes">
          <dt>Date of birth:</dt>
          <dd>06/02/<span class="highlight">1979</span></dd>
          <dt>PNC:</dt>
          <dd>Not recorded</dd>
          <dt>CRN:</dt>
          <dd>SG53949</dd>
          <dd><a href="match-record.html" class="govuk-link--no-visited-state">View offender summary</a></dd>
        </div>
        <div class="moj-button-menu">
          <div class="moj-button-menu__wrapper">
            <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item  "
              data-module="govuk-button">
              Confirm match
            </a>
          </div>
        </div>
      </div>

      <div class="card">
        <span class="card__heading">
          <span class="highlight">Michael</span> Travers
        </span>
        <div class="card__attributes govuk-!-margin-bottom-1">
          <dt>Date of birth:</dt>
          <dd><span class="highlight">02/06/1979</span></dd>
          <dt>PNC:</dt>
          <dd>A1234562BA</dd>
          <dt>CRN:</dt>
          <dd>VK104567</dd>
          <dd><a href="match-record.html" class="govuk-link--no-visited-state">View offender summary</a></dd>
        </div>
        <div class="moj-button-menu">
          <div class="moj-button-menu__wrapper">
            <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item  "
              data-module="govuk-button">
              Confirm match
            </a>
          </div>
        </div>
      </div>

    </div>
    <div class="">
      <h2 class="govuk-heading-m">Can't find a matching record?</h2>
      <p class="govuk-body">If the defendant is not known to probation and therefore has no matching record in nDelius;
        you can continue.</p>
      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="/details.html">This is a new
          offender</a></p>
    </div>

  </div>
</div>

{% endblock %}
