{% extends "layout.html" %}


{% block pageTitle %}
Cases
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
      <span class="govuk-caption-xl">Hull Magistrates' Court</span>
      Cases
    </h1>
    <nav class="moj-sub-navigation " aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="/cases">Wednesday 8 Jan </a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="">Thursday 9 Jan </a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="">Friday 10 Jan</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="">Saturday 11 Jan</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="">Monday 13 Jan</a>
        </li>
        <li class="moj-sub-navigation__item case-list-timestamp">
          <span class="moj-sub-navigation__link govuk-hint">Last updated Wednesday 8 Jan at 08:30</span>
        </li>
      </ul>
    </nav>
  </div>
</div>

{% block filter %}
{% include "includes/filter.html" %}
{% endblock %}

{% block courtList %}
{% include "includes/court-list.html" %}
{% endblock %}

<nav class="moj-pagination" id="pagination-label">
  <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
  <ul class="moj-pagination__list">
    <li class="moj-pagination__item  moj-pagination__item--prev">
      <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
    </li>
    <li class="moj-pagination__item moj-pagination__item--active">1</li>
    <li class="moj-pagination__item"><a class="moj-pagination__link" href="">2</a></li>
    <li class="moj-pagination__item"><a class="moj-pagination__link" href="">3</a></li>
    <li class="moj-pagination__item"><a class="moj-pagination__link" href="">4</a></li>
    <li class="moj-pagination__item"><a class="moj-pagination__link" href="">5</a></li>
    <li class="moj-pagination__item  moj-pagination__item--next">
      <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
    </li>
  </ul>
  <p class="moj-pagination__results">Showing <b>1</b> to <b>12</b> of <b>187</b> cases</p>
</nav>
</div>
</div>

{% endblock %}