{% extends "layout.html" %}


{% block pageTitle %}
Cases
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
      <span class="govuk-caption-xl">Manchester Magistrates' Court</span>
      Cases
    </h1>
    <nav class="moj-sub-navigation " aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="/cases">Thursday, 21 November 2019</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="/cases/tomorrow">Friday, 22 November 2019</a>
        </li>
        <li class="moj-sub-navigation__item case-list-timestamp">
          <span class="moj-sub-navigation__link govuk-hint">Last updated Thursday, 21 November 2019 at 08:30</span>
        </li>
      </ul>
    </nav>


    <div class="moj-filter-layout">

      <div class="moj-filter-layout__filter">
        <div class="moj-filter">
          <div class="moj-filter__header">
            <div class="moj-filter__header-title">
              <h2 class="govuk-heading-m">Filter</h2>
            </div>
            <div class="moj-filter__header-action">
            </div>
          </div>
          <div class="moj-filter__content">
            <!-- <div class="moj-filter__selected">
                        <div class="moj-filter__selected-heading">
                            <div class="moj-filter__heading-title">
                                <h2 class="govuk-heading-m">Selected filters</h2>
                            </div>
                            <div class="moj-filter__heading-action">
                                <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
                            </div>
                        </div>
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Colour</h3>
                        <ul class="moj-filter-tags">
                            <li><a class="moj-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this
                                        filter</span> Blue</a></li>
    
                            <li><a class="moj-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this
                                        filter</span> Yellow</a></li>
                        </ul>
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Status</h3>
                        <ul class="moj-filter-tags">
                            <li><a class="moj-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this
                                        filter</span> Complete</a></li>
                        </ul>
                    </div> -->
            <div class="moj-filter__options">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Apply filters
              </button>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    Courtroom
                  </legend>
                  <div class="govuk-checkboxes govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="room" name="room" type="checkbox" value="1">
                      <label class="govuk-label govuk-checkboxes__label" for="room">
                        1
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="room-2" name="room" type="checkbox" value="2">
                      <label class="govuk-label govuk-checkboxes__label" for="room-2">
                        2
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="room-3" name="room" type="checkbox" value="3">
                      <label class="govuk-label govuk-checkboxes__label" for="room-3">
                        3
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="room-4" name="room" type="checkbox" value="4">
                      <label class="govuk-label govuk-checkboxes__label" for="room-4">
                        4
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="room-5" name="room" type="checkbox" value="5">
                      <label class="govuk-label govuk-checkboxes__label" for="room-5">
                        5
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="room-6" name="room" type="checkbox" value="6">
                      <label class="govuk-label govuk-checkboxes__label" for="room-6">
                        6
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="room-7" name="room" type="checkbox" value="7">
                      <label class="govuk-label govuk-checkboxes__label" for="room-7">
                        7
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="room-8" name="room" type="checkbox" value="8">
                      <label class="govuk-label govuk-checkboxes__label" for="room-8">
                        8
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    Session
                  </legend>
                  <div class="govuk-checkboxes govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="session" name="session" type="checkbox" value="AM">
                      <label class="govuk-label govuk-checkboxes__label" for="session">
                        Morning
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="session-2" name="status" type="checkbox" value="PM">
                      <label class="govuk-label govuk-checkboxes__label" for="session-2">
                        Afternoon
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    Probation record
                  </legend>
                  <div class="govuk-checkboxes govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="session" name="session" type="checkbox" value="AM">
                      <label class="govuk-label govuk-checkboxes__label" for="session">
                        Current
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="session-2" name="status" type="checkbox" value="PM">
                      <label class="govuk-label govuk-checkboxes__label" for="session-2">
                        Previously known
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="session-2" name="status" type="checkbox" value="PM">
                      <label class="govuk-label govuk-checkboxes__label" for="session-2">
                        Not known
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="moj-filter-layout__content">
        <div class="moj-banner">
          <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
            <path
              d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
                  C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" />
          </svg>
          <div class="moj-banner__message">
            <h2 class="govuk-heading-m">6 remand cases added today at 8.30 am
            </h2>
            <p class="govuk-body govuk-!-margin-bottom-0"><a href="" class="govuk-link--no-visited-state">Dismiss</a>
            </p>
            </p>
          </div>
        </div>
        <div class="moj-action-bar">
          <div class="moj-action-bar__filter"></div>
          <div class="moj-button-menu">
            <div class="moj-button-menu__wrapper">
              <a href="add.html" role="button" draggable="false" class="govuk-button moj-button-menu__item  "
                data-module="govuk-button">
                Add remand case
              </a>
              <!-- <button type="submit" class="govuk-button moj-button-menu__item govuk-button--secondary "
                data-module="govuk-button">
                Add remand case
              </button> -->
            </div>
          </div>
        </div>



        <div class="moj-scrollable-pane">
          <div class="moj-scrollable-pane__wrapper">
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" aria-sort="none">Defendant</th>
                  <th scope="col" class="govuk-table__header custom-delius-record-width" aria-sort="none">Probation
                    record
                  </th>
                  <!-- <th scope="col" class="govuk-table__header" aria-sort="none">Libra marker</th> -->
                  <th scope="col" class="govuk-table__header" aria-sort="none">Offence</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric custom-case-no-width"
                    aria-sort="none">Case no.</th>
                  <th scope="col" class="govuk-table__header custom-session-width" aria-sort="none">Session</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Court</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <!-- COURT ROOM ONE (North Tyneside Mags | 27/8/19 | Guilty Anticipated | Session: 10:00-13:00 | Courtroom 01)-->
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Dylan Adam Davis</a></td>
                  <td class="govuk-table__cell"><span class="moj-badge-wrapper"><span
                        class="moj-badge moj-badge--black">Breach</span></span>Current
                  </td>
                  <!-- <td class="govuk-table__cell"></td> -->
                  <td class="govuk-table__cell">Burglary other than dweling - theft</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
                  <td class="govuk-table__cell">Morning</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
                </tr>
                <tr>
                  <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Tony Armstrong</a></td>
                  <td class="govuk-table__cell">
                    <ul>
                      <li>Previously known</li>
                      <li>05/07/2019</li>
                    </ul>
                  </td>
                  <!-- <td class="govuk-table__cell"></td> -->
                  <td class="govuk-table__cell">
                    <ol>
                      <li>Possess a class C controlled drug</li>
                      <li>Possess a controlled drug of Class A - heroin</li>
                    </ol>
                  </td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">2</td>
                  <td class="govuk-table__cell"> Morning</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
                </tr>
                <tr>
                  <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Klara Marie McDonald</a>
                    </td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"
                      href="match-cards.html">Confirm record</a>
                  </td>
                  <!-- <td class="govuk-table__cell"></td> -->
                  <td class="govuk-table__cell">Fail to provide specimen for analysis - vehicle driver</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3">3</td>
                  <td class="govuk-table__cell"> Morning</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
                </tr>
                <tr>
                  <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Hannah Francis</a></td>
                  <td class="govuk-table__cell">Not known</span>
                    <!-- <td class="govuk-table__cell"></td> -->
                  <td class="govuk-table__cell">Drive motor vehicle when alcohol level above limit</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="4">4</td>
                  <td class="govuk-table__cell"> Morning</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
                </tr>
                <tr>
                  <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Andrei Edwards</a></td>
                  <td class="govuk-table__cell">
                    <ul>
                      <li>Previously known</li>
                      <li>11/09/2019</li>
                    </ul>
                  </td>
                  <!-- <td class="govuk-table__cell"></td> -->
                  <td class="govuk-table__cell">Possess a class C controlled drug</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="5">5</td>
                  <td class="govuk-table__cell"> Morning</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
                </tr>
                <tr>
                  <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Rhys John Houghton</a>
                    </td>
                  <td class="govuk-table__cell"><span class="moj-badge-wrapper"><span
                        class="moj-badge moj-badge--black">Breach</span><span
                        class="moj-badge moj-badge--black">Sso</span></span>Current</td>
                  <!-- <td class="govuk-table__cell"></td> -->
                  <td class="govuk-table__cell">Assault by beating of an emergency worker</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="6">6</td>
                  <td class="govuk-table__cell"> Morning</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
                </tr>
                <tr>
                  <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Ava Ryan</a></td>
                  <td class="govuk-table__cell">Current</td>
                  <!-- <td class="govuk-table__cell"></td> -->
                  <td class="govuk-table__cell">Dishonestly fail notify change of circumstances affecting entitlement to
                    social security benefit / advantage / payment</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="7">7</td>
                  <td class="govuk-table__cell"> Morning</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
                </tr>
                <tr>
                  <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Vinnie Robert Anderson</a>
                    </td>
                  <td class="govuk-table__cell">Not known</span>
                  </td>
                  <!-- <td class="govuk-table__cell"></td> -->
                  <td class="govuk-table__cell">Possess a controlled drug of Class A - Cocaine</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="8">8</td>
                  <td class="govuk-table__cell"> Morning</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
                </tr>
                <tr>
                  <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Aiden Hill</a></td>
                  <td class="govuk-table__cell">Current</td>
                  <!-- <td class="govuk-table__cell"></td> -->
                  <td class="govuk-table__cell">
                    <ol>
                      <li>Fail to provide specimen for analysis - vehicle driver</li>
                      <li>Drive a motor vehicle otherwise than in accordance with a license - endorsable offence</li>
                      <li>Use a motor vehicle on a road / public place without third party insurance</li>
                    </ol>
                  </td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="9">9</td>
                  <td class="govuk-table__cell"> Morning</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
                </tr>
                <tr>
                  <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Noah Harvey</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"
                      href="match-cards.html">Confirm record</a></td>
                  <!-- <td class="govuk-table__cell"></td> -->
                  <td class="govuk-table__cell">
                    <ol>
                      <li>Possess a controlled drug of Class B - Amphetamine</li>
                      <li>Drunk and disorderly in a public place</li>
                    </ol>
                  </td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="10">10</td>
                  <td class="govuk-table__cell"> Morning</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
                </tr>
                <tr>
                  <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Declan Dennis Bradley</a>
                    </td>
                  <td class="govuk-table__cell">Not known</td>
                  <!-- <td class="govuk-table__cell"></td> -->
                  <td class="govuk-table__cell">
                    <ol>
                      <li>Obstruct/resist a constable in execution of duty</li>
                      <li>Use a handheld mobile phone / device while drivng a motor vehicle on a road - endorsable
                        offence
                      </li>
                      <li>Use a motor vehicle on a road / public place without third party insurance</li>
                      <li>Drive a motor vehicle otherwise than in accordance with a licence - endorsable offence</li>
                    </ol>
                  </td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="11">11</td>
                  <td class="govuk-table__cell"> Morning</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
                </tr>
                <tr>
                  <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Zane Harris Smith</a></td>
                  <td class="govuk-table__cell">
                    <ul>
                      <li>Previously known</li>
                      <li>22/06/2019</li>
                    </ul>
                  </td>
                  <!-- <td class="govuk-table__cell"></td> -->
                  <td class="govuk-table__cell">Assault by beating of an emergency worker</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="12">12</td>
                  <td class="govuk-table__cell"> Morning</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
                </tr>
                <tr>
                  <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Gabriela Newman</a></td>
                  <td class="govuk-table__cell">
                    <ul>
                      <li>Previously known</li>
                      <li>25/10/2019</li>
                    </ul>
                  </td>
                  <!-- <td class="govuk-table__cell"></td> -->
                  <td class="govuk-table__cell">Attempt theft from shop</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="13">13</td>
                  <td class="govuk-table__cell"> Morning</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
                </tr>
                <tr>
                  <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Shiv Patel</a></td>
                  <td class="govuk-table__cell">Current</td>
                  <!-- <td class="govuk-table__cell"></td> -->
                  <td class="govuk-table__cell">
                    <ol>
                      <li>Possess a controlled drug of Class B - Other</li>
                      <li>Possess a controlled drug of Class B - Other</li>
                    </ol>
                  </td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="14">14</td>
                  <td class="govuk-table__cell"> Morning</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
                </tr>
                <tr>
                  <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Muhammad Hussain</a></td>
                  <td class="govuk-table__cell">Not known</span>
                  </td>
                  <!-- <td class="govuk-table__cell"></td> -->
                  <td class="govuk-table__cell">Urinate in a street / public place in contravention of a byelaw</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="15">15</td>
                  <td class="govuk-table__cell"> Morning</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
                </tr>
                <tr>
                  <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Michael William Stone</a>
                    </td>
                  <td class="govuk-table__cell">Current</td>
                  <!-- <td class="govuk-table__cell"></td> -->
                  <td class="govuk-table__cell">Theft from a motor vehicle</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="15">16</td>
                  <td class="govuk-table__cell"> Morning</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
                </tr>
                <!-- COURT ROOM TWO (Thames Mags | 5/11/19 | New custody cases | Session: 10:00-13:00 | Courtroom 07)-->
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Maxwell Lee</a></td>
                  <td class="govuk-table__cell">
                    <ul>
                      <li>Previously known</li>
                      <li>17/08/2019</li>
                    </ul>
                  </td>
                  <!-- <td class="govuk-table__cell"></td> -->
                  <td class="govuk-table__cell">
                    <ol>
                      <li>Conspire to steal motor vehicle</li>
                      <li>Conspire to receive stolen goods</li>
                      <li>Drive a motor vehicle dangerously</li>
                      <li>Drive a motor vehicle otherwise than in accordance with a licence - endorsable offence</li>
                      <li>Use a motor vehicle on a road / public place without third party insurance</li>
                      <li>Drive a motor vehicle dangerously</li>
                      <li>Drive a motor vehicle otherwise than in accordance with a licence - endorsable offence</li>
                      <li>Use a motor vehicle on a road / public place without third party insurance</li>
                    </ol>
                  </td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
                  <td class="govuk-table__cell">Morning</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">2</td>
                </tr>
                <tr>
                  <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Leah Jane Atkinson</a>
                    </td>
                  <td class="govuk-table__cell">Current</td>
                  <!-- <td class="govuk-table__cell"></td> -->
                  <td class="govuk-table__cell">Possess a controlled drug of Class A - Cocaine</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">2</td>
                  <td class="govuk-table__cell"> Morning</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">2</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Lennox Reed</a></td>
                  <td class="govuk-table__cell">
                    <ul>
                      <li>Previously known</li>
                      <li>02/08/2019</li>
                    </ul>
                  </td>
                  <!-- <td class="govuk-table__cell"></td> -->
                  <td class="govuk-table__cell">
                    <ol>
                      <li>Conspire to steal motor vehicle</li>
                      <li>Conspire to receive stolen goods</li>
                      <li>Drive a motor vehicle dangerously</li>
                      <li>Use a motor vehicle on a road / public place without third party insurance</li>
                      <li>Drive whilst disqualified</li>
                    </ol>
                  </td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3">3</td>
                  <td class="govuk-table__cell">Morning</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">2</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Alexander Lee Moss</a>
                    </td>
                  <td class="govuk-table__cell">
                    <ul>
                      <li>Previously known</li>
                      <li>05/09/2019</li>
                    </ul>
                  </td>
                  <!-- <td class="govuk-table__cell"></td> -->
                  <td class="govuk-table__cell">
                    <ol>
                      <li>Conspire to steal motor vehicle</li>
                      <li>Conspire to receive stolen goods</li>
                      <li>Drive a motor vehicle dangerously</li>
                      <li>Use a motor vehicle on a road / public place without third party insurance</li>
                      <li>Drive a motor vehicle otherwise than in accordance with a licence - endorsable offence</li>
                    </ol>
                  </td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="4">4</td>
                  <td class="govuk-table__cell">Morning</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">2</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Evandro Álves Vidal</a>
                    </td>
                  <td class="govuk-table__cell">
                    Not known
                  </td>
                  <!-- <td class="govuk-table__cell"></td> -->
                  <td class="govuk-table__cell">
                    Possess / control identity documents with intent
                  </td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="">5</td>
                  <td class="govuk-table__cell">Morning</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">2</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Camile Sirgediene</a>
                    </td>
                  <td class="govuk-table__cell">
                    Not known
                  </td>
                  <!-- <td class="govuk-table__cell"></td> -->
                  <td class="govuk-table__cell">
                    Dishonestly make a false statement to obtain a benefit / advantage / payment
                  </td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="">6</td>
                  <td class="govuk-table__cell">Morning</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">2</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Oliver Gardner</a>
                    </td>
                  <td class="govuk-table__cell">
                    Current
                  </td>
                  <!-- <td class="govuk-table__cell"></td> -->
                  <td class="govuk-table__cell">
                    Failing to comply with the requirements of a community order
                  </td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="">7</td>
                  <td class="govuk-table__cell">Morning</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">2</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Merkelis Kuzminskas</a>
                    </td>
                  <td class="govuk-table__cell">
                    Not known
                  </td>
                  <!-- <td class="govuk-table__cell"></td> -->
                  <td class="govuk-table__cell">
                    Drive a mechanically propelled vehicle on a road / in a public place without due care and attention
                  </td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="">8</td>
                  <td class="govuk-table__cell">Morning</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">2</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Ankur Kapadia</a>
                    </td>
                  <td class="govuk-table__cell">
                    <ul>
                      <li>Previously known</li>
                      <li>28/07/2019</li>
                    </ul>
                  </td>
                  <!-- <td class="govuk-table__cell"></td> -->
                  <td class="govuk-table__cell">
                    Use threatening / abusive / insulting words / behaviour with intent to cause fear of / provoke
                    unlawful violence
                  </td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="">9</td>
                  <td class="govuk-table__cell">Morning</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">2</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


    <nav class="moj-pagination" id="pagination-label">
      <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
      <ul class="moj-pagination__list">
        <li class="moj-pagination__item  moj-pagination__item--prev">
          <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
        </li>
        <li class="moj-pagination__item moj-pagination__item--active">1</li>
        <li class="moj-pagination__item"><a class="moj-pagination__link" href="">2</a></li>
        <li class="moj-pagination__item"><a class="moj-pagination__link" href="">3</a></li>
        <li class="moj-pagination__item"><a class="moj-pagination__link" href="">4</a></li>
        <li class="moj-pagination__item"><a class="moj-pagination__link" href="">5</a></li>
        <li class="moj-pagination__item  moj-pagination__item--next">
          <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
        </li>
      </ul>
      <p class="moj-pagination__results">Showing <b>1</b> to <b>25</b> of <b>187</b> cases</p>
    </nav>
  </div>
</div>

{% endblock %}