{% extends "layout.html" %}


{% block pageTitle %}
Cases
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
      <span class="govuk-caption-xl">Sheffield Magistrates' Court</span>
      Cases
    </h1>
    <nav class="moj-sub-navigation " aria-label="Sub navigation">
      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="/cases">Monday, 11 November 2019</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="/cases/tomorrow">Tuesday, 12 November 2019</a>
        </li>
        <li class="moj-sub-navigation__item case-list-timestamp">
          <span class="moj-sub-navigation__link">Last updated Monday, 11 November 2019 at 08:30</span>
        </li>
      </ul>
    </nav>
    <div class="moj-filter-layout__content">
      <div class="moj-action-bar">
        <div class="moj-action-bar__filter">
          <button type="submit" class="govuk-button moj-button-menu__item govuk-button--secondary"
            data-module="govuk-button">
            Show filter
          </button>
        </div>
        <div class="moj-button-menu">
          <div class="moj-button-menu__wrapper">
            <a href="add.html" role="button" draggable="false" class="govuk-button moj-button-menu__item"
              data-module="govuk-button">
              Add remand case
            </a>
          </div>
        </div>
      </div>
    </div>


    <!-- <p>This paragraph has a link to <a href="/url/of/onward/page">find out more about this subject</a>.</p> -->
    <div class="moj-scrollable-pane">
      <div class="moj-scrollable-pane__wrapper">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" aria-sort="none">Defendant</th>
              <th scope="col" class="govuk-table__header custom-delius-record-width" aria-sort="none">nDelius
                record
              </th>
              <!-- <th scope="col" class="govuk-table__header" aria-sort="none">Libra marker</th> -->
              <th scope="col" class="govuk-table__header" aria-sort="none">Offence</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric custom-case-no-width"
                aria-sort="none">Case no.</th>
              <th scope="col" class="govuk-table__header custom-session-width" aria-sort="none">Session</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Court</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <!-- COURT ROOM ONE (North Tyneside Mags | 27/8/19 | Guilty Anticipated | Session: 10:00-13:00 | Courtroom 01)-->
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Dylan Adam Davis</a></td>
              <td class="govuk-table__cell"><span class="moj-badge-wrapper"><span
                    class="moj-badge moj-badge--black">Breach</span></span>Current
              </td>
              <!-- <td class="govuk-table__cell"></td> -->
              <td class="govuk-table__cell">Burglary other than dweling - theft</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
              <td class="govuk-table__cell">10:00&ndash;13:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Tony Armstrong</a></td>
              <td class="govuk-table__cell">
                <ul>
                  <li>Previously known</li>
                  <li>05/07/2019</li>
                </ul>
              </td>
              <!-- <td class="govuk-table__cell"></td> -->
              <td class="govuk-table__cell">
                <ol>
                  <li>Possess a class C controlled drug</li>
                  <li>Possess a controlled drug of Class A - heroin</li>
                </ol>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">2</td>
              <td class="govuk-table__cell"> 10:00&ndash;13:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Klara Marie McDonald</a>
                </td>
              <td class="govuk-table__cell">Not known</span>
              </td>
              <!-- <td class="govuk-table__cell"></td> -->
              <td class="govuk-table__cell">Fail to provide specimen for analysis - vehicle driver</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3">3</td>
              <td class="govuk-table__cell"> 10:00&ndash;13:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Hannah Francis</a></td>
              <td class="govuk-table__cell">Not known</span>
                <!-- <td class="govuk-table__cell"></td> -->
              <td class="govuk-table__cell">Drive motor vehicle when alcohol level above limit</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="4">4</td>
              <td class="govuk-table__cell"> 10:00&ndash;13:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Andrei Edwards</a></td>
              <td class="govuk-table__cell">
                <ul>
                  <li>Previously known</li>
                  <li>11/09/2019</li>
                </ul>
              </td>
              <!-- <td class="govuk-table__cell"></td> -->
              <td class="govuk-table__cell">Possess a class C controlled drug</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="5">5</td>
              <td class="govuk-table__cell"> 10:00&ndash;13:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Rhys John Houghton</a></td>
              <td class="govuk-table__cell"><span class="moj-badge-wrapper"><span
                    class="moj-badge moj-badge--black">Breach</span><span
                    class="moj-badge moj-badge--black">Sso</span></span>Current</td>
              <!-- <td class="govuk-table__cell"></td> -->
              <td class="govuk-table__cell">Assault by beating of an emergency worker</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="6">6</td>
              <td class="govuk-table__cell"> 10:00&ndash;13:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Ava Ryan</a></td>
              <td class="govuk-table__cell">Current</td>
              <!-- <td class="govuk-table__cell"></td> -->
              <td class="govuk-table__cell">Dishonestly fail notify change of circumstances affecting entitlement to
                social security benefit / advantage / payment</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="7">7</td>
              <td class="govuk-table__cell"> 10:00&ndash;13:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Vinnie Robert Anderson</a>
                </td>
              <td class="govuk-table__cell">Not known</span>
              </td>
              <!-- <td class="govuk-table__cell"></td> -->
              <td class="govuk-table__cell">Possess a controlled drug of Class A - Cocaine</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="8">8</td>
              <td class="govuk-table__cell"> 10:00&ndash;13:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Aiden Hill</a></td>
              <td class="govuk-table__cell">Current</td>
              <!-- <td class="govuk-table__cell"></td> -->
              <td class="govuk-table__cell">
                <ol>
                  <li>Fail to provide specimen for analysis - vehicle driver</li>
                  <li>Drive a motor vehicle otherwise than in accordance with a license - endorsable offence</li>
                  <li>Use a motor vehicle on a road / public place without third party insurance</li>
                </ol>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="9">9</td>
              <td class="govuk-table__cell"> 10:00&ndash;13:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Noah Harvey</a></td>
              <td class="govuk-table__cell">Current</td>
              <!-- <td class="govuk-table__cell"></td> -->
              <td class="govuk-table__cell">
                <ol>
                  <li>Possess a controlled drug of Class B - Amphetamine</li>
                  <li>Drunk and disorderly in a public place</li>
                </ol>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="10">10</td>
              <td class="govuk-table__cell"> 10:00&ndash;13:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Declan Dennis Bradley</a>
                </td>
              <td class="govuk-table__cell">Not known</td>
              <!-- <td class="govuk-table__cell"></td> -->
              <td class="govuk-table__cell">
                <ol>
                  <li>Obstruct/resist a constable in execution of duty</li>
                  <li>Use a handheld mobile phone / device while drivng a motor vehicle on a road - endorsable offence
                  </li>
                  <li>Use a motor vehicle on a road / public place without third party insurance</li>
                  <li>Drive a motor vehicle otherwise than in accordance with a licence - endorsable offence</li>
                </ol>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="11">11</td>
              <td class="govuk-table__cell"> 10:00&ndash;13:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Zane Harris Smith</a></td>
              <td class="govuk-table__cell">
                <ul>
                  <li>Previously known</li>
                  <li>22/06/2019</li>
                </ul>
              </td>
              <!-- <td class="govuk-table__cell"></td> -->
              <td class="govuk-table__cell">Assault by beating of an emergency worker</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="12">12</td>
              <td class="govuk-table__cell"> 10:00&ndash;13:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Gabriela Newman</a></td>
              <td class="govuk-table__cell">
                <ul>
                  <li>Previously known</li>
                  <li>25/10/2019</li>
                </ul>
              </td>
              <!-- <td class="govuk-table__cell"></td> -->
              <td class="govuk-table__cell">Attempt theft from shop</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="13">13</td>
              <td class="govuk-table__cell"> 10:00&ndash;13:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Shiv Patel</a></td>
              <td class="govuk-table__cell">Current</td>
              <!-- <td class="govuk-table__cell"></td> -->
              <td class="govuk-table__cell">
                <ol>
                  <li>Possess a controlled drug of Class B - Other</li>
                  <li>Possess a controlled drug of Class B - Other</li>
                </ol>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="14">14</td>
              <td class="govuk-table__cell"> 10:00&ndash;13:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Muhammad Hussain</a></td>
              <td class="govuk-table__cell">Not known</span>
              </td>
              <!-- <td class="govuk-table__cell"></td> -->
              <td class="govuk-table__cell">Urinate in a street / public place in contravention of a byelaw</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="15">15</td>
              <td class="govuk-table__cell"> 10:00&ndash;13:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Michael William Stone</a>
                </td>
              <td class="govuk-table__cell">Current</td>
              <!-- <td class="govuk-table__cell"></td> -->
              <td class="govuk-table__cell">Theft from a motor vehicle</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="15">16</td>
              <td class="govuk-table__cell"> 10:00&ndash;13:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
            </tr>
            <!-- COURT ROOM TWO (Thames Mags | 5/11/19 | New custody cases | Session: 10:00-13:00 | Courtroom 07)-->
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Maxwell Lee</a></td>
              <td class="govuk-table__cell">
                <ul>
                  <li>Previously known</li>
                  <li>17/08/2019</li>
                </ul>
              </td>
              <!-- <td class="govuk-table__cell"></td> -->
              <td class="govuk-table__cell">
                <ol>
                  <li>Conspire to steal motor vehicle</li>
                  <li>Conspire to receive stolen goods</li>
                  <li>Drive a motor vehicle dangerously</li>
                  <li>Drive a motor vehicle otherwise than in accordance with a licence - endorsable offence</li>
                  <li>Use a motor vehicle on a road / public place without third party insurance</li>
                  <li>Drive a motor vehicle dangerously</li>
                  <li>Drive a motor vehicle otherwise than in accordance with a licence - endorsable offence</li>
                  <li>Use a motor vehicle on a road / public place without third party insurance</li>
                </ol>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1">1</td>
              <td class="govuk-table__cell">10:00&ndash;13:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">2</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Leah Jane Atkinson</a></td>
              <td class="govuk-table__cell">Current</td>
              <!-- <td class="govuk-table__cell"></td> -->
              <td class="govuk-table__cell">Possess a controlled drug of Class A - Cocaine</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">2</td>
              <td class="govuk-table__cell"> 10:00&ndash;13:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">2</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Lennox Reed</a></td>
              <td class="govuk-table__cell">
                <ul>
                  <li>Previously known</li>
                  <li>02/08/2019</li>
                </ul>
              </td>
              <!-- <td class="govuk-table__cell"></td> -->
              <td class="govuk-table__cell">
                <ol>
                  <li>Conspire to steal motor vehicle</li>
                  <li>Conspire to receive stolen goods</li>
                  <li>Drive a motor vehicle dangerously</li>
                  <li>Use a motor vehicle on a road / public place without third party insurance</li>
                  <li>Drive whilst disqualified</li>
                </ol>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3">3</td>
              <td class="govuk-table__cell">10:00&ndash;13:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">2</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="/cases/details/123456">Alexander Lee Moss</a></td>
              <td class="govuk-table__cell">
                <ul>
                  <li>Previously known</li>
                  <li>05/09/2019</li>
                </ul>
              </td>
              <!-- <td class="govuk-table__cell"></td> -->
              <td class="govuk-table__cell">
                <ol>
                  <li>Conspire to steal motor vehicle</li>
                  <li>Conspire to receive stolen goods</li>
                  <li>Drive a motor vehicle dangerously</li>
                  <li>Use a motor vehicle on a road / public place without third party insurance</li>
                  <li>Drive a motor vehicle otherwise than in accordance with a licence - endorsable offence</li>
                </ol>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="4">4</td>
              <td class="govuk-table__cell">10:00&ndash;13:00</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="2">2</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <nav class="moj-pagination" id="pagination-label">
      <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
      <ul class="moj-pagination__list">
        <li class="moj-pagination__item  moj-pagination__item--prev">
          <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
        </li>
        <li class="moj-pagination__item moj-pagination__item--active">1</li>
        <li class="moj-pagination__item"><a class="moj-pagination__link" href="">2</a></li>
        <li class="moj-pagination__item"><a class="moj-pagination__link" href="">3</a></li>
        <li class="moj-pagination__item  moj-pagination__item--next">
          <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
        </li>
      </ul>
      <p class="moj-pagination__results">Showing <b>0</b> to <b>25</b> of <b>72</b> cases</p>
    </nav>
  </div>
</div>

{% endblock %}