{% extends "layout.html" %}

{% block head %}
{% include "includes/head-noprimary.html" %}
{% endblock %}

{% block pageTitle %}
Select a court
{% endblock %}



{% block beforeContent %}
<!-- <a href="/cases/day/2020-06-19/case-list" class="govuk-back-link">Back to cases</a> -->
{% endblock %}


{% block content %}

<h1 class="govuk-heading-l">
  <!-- <span class="govuk-caption-l">Brian Ball</span> -->
  Which courts do you work in?
</h1>

<!--<div class="govuk-grid-row govuk-!-margin-bottom-8">-->
<!--  <div class="govuk-grid-column-two-thirds">-->
<!--    <ul class="govuk-list">-->
<!--      <li>-->
<!--        <a class="govuk-link govuk-heading-m govuk-!-margin-bottom-2" href="/cases/day/2020-06-17/case-list">North-->
<!--          Tyneside Magistrates' Court</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a class="govuk-link govuk-heading-m govuk-!-margin-bottom-2" href="">Sheffield Magistrates' Court</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <div class="govuk-grid-column-one-third"></div>-->
<!--</div>-->
<!--</div>-->

<div>
  <p class="govuk-body">Add the courts you work in to create your 'My courts' list.</p>
  <p class="govuk-body">After you save your list, you can:</p>
  <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
    <li>view case lists and cases in those courts</li>
    <li>edit 'My courts' to add or remove courts</li>
  </ul>
  <h4 class="govuk-heading-s">Add court</h4>
  <div class="govuk-!-margin-bottom-5">
    <label label class="govuk-label" for="two-thirds">Type in the name of the court</label>
    <input class="govuk-input govuk-!-width-two-thirds" id="two-thirds" name="two-thirds" type="text">
  </div>
  <div>
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Add court
    </button>
  </div>
  <div class="govuk-accordion__section-header">
    <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
      Save list and continue
    </button>
  </div>
</div>





</div>




{% endblock %}