{% extends "layout.html" %}

{% block head %}
  {% include "includes/head-noprimary.html" %}
{% endblock %}

{% block pageTitle %}
Change court
{% endblock %}



{% block beforeContent %}
<!-- <a href="/cases/day/2020-06-19/case-list" class="govuk-back-link">Back to cases</a> -->
{% endblock %}


{% block content %}

<h1 class="govuk-heading-l">
  <!-- <span class="govuk-caption-l">Brian Ball</span> -->
  Change court
</h1>

<div class="govuk-grid-row govuk-!-margin-bottom-8">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="/cases/day/2020-06-17/case-list">North Tyneside Magistrates' Court</a></h2>
<h2 class="govuk-heading-m"><a class="govuk-link govuk-link--no-visited-state" href="">Sheffield Magistrates' Court</a></h2>
    <!-- <p class="govuk-body">Review and confirm the correct record for each defendant.</p> -->



    </div>
    <div class="govuk-grid-column-one-third"></div>
  </div>
</div>





</div>




{% endblock %}