{% extends "layout.html" %}

{% block head %}
{% include "includes/head-noprimary.html" %}
{% endblock %}

{% block pageTitle %}
Select a court
{% endblock %}



{% block beforeContent %}
<!-- <a href="/cases/day/2020-06-19/case-list" class="govuk-back-link">Back to cases</a> -->
{% endblock %}


{% block content %}

<h1 class="govuk-heading-l" style="color: #d13118">
  <!-- <span class="govuk-caption-l">Brian Ball</span> -->
  Select a court
</h1>

<div class="govuk-grid-row govuk-!-margin-bottom-8">
  <div class="govuk-grid-column-two-thirds">
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-heading-m govuk-!-margin-bottom-2" href="/cases/day/2020-06-17/case-list">North
          Tyneside Magistrates' Court</a>
      </li>
      <li>
        <a class="govuk-link govuk-heading-m govuk-!-margin-bottom-2" href="">Sheffield Magistrates' Court</a>
      </li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third"></div>
</div>
</div>





</div>




{% endblock %}