{% extends "layout-index.html" %}

{% block pageTitle %}
Prototypes | Prepare a case | HMPPS
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds prototype-index">
    <span class="govuk-caption-xl">Prototypes (Private Beta)</span>
    <h1 class="govuk-heading-xl">
      Prepare a case for court
    </h1>

    {# Start of most recent box #}
    <div class="most-recent">
      <p class="recent-tag"><strong class="govuk-tag">beta sprint 2</strong></p>
      {# Start of prototype write up #}
      <div class="prototype-write-up">
        <div class="govuk-grid-row">
          <!-- <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s">Reference</h3>
            <p>v0.1</p>
          </div> -->

          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-s">Sprint goal</h3>
            <p>Support the need for probation staff to identify cases of interest to probation</p>
          </div>

          <div class="govuk-grid-column-one-half">
            <h3 class="govuk-heading-s">Related stories</h3>
            <p>PIC-96, PIC-113, PIC-117, PIC-158, PIC-160, PIC-161</p>
          </div>
        </div>
        <h3 class="govuk-heading-s">Added/updated</h3>
        <p>First pass at design prototype for a single court. </p>
        <ul class="govuk-list govuk-list--bullet">

          <li>added case list view (access to cases 48 hrs in advance / across 3 days)</li>
          <li>added last updated timestamp and pagination component from MOJ design system to case list view</li>
          <li>removed ‘Action’ column and case numbers from case list view</li>
          <li>removed add a case (overnights) flow</li>
          <li>removed MOJ design system filter component </li>
          <li>added new horizontal filter component </li>
          <li>added offender summary screen from alpha prototype</li>
          <li>added dashboard view (CTAs for matching & OM update statuses, and caseload overview)</li>
          <li>added unmatched cases view (multiple possible records)</li>
          <li>added match a case view (choose a record)</li>
        </ul>

        <h3 class="govuk-heading-s">Research notes</h3>
        <p>
          To follow
        </p>
        <a href="/cases.html" role="button" draggable="false" class="govuk-button govuk-button--start"
          data-module="govuk-button">
          View prototype
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
            viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
        <p><a href="/screens.html" class="govuk-link">View all screens</a></p>
      </div>
      {# End of prototype write up #}

    </div>
    {# End of most recent box #}


    <!-- <h2 class="govuk-heading-l">All versions</h2>
          {# Start of hidden panel #}
          <details>
            <summary><span class="summary">Show all versions</span></summary>
            
            <div class="panel panel-border-narrow">

                {# Start of prototype write up #}
                <div class="prototype-write-up">
                  <div class="grid-row">
                    <div class="govuk-grid-column-one-third">
                        <h3 class="govuk-heading-s">Date of release</h3>
                        <p>DD Month YYYY</p>
                    </div>
        
                    <div class="govuk-grid-column-one-third">
                        <h3 class="govuk-heading-s">Feature</h3>
                        <p>Feature name</p>
                    </div>
        
                    <div class="govuk-grid-column-one-third">
                        <h3 class="govuk-heading-s">Related stories</h3>
                        <p>PIC-123</p>
                    </div>
                  </div>
                  <h3 class="govuk-heading-s">Changes</h3>
                  <p>
                    In this version, we added X into Y, on the Z.
                  </p>
                  <h3 class="govuk-heading-s">Hypothesis</h3>
                  <p>
                    If... then... because.
                  </p>
                  <h3 class="govuk-heading-s">Research notes</h3>
                  <p>
                    ...
                  </p>
                  <a href="/link-to-prototype" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                    View prototype
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg>
                  </a>
    
                </div>
                {# End of prototype write up #}
                
              <hr />
    
              {# Start of prototype write up #}
              <div class="prototype-write-up">
                <div class="grid-row">
                  <div class="govuk-grid-column-one-third">
                      <h3 class="govuk-heading-s">Date of release</h3>
                      <p>DD Month YYYY</p>
                  </div>
      
                  <div class="govuk-grid-column-one-third">
                      <h3 class="govuk-heading-s">Feature</h3>
                      <p>Feature name</p>
                  </div>
      
                  <div class="govuk-grid-column-one-third">
                      <h3 class="govuk-heading-s">Related stories</h3>
                      <p>PIC-123</p>
                  </div>
                </div>
                <h3 class="govuk-heading-s">Changes</h3>
                <p>
                  In this version, we added X into Y, on the Z.
                </p>
                <h3 class="govuk-heading-s">Hypothesis</h3>
                <p>
                  If... then... because.
                </p>
                <h3 class="govuk-heading-s">Research notes</h3>
                <p>
                  ...
                </p>
                <a href="/link-to-prototype" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                  View prototype
                  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                  </svg>
                </a>
  
              </div>
              {# End of prototype write up #}
    
            </div>
          </details>
          {# End of hidden panel #} -->

  </div>
</div>

{% endblock %}