{% extends "layout-index.html" %}

{% block pageTitle %}
Prototypes | Prepare a case | HMPPS
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <!-- <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">Prototypes</span>
    <h1 class="govuk-heading-xl">
      Prepare a case for court
    </h1>
    <p class="govuk-body govuk-!-margin-bottom-6">
      This site contains the design prototypes for the Prepare a case for court service.
    </p>
  </div> -->
  <div class="govuk-grid-column-two-thirds">
    <div class="moj-timeline">
      <div class="moj-timeline__item">
        <div class="moj-timeline__header govuk-!-margin-bottom-3">
          <h2 class="moj-timeline__title govuk-!-font-size-24"><a href="/cases/day/2020-06-17/case-list"
              class="govuk-link--no-visited-state">Sprint 23</a></h2>&emsp;<span class="govuk-tag">beta</span>
        </div>
        <p class="moj-timeline__date secondary-text-col govuk-!-font-size-19">
          <time datetime="2019-06-14T14:01:00.000Z">30 September 2020</time>
        </p>
      </div>
      <div class="moj-timeline__item">
        <div class="moj-timeline__header govuk-!-margin-bottom-3">
          <h2 class="moj-timeline__title govuk-!-font-size-24"><a href="/https://moj-pict-prototype-sprint17.herokuapp.com/cases/day/2020-06-17/case-list"
              class="govuk-link--no-visited-state">Sprint 17</a></h2>&emsp;<span class="govuk-tag">beta</span>
        </div>
        <p class="moj-timeline__date secondary-text-col govuk-!-font-size-19">
          <time datetime="2019-06-14T14:01:00.000Z">8 July 2020</time>
        </p>
      </div>
      <div class="moj-timeline__item">
        <div class="moj-timeline__header govuk-!-margin-bottom-3">
          <h2 class="moj-timeline__title govuk-!-font-size-24"><a href="https://moj-pict-prototype-sprint15.herokuapp.com/cases/day/2020-06-17/case-list"
              class="govuk-link--no-visited-state">Sprint 16</a></h2>&emsp;<span class="govuk-tag">beta</span>
        </div>
        <p class="moj-timeline__date secondary-text-col govuk-!-font-size-19">
          <time datetime="2019-06-14T14:01:00.000Z">24 June 2020</time>
        </p>
      </div>
      <div class="moj-timeline__item">
        <div class="moj-timeline__header govuk-!-margin-bottom-3">
          <h2 class="moj-timeline__title govuk-!-font-size-24"><a href="https://moj-pict-prototype-sprint15.herokuapp.com/cases/day/2020-06-17/case-list"
              class="govuk-link--no-visited-state">Sprint 15</a></h2>&emsp;<span class="govuk-tag">beta</span>
        </div>
        <p class="moj-timeline__date secondary-text-col govuk-!-font-size-19">
          <time datetime="2019-06-14T14:01:00.000Z">10 June 2020</time>
        </p>
      </div>
      <div class="moj-timeline__item">
        <div class="moj-timeline__header govuk-!-margin-bottom-3">
          <h2 class="moj-timeline__title govuk-!-font-size-24"><a href="https://moj-pict-prototype-sprint14.herokuapp.com/cases"
              class="govuk-link--no-visited-state">Sprint 14</a></h2>&emsp;<span class="govuk-tag">beta</span>
        </div>
        <p class="moj-timeline__date secondary-text-col govuk-!-font-size-19">
          <time datetime="2019-06-14T14:01:00.000Z">27 May 2020</time>
        </p>
      </div>
      <div class="moj-timeline__item">
        <div class="moj-timeline__header govuk-!-margin-bottom-3">
          <h2 class="moj-timeline__title govuk-!-font-size-24"><a href="https://moj-pict-prototype-sprint12.herokuapp.com/cases"
              class="govuk-link--no-visited-state">Sprint 12</a></h2>&emsp;<span class="govuk-tag">beta</span>
        </div>
        <p class="moj-timeline__date secondary-text-col govuk-!-font-size-19">
          <time datetime="2019-06-14T14:01:00.000Z">29 April 2020</time>
        </p>
      </div>
      <div class="moj-timeline__item">
        <div class="moj-timeline__header govuk-!-margin-bottom-3">
          <h2 class="moj-timeline__title govuk-!-font-size-24"><a href="https://moj-pict-prototype-sprint11.herokuapp.com/cases"
              class="govuk-link--no-visited-state">Sprint 11</a></h2>&emsp;<span class="govuk-tag">beta</span>
        </div>
        <p class="moj-timeline__date secondary-text-col govuk-!-font-size-19">
          <time datetime="2019-06-14T14:01:00.000Z">15 April 2020</time>
        </p>
        <div class="moj-timeline__description">
          <details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Main changes
              </span>
            </summary>
            <div class="govuk-details__text">
              <table class="govuk-table" style="max-width: none !important;">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Change</th>
                    <th scope="col" class="govuk-table__header">Why we made it</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body govuk-!-font-size-16">
                  <!-- <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="/cases/1/summary">No visited state on primary links in a
                        case</a> - ...</td>
                    <td class="govuk-table__cell">???</td>
                  </tr> -->
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Change</td>
                    <td class="govuk-table__cell">Why</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
          <p><a class="govuk-link--no-visited-state" href="screens">View all screens</a></p>
        </div>
      </div>
      <div class="moj-timeline__item">
        <div class="moj-timeline__header govuk-!-margin-bottom-3">
          <h2 class="moj-timeline__title govuk-!-font-size-24"><a href="https://moj-pict-prototype-sprint10.herokuapp.com/cases"
              class="govuk-link--no-visited-state">Sprint 10</a></h2>&emsp;<span class="govuk-tag">beta</span>
        </div>
        <p class="moj-timeline__date secondary-text-col govuk-!-font-size-19">
          <time datetime="2019-06-14T14:01:00.000Z">1 April 2020</time>
        </p>
        <div class="moj-timeline__description">
          <details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Main changes
              </span>
            </summary>
            <div class="govuk-details__text">
              <table class="govuk-table" style="max-width: none !important;">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Change</th>
                    <th scope="col" class="govuk-table__header">Why we made it</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body govuk-!-font-size-16">
                  <!-- <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="/cases/1/summary">No visited state on primary links in a
                        case</a> - ...</td>
                    <td class="govuk-table__cell">???</td>
                  </tr> -->
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="https://moj-pict-prototype-sprint10.herokuapp.com/cases/1/probationrecord">Probation record - Offender manager
                        details</a> - Removing OM office address and addding provider, ldu, and team details</td>
                    <td class="govuk-table__cell">We cannot reliably pull back the OM's office address information.
                      Instead we will display provider, ldu & team (validated with Delius SME) and an office telephone
                      no if it exists in the data</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Experimental/untested designs for OM update. Accessible via 'View all
                      screens' link</td>
                    <td class="govuk-table__cell">First pass designs at requesting an update for court (scenario 1)</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
          <p><a class="govuk-link--no-visited-state" href="https://moj-pict-prototype-sprint10.herokuapp.com/screens">View all screens</a></p>
        </div>
      </div>
      <div class="moj-timeline__item">
        <div class="moj-timeline__header govuk-!-margin-bottom-3">
          <h2 class="moj-timeline__title govuk-!-font-size-24"><a class="govuk-link--no-visited-state"
              href="https://moj-pict-prototype-sprint8.herokuapp.com/cases">Sprint 8</a></h2>&emsp;<span
            class="govuk-tag">beta</span>
        </div>
        <p class="moj-timeline__date secondary-text-col govuk-!-font-size-19">
          <time datetime="2019-06-14T14:01:00.000Z">4 March 2020</time>
        </p>
        <div class="moj-timeline__description">
          <details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Main changes
              </span>
            </summary>
            <div class="govuk-details__text">
              <table class="govuk-table" style="max-width: none !important;">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Change</th>
                    <th scope="col" class="govuk-table__header">Why we made it</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body govuk-!-font-size-16">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a
                        href="https://moj-pict-prototype-sprint8.herokuapp.com/cases/1/summary">Case details</a> - court
                      appearance content
                      formatting </td>
                    <td class="govuk-table__cell">Improve readability </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a
                        href="https://moj-pict-prototype-sprint8.herokuapp.com/cases/1/summary">Personal details</a> -
                      moved in to case
                      details
                      view
                    <td class="govuk-table__cell">Did not have a strong enough need to warrant its own page and belongs
                      within the case details view</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a
                        href="https://moj-pict-prototype-sprint8.herokuapp.com/cases/1/probationrecord/event2">Order
                        summary -
                        attendance</a><br>
                      Rows now ordered by Complied and Failiures to comply. Rows now broken down by Attendances
                      and Absences </td>
                    <td class="govuk-table__cell">We found users were confused by Unacceptable absences and Failed to
                      comply labels when the rows were ordered by Attended and Absences </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a
                        href="https://moj-pict-prototype-sprint8.herokuapp.com/cases/3/probationrecord/event1">Order
                        summary - custodial
                        order</a>
                      <br>Removing custodial dates and non-active supervision requirements </td>
                    <td class="govuk-table__cell"> Only displaying information and requirements that are relevant to the
                      offender at the current point of their journey </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a
                        href="https://moj-pict-prototype-sprint8.herokuapp.com/cases/1/probationrecord/event2">Order
                        summary - most recent
                        contacts</a> <br>Added in contact date summary line to accordion </td>
                    <td class="govuk-table__cell">We found users struggled to interpret the order of the contacts when
                      the date was not displayed at a summary line level </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Order summary - breaches <a
                        href="https://moj-pict-prototype-sprint8.herokuapp.com/cases/6/probationrecord/event1">in
                        progress</a> and <a
                        href="https://moj-pict-prototype-sprint8.herokuapp.com/cases/6/probationrecord/event3">completed</a><br>
                      Changed breach table contents to display each breach (url linking to details), breach start date,
                      status </td>
                    <td class="govuk-table__cell">Standardising so it caters for breaches in progress and breaches that
                      have been completed </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a
                        href="https://moj-pict-prototype-sprint8.herokuapp.com/cases/6/probationrecord/nsi/breach">Breach
                        details</a> -
                      added banner message, content changes,
                      new fields to
                      details summary list </td>
                    <td class="govuk-table__cell"> We found
                      users need additional information to check if the breach can be prosecuted in court alongside a
                      new offence. Content changes provide better context around dates. Users need to know when a breach
                      is not ready to prosecute. </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a
                        href="https://moj-pict-prototype-sprint8.herokuapp.com/cases/6/probationrecord/nsi/breach-ready">Breach
                        details</a>
                      - dummy view of a breach that is ready
                      to prosecute
                    </td>
                    <td class="govuk-table__cell">Users need to know when a breach is ready to prosecute. Needed a
                      design to cater for file attachments (e.g. breach packs)</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a
                        href="https://moj-pict-prototype-sprint8.herokuapp.com/cases/1/probationrecord/event2">Order
                        summary - Unpaid
                        work</a><br>Changed unpaid work attendance breakdown to more closely follow main attendance
                      breakdown structure</td>
                    <td class="govuk-table__cell">Consistency</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a
                        href="https://moj-pict-prototype-sprint8.herokuapp.com/cases/1/summary">Key details bar - date
                        of birth
                      </a><br>removed</td>
                    <td class="govuk-table__cell">Not servicing a strong enough need to be displayed persistently</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
          <p><a class="govuk-link--no-visited-state"
              href="https://moj-pict-prototype-sprint8.herokuapp.com/screens">View all screens</a></p>
        </div>
      </div>
      <div class="moj-timeline__item">
        <div class="moj-timeline__header govuk-!-margin-bottom-3">
          <h2 class="moj-timeline__title govuk-!-font-size-24 "><a
              href="https://moj-pict-prototype-sprint7.herokuapp.com/cases" class="govuk-link--no-visited-state">Sprint
              7</a></h2>&emsp;<span class="govuk-tag">beta</span>
        </div>
        <p class="moj-timeline__date secondary-text-col govuk-!-font-size-19">
          <time datetime="2019-06-14T14:01:00.000Z">19 Feb 2020</time>
        </p>
        <div class="moj-timeline__description">
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Main changes
              </span>
            </summary>
            <div class="govuk-details__text">
              <table class="govuk-table" style="max-width: none !important;">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Change</th>
                    <th scope="col" class="govuk-table__header">Why we made it</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body govuk-!-font-size-16">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a
                        href="https://moj-pict-prototype-sprint7.herokuapp.com/cases/1/summary">Key details header</a> -
                      standardised display of Probation status and
                      removed risk of serious harm status</td>
                    <td class="govuk-table__cell">Probation status was inconsistent with display on case list. RoSH
                      alone not representative of offender risk picture - needs further research and clarification from
                      policy </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a
                        href="https://moj-pict-prototype-sprint7.herokuapp.com/cases/1/risk">Risk registers</a> -
                      removed ‘status’ column and markers from register
                      table </td>
                    <td class="govuk-table__cell">Checked with SME and only RoSH has inherent status levelling. Need
                      further investigation as to why nDelius attributes different colours to certain risk flag types
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a
                        href="https://moj-pict-prototype-sprint7.herokuapp.com/cases/1/person">Personal details</a> -
                      removed ‘details from Probation’ </td>
                    <td class="govuk-table__cell">Not servicing a clear/strong need </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a
                        href="https://moj-pict-prototype-sprint7.herokuapp.com/cases/1/probationrecord">Probation
                        record</a> - added details around last PSR and OaSys assessment
                      (includes type and status date) </td>
                    <td class="govuk-table__cell">Allows court staff to see if previous PSR can be reused with an
                      addendum if SU is in on a similar offence. Can we reliably link to the document? </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a
                        href="https://moj-pict-prototype-sprint7.herokuapp.com/cases/1/probationrecord">Probation
                        record</a> - removed displaying requirements from current orders
                    </td>
                    <td class="govuk-table__cell">To ensure design is extensible and can handle multiple concurrent
                      current orders </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a
                        href="https://moj-pict-prototype-sprint7.herokuapp.com/cases/1/probationrecord/event2">Order
                        summary - attendance</a><br>
                      moved appointment data in to a table view with a more granular breakdown of contact type and non
                      attendance reasons </td>
                    <td class="govuk-table__cell">We found low confidence in NS summary data and what it represents/how
                      it is derived. A breakdown increased confidence and provides better context to start to assess
                      compliance and engagement at a high level </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a
                        href="https://moj-pict-prototype-sprint7.herokuapp.com/cases/1/probationrecord/event2">Order
                        summary - most recent contacts</a><br>
                      Added ‘relates to’ data line in accordion section summary </td>
                    <td class="govuk-table__cell">Displaying contact type heading alone did not provide enough context
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a
                        href="https://moj-pict-prototype-sprint7.herokuapp.com/cases/5/summary">Case details</a> - added
                      accordion component for offences when there is
                      more than one charge </td>
                    <td class="govuk-table__cell">Too much information displayed on page if there are multiple charges.
                      Accordion allows user to see read top level charges and drill down </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a
                        href="https://moj-pict-prototype-sprint7.herokuapp.com/cases/3/probationrecord/event1">Order
                        summary - custodial order</a><br>
                      added supervision status, throughcare dates, licence conditions and pss requirements </td>
                    <td class="govuk-table__cell">SUs can move through different states of supervision when on a
                      custodial order. Need to call this out and the dates around it </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a
                        href="https://moj-pict-prototype-sprint7.herokuapp.com/cases/6/probationrecord/event1">Order
                        summary - breaches</a><br>
                      added a section displaying breaches currently in progress and breaches on the order that have been
                      prosecuted with an outcome </td>
                    <td class="govuk-table__cell">Need to know if SU is in breach and what state that breach is in. Need
                      to know outcome of previous breach hearings </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a
                        href="https://moj-pict-prototype-sprint7.herokuapp.com/cases/6/probationrecord/nsi/breach">Breach
                        details</a> - added a view displaying the details recorded around a
                      breach </td>
                    <td class="govuk-table__cell">Need to know granular details of breach and have access to breach
                      prosecution pack </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
      <div class="moj-timeline__item">
        <div class="moj-timeline__header govuk-!-margin-bottom-3">
          <h2 class="moj-timeline__title govuk-!-font-size-24"><a
              href="https://moj-pict-prototype-sprint6.herokuapp.com/cases" class="govuk-link--no-visited-state">Sprint
              6</a></h2>&emsp;<span class="govuk-tag">beta</span>
        </div>
        <p class="moj-timeline__date secondary-text-col govuk-!-font-size-19">
          <time datetime="2019-06-14T14:01:00.000Z">5 Feb 2020</time>
        </p>
        <div class="moj-timeline__description">
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Main changes
              </span>
            </summary>
            <div class="govuk-details__text">
              To be added
            </div>
          </details>
        </div>
      </div>
      <div class="moj-timeline__item">
        <div class="moj-timeline__header govuk-!-margin-bottom-3">
          <h2 class="moj-timeline__title govuk-!-font-size-24"><a
              href="https://moj-pict-prototype-sprint5.herokuapp.com/cases" class="govuk-link--no-visited-state">Sprint
              5</a></h2>&emsp;<span class="govuk-tag">beta</span>
        </div>
        <p class="moj-timeline__date secondary-text-col govuk-!-font-size-19">
          <time datetime="2019-06-14T14:01:00.000Z">22 Jan 2020</time>
        </p>
        <div class="moj-timeline__description">
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Main changes
              </span>
            </summary>
            <div class="govuk-details__text">
              To be added
            </div>
          </details>
        </div>
      </div>
      <!-- <div class="moj-timeline__item">
        <div class="moj-timeline__header govuk-!-margin-bottom-3">
          <h2 class="moj-timeline__title govuk-!-font-size-24"><a href="#">Sprint 4</a></h2>&emsp;<span
            class="govuk-tag">beta</span>
        </div>
        <p class="moj-timeline__date secondary-text-col govuk-!-font-size-19">
          <time datetime="2019-06-14T14:01:00.000Z">8 Jan 2020</time>
        </p>
        <div class="moj-timeline__description">
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Main changes
              </span>
            </summary>
            <div class="govuk-details__text">
              To be added
            </div>
          </details>
        </div>
      </div> -->
      <div class="moj-timeline__item">
        <div class="moj-timeline__header govuk-!-margin-bottom-3">
          <h2 class="moj-timeline__title govuk-!-font-size-24"><a
              href="https://probation-court-prototype.apps.live-1.cloud-platform.service.justice.gov.uk/dashboard">Alpha
              prototype</a></h2>&emsp;<span class="moj-tag--bright-purple govuk-tag" style="border:none">alpha</span>
        </div>
        <!-- <p class="moj-timeline__date secondary-text-col govuk-!-font-size-19">
          <time datetime="2019-06-14T14:01:00.000Z">October 2020</time>
        </p>
        <div class="moj-timeline__description">
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Main changes
              </span>
            </summary>
            <div class="govuk-details__text">
              To be added
            </div>
          </details>
        </div> -->
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list useful-links govuk-!-font-size-16">
          <li>
            <a href="https://dsdmoj.atlassian.net/wiki/spaces/NDSS/pages/1500250131/Probation+in+Court+Team"
              class="govuk-link--no-visited-state">
              Project Confluence
            </a>
          </li>
          <li>
            <a href="https://dsdmoj.atlassian.net/secure/RapidBoard.jspa?rapidView=366&projectKey=PIC"
              class="govuk-link--no-visited-state">
              Project JIRA
            </a>
          </li>
          <li>
            <a href="https://drive.google.com/drive/folders/1wdxNv68ltZO_robqoGyv52aQZ2jdtMYX"
              class="govuk-link--no-visited-state">
              Team Google Drive
            </a>
          </li>
          <li>
            <a href="https://trello.com/b/tAWAHTP2/probation-in-court-research-questions-for-beta"
              class="govuk-link--no-visited-state">
              Research questions for Beta (Trello)
            </a>
          </li>
          <li>
            <a href="https://github.com/Charan-MoJ/hmpps-prepare-a-case-prototype" class="govuk-link--no-visited-state">
              Prototype GitHub repository
            </a>
          </li>
        </ul>
      </nav>
      <h2 class="govuk-heading-m govuk-!-margin-top-6">Examples and documentation</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list useful-links govuk-!-font-size-16">
          <li>
            <a href="https://govuk-prototype-kit.herokuapp.com/docs/tutorials-and-examples"
              class="govuk-link--no-visited-state">
              GOV.UK Prototype Kit - Tutorials and examples
            </a>
          </li>
          <li>
            <a href="https://design-system.service.gov.uk/" class="govuk-link--no-visited-state">
              GOV.UK Design System
            </a>
          </li>
          <li>
            <a href="https://moj-design-system.herokuapp.com/" class="govuk-link--no-visited-state">
              MOJ Design System
            </a>
          </li>
          <li>
            <a href="https://github.com/ctdesign/gov-design-systems-list/blob/master/README.md"
              class="govuk-link--no-visited-state">
              GOV Design Systems list
            </a>
          </li>
        </ul>
      </nav>
    </aside>

  </div>


  {% endblock %}