{% extends "layout.html" %}


{% block pageTitle %}
Match defendant
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="add.html" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Step 2 of 4</span>
      Confirm offender record
    </h1>
    <div class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">Defendant's details:</h2>
      </h2>
      <p class="govuk-body-l govuk-!-margin-bottom-3">Michael Jones</p>
      <p>Date of birth: 02/06/1979</p>
      <p>PNC: A1234560BA</p>
    </div>

    <div class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">3 records found in nDelius:</h2>
      
      <!-- <div class="moj-banner">
        <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
          <path
            d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
          C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" />
          </svg>
        <div class="moj-banner__message">
          <h2 class="govuk-heading-m">Please confirm if one of the offender records matches the defendant details.</h2>
        </div>
      </div> -->
      
      <p class="govuk-body govuk-!-margin-bottom-3">Confirm if one of the offender records matches the defendant
        details.</p>
      <!-- <span class="govuk-caption-m govuk-!-margin-bottom-0">3 results found in nDelius:</span> -->
      <div class="moj-scrollable-pane">
        <div class="moj-scrollable-pane__wrapper">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" aria-sort="none">Name</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Date of birth</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Gender</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">CRN</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">PNC</th>
                <!-- <th scope="col" class="govuk-table__header" aria-sort="none">Address</th> -->
                <th scope="col" class="govuk-table__header" aria-sort="none">Offender summary
                </th>
                <th scope="col" class="govuk-table__header" aria-sort="none"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Michael JONES<span class="moj-badge-wrapper"><span
                      class="moj-badge">Current
                      offender</span></span>
                </td>
                <td class="govuk-table__cell">02/06/1979</td>
                <td class="govuk-table__cell">Male</td>
                <td class="govuk-table__cell">DX12340A</td>
                <td class="govuk-table__cell">A1234560BA</td>
                <!-- <td class="govuk-table__cell">
                <ul>
                  <li>23 King Street, Nether Edge, Sheffield</li>
                  <li>S4 1AB</li>
                </ul>
              </td> -->
                <td class="govuk-table__cell"><a href="/cases/1234.html">View summary</a></td>
                <td class="govuk-table__cell">
                  <a href="details.html" role="button" draggable="false" class="govuk-button moj-button-menu__item"
                    data-module="govuk-button">Confirm match</a>
                </td>
              </tr>
              <tr>
                <td class="govuk-table__cell">Micheal JONES</td>
                <td class="govuk-table__cell">02/06/1980</td>
                <td class="govuk-table__cell">Male</td>
                <td class="govuk-table__cell">DX12341A</td>
                <td class="govuk-table__cell">A1234561BA</td>
                <!-- <td class="govuk-table__cell">
                <ul>
                  <li>1 Street, City, County</li>Room 32, Broomhill, Sheffield. S11 7HG
                  <li>Postcode</li>
                </ul>
              </td> -->
                <td class="govuk-table__cell"><a href="/cases/1234.html">View summary</a></td>
                <td class="govuk-table__cell">
                  <a href="details.html" role="button" draggable="false" class="govuk-button moj-button-menu__item"
                    data-module="govuk-button">Confirm match</a>
                </td>
              </tr>
              <tr>
                <td class="govuk-table__cell">Micheal JONES</td>
                <td class="govuk-table__cell">02/06/1981</td>
                <td class="govuk-table__cell">Male</td>
                <td class="govuk-table__cell">DX12342A</td>
                <td class="govuk-table__cell">Not recorded</td>
                <!-- <td class="govuk-table__cell">No fixed abode</td> -->
                <td class="govuk-table__cell"><a href="/cases/1234.html">View summary</a></td>
                <td class="govuk-table__cell">
                  <a href="details.html" role="button" draggable="false" class="govuk-button moj-button-menu__item"
                    data-module="govuk-button">Confirm match</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">Can't find a matching record?</h2>
      <p class="govuk-body">If the offender is not known to probation and therefore has no matching record in nDelius;
        you can continue.</p>
      <p class="govuk-body"><a href="/details.html">This is a new offender</a></p>
    </div>

  </div>
</div>

{% endblock %}