{% extends "layout.html" %}


{% block pageTitle %}
Choose probation record
{% endblock %}

{% block beforeContent %}
<a href="match-overview.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      Choose probation record
    </h1>
    <p class="govuk-body-l">Select and confirm the probation record that matches the defendant's details.</p>
    <div class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">Defendant's details</h2>
      </h2>
      <!-- <div class="card">
        <span class="card__heading">
          Klara McDonald
        </span>
        <div class="card__attributes">
          <dt>Date of birth:</dt>
          <dd>24/08/1992</dd>
          <dt>PNC: </dt>
          <dd>A1237890BA</dd>
        </div>
      </div> -->

      <div class="moj-scrollable-pane">
        <div class="moj-scrollable-pane__wrapper">
          <table class="govuk-table match-record-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header match-table-radio2" aria-sort="none"></th>
                <th scope="col" class="govuk-table__header match-table-name" aria-sort="none">Name</th>
                <th scope="col" class="govuk-table__header match-table-dob" aria-sort="none">Date of birth</th>
                <th scope="col" class="govuk-table__header match-table-gender" aria-sort="none">Gender</th>
                <th scope="col" class="govuk-table__header match-table-pnc" aria-sort="none">PNC</th>
                <th scope="col" class="govuk-table__header match-table-summary" aria-sort="none">
                </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <div style="display: none;" class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="changed-name"></label>
                    </div>
                  </div>
                </td>
                <td class="govuk-table__cell">Klara McDonald
                </td>
                <td class="govuk-table__cell">24/08/1992</td>
                <td class="govuk-table__cell">Female</td>
                <td class="govuk-table__cell">A1237890BA</td>
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href=""></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <!-- <p class="govuk-body-l govuk-!-margin-bottom-3">Michael Jones</p>
      <ul class="govuk-list" style="list-style:none;">
        <li><strong>Date of birth:</strong> 02/06/1979</li>
        <li><strong>PNC:</strong> Not available</li>
      </ul> -->

    </div>

    <div class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">4 probation records found</h2>
      <!-- <p class="govuk-body govuk-!-margin-bottom-3">Confirm if one of the nDelius offender records matches the defendant
        details.</p> -->

      <div class="moj-scrollable-pane">
        <div class="moj-scrollable-pane__wrapper">
          <table class="govuk-table match-record-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header match-table-radio" aria-sort="none"></th>
                <th scope="col" class="govuk-table__header match-table-name" aria-sort="none">Name</th>
                <th scope="col" class="govuk-table__header match-table-dob" aria-sort="none">Date of birth</th>
                <th scope="col" class="govuk-table__header match-table-gender" aria-sort="none">Gender</th>
                <th scope="col" class="govuk-table__header match-table-pnc" aria-sort="none">PNC</th>
                <th scope="col" class="govuk-table__header match-table-summary" aria-sort="none">Offender summary
                </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="changed-name"></label>
                    </div>
                  </div>
                </td>
                <td class="govuk-table__cell"><span class="highlight">Klara</span> <span class="highlight">MCDONALD</span><span class="moj-badge-wrapper govuk-!-margin-top-1"><span
                      class="moj-badge">Current
                      offender</span></span>
                </td>
                <td class="govuk-table__cell"><span class="highlight">24/08/1992</span></td>
                <td class="govuk-table__cell"><span class="highlight">Female</span></td>
                <td class="govuk-table__cell"><span class="highlight">A1237890BA</td>
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="">View
                    summary</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="changed-name"></label>
                    </div>
                  </div>
                </td>
                <td class="govuk-table__cell"><span class="highlight">Klara</span> Olivia <span class="highlight">MCDONALD</span></td>
                <td class="govuk-table__cell"><span class="highlight">24/08/1992</span></td>
                <td class="govuk-table__cell"><span class="highlight">Female</span></td>
                <td class="govuk-table__cell"><span class="highlight">A1237890BA</span></td>
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="">View
                    summary</a></td>
              </tr>
              <tr>
                <td class="govuk-table__cell">
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="changed-name"></label>
                    </div>
                  </div>
                </td>
                <td class="govuk-table__cell"><span class="highlight">Klara</span> REED</td>
                <td class="govuk-table__cell">06/03/1991</td>
                <td class="govuk-table__cell"><span class="highlight">Female</span></td>
                <td class="govuk-table__cell"><span class="highlight">A1237890BA</span></td>
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="">View summary</a></td>
              </tr>
              <tr>
                <td class="govuk-table__cell">
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="changed-name"></label>
                    </div>
                  </div>
                </td>
                <td class="govuk-table__cell">Rebecca MUNRO</td>
                <td class="govuk-table__cell">02/06/<span class="highlight">1992</span></td>
                <td class="govuk-table__cell"><span class="highlight">Female</span></td>
                <td class="govuk-table__cell"><span class="highlight">A1237890BA</span></td>
                <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="">View summary</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="moj-button-menu">
        <div class="moj-button-menu__wrapper">
          <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item  "
            data-module="govuk-button">
            Match with this record
          </a>
        </div>
      </div>

    </div>





    <!-- <div class="card">
        <span class="card__heading">
          <span class="highlight">Klara</span> <span class="highlight">McDonald</span> <span
            class="moj-badge govuk-!-margin-left-1">Current
            offender</span>
        </span>
        <div class="card__attributes ">
          <dt>Date of birth:</dt>
          <dd><span class="highlight">24/08/1992</span></dd>
          <dt>PNC:</dt>
          <dd><span class="highlight">A1237890BA</span></dd>
          <dt>CRN:</dt>
          <dd>EX17528</dd>

          <dd><a href="" class="govuk-link--no-visited-state">View offender summary</a></dd>
        </div>
        <div class="govuk-inset-text govuk-!-margin-bottom-1 govuk-!-margin-top-2">
          <h4 class="govuk-!-margin-bottom-1">Aliases</h3>
            <ul class="govuk-list" style="list-style:none;">
              <li><span class="highlight">Klara</span> Williams</li>
              <li>Sara Morgan</li>
              <li><span class="highlight">Klara</span> Reed</li>
              <li>Rebecca Munro</li>
            </ul>
        </div>
        <div class="moj-button-menu">
          <div class="moj-button-menu__wrapper">
            <a href="cases-2.html" role="button" draggable="false" class="govuk-button moj-button-menu__item"
              data-module="govuk-button">
              Confirm match
            </a>
          </div>
        </div>
      </div>

      <div class="card">
        <span class="card__heading">
          <span class="highlight">Klara</span> Reed
        </span>
        <div class="card__attributes">
          <dt>Date of birth:</dt>
          <dd>06/03/1991</span></dd>
          <dt>PNC:</dt>
          <dd><span class="highlight">A1237890BA</span></dd>
          <dt>CRN:</dt>
          <dd>DZ02952</dd>
          <dd><a href="" class="govuk-link--no-visited-state">View offender summary</a></dd>
        </div>
        <div class="moj-button-menu">
          <div class="moj-button-menu__wrapper">
            <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item  "
              data-module="govuk-button">
              Confirm match
            </a>
          </div>
        </div>
      </div>

      <div class="card">
        <span class="card__heading">
          Rebecca Munro
        </span>
        <div class="card__attributes govuk-!-margin-bottom-1">
          <dt>Date of birth:</dt>
          <dd>02/06/<span class="highlight">1992</span></dd>
          <dt>PNC:</dt>
          <dd><span class="highlight">A1237890BA</span></dd>
          <dt>CRN:</dt>
          <dd>SD20884</dd>

          <dd><a href="" class="govuk-link--no-visited-state">View offender summary</a></dd>
        </div>
        <div class="moj-button-menu">
          <div class="moj-button-menu__wrapper">
            <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item  "
              data-module="govuk-button">
              Confirm match
            </a>
          </div>
        </div>
      </div> -->


    <div class="">
      <h2 class="govuk-heading-m">Can't find a matching record?</h2>
      <p class="govuk-body">If the defendant is not known to probation and has no matching record;
        please confirm this is a new offender.</p>
      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="">This is a new
          offender</a></p>
    </div>

  </div>
</div>

{% endblock %}