{% extends "layout-index.html" %}

{% block pageTitle %}
Prototypes | Prepare a case | HMPPS
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Prepare a case for court screens
    </h1>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="dashboard.html">Dashboard</a>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="match-overview.html">Defendants with multiple possible records</a></li>
          <li><a href="match-cards-2.html">Choose probation record</a></li>
        </ul>
      </li>
      <li>
        <a href="cases.html">Cases</a>
      </li>
      <li>
        <a href="summary.html">Case details (offender summary)</a>
      </li>
    </ul>

  </div>
</div>

{% endblock %}