{% extends "layout-index.html" %}

{% block pageTitle %}
Prototypes | Prepare a case | HMPPS
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Screens</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="cases">Cases</a></li>
      <li>
        <h3 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">Case view</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="cases/1/summary">Case details (current with single charge)</a></li>
          <li><a href="cases/5/summary">Case details (no record with multiple charges)</a></li>
          <li><a href="cases/1/probationrecord">Probation record (current community order)</a></li>
          <li><a href="cases/6/probationrecord">Probation record (current order with breach)</a></li>
          <li><a href="cases/3/probationrecord">Probation record (current custodial order)</a></li>
          <li><a href="cases/1/risk">Risk register</a></li>
          <li>
            <h4 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">Order summary</h4>
          </li>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="cases/1/probationrecord/event2"> Current community/SSO order</a></li>
            <li><a href="cases/6/probationrecord/event1"> Current community/SSO order (with breach in progress)</a></li>
            <li><a href="cases/3/probationrecord/event1"> Current custodial order</a></li>
            <li><a href="cases/1/probationrecord/event3"> Previous order</a></li>
            <li><a href="cases/6/probationrecord/event3"> Previous order (with completed breaches)</a></li>
            <li>
              <h5 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">Breach</h5>
                <ul class="govuk-list govuk-list--bullet">
                  <li><a href="cases/6/probationrecord/nsi/breach">Breach details (not ready to prosecute)</a></li>
                  <li><a href="cases/6/probationrecord/nsi/breach-ready">Breach details (ready to prosecute)</a></li>
                </ul>
            </li>
          </ul>
      </li>
    </ul>
    <h2 class="govuk-heading-l">Experimental / untested</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <h3 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">Offender manager update / case history</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="cases/testcase/summaryV1">Case details V1</a></li>
          <li><a href="cases/testcase/historyV1">Case history V1</a></li>
          <!-- <li><a href="cases/testcase/summaryV2">Case details V2</a></li>
          <li><a href="cases/testcase/historyV2">Case history V2</a></li> -->
          <li><a href="cases/testcase/casehistory/deliusomalert">Delius Officer diary – OM alert contacts</a></li>
          <li><a href="cases/testcase/casehistory/deliuscontacts">Delius contact view (Scenario 1)</a></li>
          <!-- <li><a href="cases/testcase/casehistory/progressreport">Progress report</a></li> -->
        </ul>
      </li>
    </ul>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <h3 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">MOJ crit - Case summary and Case activity (OM update / Case notes / Adjournments)</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="cases/testcase/crit/summary-1a">Case details - report requested</a></li>
          <li><a href="cases/testcase/crit/summary-1b">Case history - reminder sent</a></li>
          <li><a href="cases/testcase/crit/summary-1c">Case details - report received</a></li>
          <li><a href="cases/testcase/crit/summary-1d">Case details - no report received</a></li>
          <li><a href="cases/testcase/crit/summary-2">Case details - updates, notes, and adjournments</a></li>
          <li><a href="cases/testcase/crit/history-2">Case activity - updates, notes, and adjournments</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

{% endblock %}