{% extends "layout.html" %}


{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/key_details/7_Ball-unlink.html" %}
{% endblock %}


{% endblock %}


{% block beforeContent %}
<a href="/cases/day/2020-06-19/case-list.html" style="margin-bottom: 0;" class="govuk-back-link">Back to cases</a>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- <div class="moj-banner">
      <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
        <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
  C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" /></svg>
      <div class="moj-banner__message">
        <h2 class="govuk-heading-m">2 possible nDelius records found for Brian Ball. <a href="/cases/day/2020-06-19/review-records-ball" class="govuk-link--no-visited-state">Review records</a>
        </h2>
      </div>
    </div> -->
    <div class="moj-banner moj-banner--success">

        <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
        <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" /></svg>
        
        <div class="moj-banner__message">
        <span class="moj-banner__assistive">Success</span>You have successfully confirmed a record for Brian Ball.</div>
        
        </div> 
  </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  
      <nav class="moj-sub-navigation" aria-label="Sub navigation">
  
        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page"
              href="">Case summary</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link govuk-link--no-visited-state"
              href="">Probation record</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="">Risk register</a>
          </li>
        </ul>
        </ul>
  
      </nav>
    </div>
  </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Case summary</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="govuk-!-margin-bottom-8">
      <h2 class="govuk-heading-m">Appearance</h2>
      <p class="govuk-body">Court 1, morning session, Wednesday 10 March (1st listing).</p>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-!-margin-bottom-8">
      <h2 class="govuk-heading-m">Offences</h2>
      <h3 class="govuk-heading-s">Dishonestly make a false statement to obtain a benefit / advantage / payment</h3>
      <p class="govuk-body govuk-!-margin-bottom-2">On Friday 10th January at London with a view to obtaining for
        yourself
        a benefit, advantage or other payment namely Housing Benefit, under relevant social security legislation
        dishonestly made a statement or representation to a local authority, namely the London Borough of Tower
        Hamlets
        which was false, namely that you had only had a small amount of savings when I fact you had savings above
        the
        allowable limit.</p>
      <p class="govuk-body secondary-text-col">Contrary to section 111A(1)(a) and (3) of the Social Security
        Administration Act 1992.</p>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">
        Defendant details
      </h2>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Brian Ball
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Gender
          </dt>
          <dd class="govuk-summary-list__value">
            Male
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            7 July 1986 (34 years old)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Nationality
          </dt>
          <dd class="govuk-summary-list__value">
            British
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            72A Saltash Road<br> Hull<br> HU19 6LF
          </dd>
        </div>
      </dl>
    </div>
















  </div>
  <div class="govuk-grid-column-one-third">
  </div>




</div>
</div>


{% endblock %}