{% extends "layout.html" %}


{% block pageTitle %}
Progress report
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/key_details/6_Houghton.html" %}
{% endblock %}


{% endblock %}


{% block beforeContent %}
<a href="/cases/6/summary.html" class="govuk-back-link">Back to case summary</a>
{% endblock %}


{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Offender progress report</h1>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-!-margin-bottom-9">
      <p class="govuk-body govuk-hint govuk-!-margin-bottom-4">
        Received 29 April 2020 at 4:18 pm
      </p>
      <p class="govuk-body">From: <span class="govuk-!-font-weight-bold">Claire Smith (CRC Offender Manager)</span>
      </p>
      <p class="govuk-body">Mr Houghton has been making good progress. He enrolled and passed H&S level 1 and CSCS test
        and is waiting for the card to arrive from the training provider. He has been doing some casual work for an old
        employer in Rotherham but wants to get perm work as soon as CSCS arrives. </p>
      <p class="govuk-body">He has been sofa surfing since before xmas. He has cut his drinking down significantly -
        keeping busy and abstaining from drugs is a big factor in the alcohol reduction. Currently on a 3 day methadone
        script after engaging with Compass. </p>
      <p class="govuk-body">I have just initiated a breach against him for two unacceptable absences, however it will be
        Mr
        Houghton’s first breach. </p>
      <p class="govuk-body">Mr Hougton will continue to offend if he does not continue to get his alcohol and drug
        issues under control. Custody will not solve/address any issues. I would respectfully propose that the charge be
        dealt with by way of financial penalty and costs. </p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">

  </div>




</div>
</div>


{% endblock %}