{% extends "layout.html" %}


{% block pageTitle %}
Probation record
{% endblock %}

{% block bodyStart %}
{% block keyDetails %}
{% include "includes/key_details/6_Houghton.html" %}
{% endblock %}
{% endblock %}


{% block beforeContent %}
<!-- <a href="/cases" class="govuk-back-link">Back</a> -->
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="/cases/6/summary.html">Case details</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="/cases/6/person.html">Personal details</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="/cases/6/probationrecord.html">Probation
            record</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="/cases/6/risk.html">Risk register</a>
        </li>
      </ul>

    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Probation record</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- <div class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">
        Offender manager update
      </h2>
      <div class="timeline">
        <ul>
          <li>
            <h2 class="timeline__title">Reminder sent</h2>
            <p class="timeline__meta">
              <time>10 February 2020 at 09:00 am</time>
              by Sarah Smith
            </p>
          </li>
          <li>
            <h2 class="timeline__title">Update requested</h2>
            <p class="timeline__meta">
              <time>8 February 2020 at 09:00 am</time>
              by Sarah Smith
            </p>
          </li>
        </ul>
      </div>
    </div> -->

    <div class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">
        Current orders <span class="secondary-text-col">(1)</span>
      </h2>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1"><a href="probationrecord/event1.html">ORA Community Order (12
          Months)</a>&ensp;<span class="moj-badge moj-badge--red">Breach</span></h3>
      <table class="govuk-table app-table govuk-!-margin-top-0 govuk-!-margin-bottom-3">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Using violence to secure entry (Criminal Law Act/CJ and Public
              Order Act) - 19563</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">Started on 18 Oct 2019</td>
          </tr>
        </tbody>
      </table>
      <!-- <p class="govuk-body  govuk-!-margin-bottom-1">Using violence to secure entry (Criminal Law Act/CJ and Public
        Order Act) - 19563</p>
      <p class="govuk-body">Started on 18 Oct 2019
      </p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Requirement</th>
            <th scope="col" class="govuk-table__header">Length</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Alcohol Treatment </td>
            <td class="govuk-table__cell">9 months </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Rehabilitation Activity Requirement (RAR)</td>
            <td class="govuk-table__cell">15 days</td>

          </tr>
        </tbody>
      </table> -->

    </div>



    <div class="govuk-!-margin-bottom-9">

      <h2 class="govuk-heading-m">Previous orders <span class="secondary-text-col">(4)</span></h2>
      <p class="govuk-heading-s govuk-!-margin-bottom-0"><a class="govuk-link govuk-link--no-visited-state"
          href="probationrecord/event2.html">Absolute/Conditional Discharge (8 Months)</a></p>
      <table class="govuk-table app-table govuk-!-margin-top-0 govuk-!-margin-bottom-3">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Causing intentional harassment, alarm or distress (Public Order Act 1986/CJ &
              PO Act 1994) - 12509</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">Ended on 29 Aug 2019</td>
          </tr>
        </tbody>
      </table>
      <p class="govuk-heading-s govuk-!-margin-bottom-0"><a class="govuk-link govuk-link--no-visited-state"
          href="probationrecord/event3.html">ORA
          Community Order (12 months)</a></p>
      <table class="govuk-table app-table govuk-!-margin-top-0 govuk-!-margin-bottom-3">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Using violence to secure entry (Criminal Law Act/CJ and Public Order Act) -
              19563</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">Ended on 18 Oct 2019</td>
          </tr>
        </tbody>
      </table>
      <p class="govuk-heading-s govuk-!-margin-bottom-0"><a class="govuk-link govuk-link--no-visited-state" href="#">CJA
          Community Order (3 months)</a></p>
      <table class="govuk-table app-table govuk-!-margin-top-0 govuk-!-margin-bottom-3">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Racially aggravated harassment, alarm or distress (Public Order Act 1986/Crime
              and Disorder Act 1998) - 12558</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">Ended on 27 Sept 2012</td>
          </tr>
        </tbody>
      </table>
      <p class="govuk-heading-s govuk-!-margin-bottom-0"><a class="govuk-link govuk-link--no-visited-state" href="#">CJA
          Community Order (12 months)</a></p>
      <table class="govuk-table app-table govuk-!-margin-top-0 govuk-!-margin-bottom-3">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">(Class C - Cannabis - Having possession of (post 29/1/04) - 09266)</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">Ended on 18 Apr 2007</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">
      Offender Manager </h2>
    <p class="govuk-body">Claire Smith <br><span class="secondary-text-col">Allocated on 24 Oct 2019</span></p>

    <p>CRC South Yorkshire<br>
      12 Holme Road<br>
      Sheffield<br>
      South Yorkshire<br>
      S7 2TT
    </p>

    <p>Team telephone: 0114 123 0000</p>

    <h2 class="govuk-heading-m">Last pre-sentence report </h2>
    <p class="govuk-body">Pre-Sentence Report - Oral<br><span class="secondary-text-col">Delivered on 24 April 2019 </span></p>

    <h2 class="govuk-heading-m">Last OASys assessment </h2>
    <p class="govuk-body">OASys Assessment Layer 1<br><span class="secondary-text-col">Completed on 31 Oct 2019</p>

  </div>



</div>

</div>


{% endblock %}