{% extends "layout.html" %}


{% block pageTitle %}
Case summary
{% endblock %}

{% block bodyStart %}

{% block keyDetails %}
{% include "includes/key_details/6_Houghton.html" %}
{% endblock %}


{% endblock %}


{% block beforeContent %}
<!-- <a href="/cases" class="govuk-back-link">Back</a> -->
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="/cases/6/summary.html">Case details</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="/cases/6/person.html">Personal details</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="/cases/6/probationrecord.html">Probation record</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="/cases/6/risk.html">Risk register</a>
        </li>
      </ul>
      </ul>

    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Case details</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
      Case details
    </h1> -->
    <div class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">Appearance</h2>
      <p class="govuk-body">Court 1, morning session, Thursday 27 February (1st listing).</p>
    </div>
    <div class="govuk-!-margin-bottom-9">

      <h2 class="govuk-heading-m">Offences</h2>


      <h3 class="govuk-heading-s">Attempt theft from shop</h3>
      <p class="govuk-body govuk-!-margin-bottom-2">On Saturday 15th February at Red Street, Sheffield attempted to steal various food items and alchohol spirits to a value of £74.00 belonging to Asda.</p>
      <p class="govuk-body secondary-text-col">Contrary to section 1(1) of the Criminal Attempts Act 1981. </p>
    </div>


















  </div>
  <div class="govuk-grid-column-one-third">

    <h2 class="govuk-heading-m">CPS pack</h2>
    <p class="govuk-body"><a href="#">View CPS pack (opens in Court Store)</a></p>
  </div>




</div>
</div>


{% endblock %}