{% extends "layout.html" %}


{% block pageTitle %}
Risk registers
{% endblock %}

{% block bodyStart %}
{% block keyDetails %}
{% include "includes/key_details/1_Armstrong.html" %}
{% endblock %}
{% endblock %}


{% block beforeContent %}
<a href="/cases/day/2020-06-17/case-list" style="margin-bottom: 0;" class="govuk-back-link">Back to cases</a>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="/cases/1/summary.html">Case summary</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="/cases/1/probationrecord.html">Probation
            record</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page" href="/cases/1/risk.html">Risk</a>
        </li>
      </ul>

    </nav>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-!-margin-bottom-9">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-7">
        Risk
    </h1>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      RSR score
  </h2>
  <p class="govuk-body">Calculate RSR score (including OSP/C and OSP/I if required)</p>
  <button class="govuk-button" data-module="govuk-button">
  Calculate score
</button>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-7">
        Register
    </h2>
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#active">
              Active (6)
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#inactive">
              Inactive (1)
            </a>
          </li>
        </ul>
        <section class="govuk-tabs__panel" id="active">
          <h2 class="govuk-heading-m">Active registrations</h2>
          <table class="govuk-table govuk-table-xl">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <!-- <th scope="col" class="govuk-table__header">Type</th> -->
                <th scope="col" class="govuk-table__header">Type</th>
                <!-- <th scope="col" class="govuk-table__header">Status</th> -->
                <th scope="col" class="govuk-table__header">Registered</th>
                <th scope="col" class="govuk-table__header">Next review</th>
                <th scope="col" class="govuk-table__header">Notes</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">

                <th scope="row" class="govuk-table__header">Suicide/Self Harm</th>
                <!-- <td class="govuk-table__cell"><span class="moj-badge moj-badge--red">high</span></td> -->
                <td class="govuk-table__cell">13 December 2020</td>
                <td class="govuk-table__cell">13 June 2021</td>
                <td class="govuk-table__cell">Previous suicide /self harm attempt. Needs further investigating.</td>
              </tr>
              <tr class="govuk-table__row">

                <th scope="row" class="govuk-table__header">Child concerns</th>
                <!-- <td class="govuk-table__cell"><span class="moj-badge">medium</span></td> -->
                <td class="govuk-table__cell">13 December 2020</td>
                <td class="govuk-table__cell">13 March 2021</td>
                <td class="govuk-table__cell">awaiting outcome of social services enquiry</td>
              </tr>
              <tr class="govuk-table__row">
                <!-- <td class="govuk-table__cell">RoSH</td> -->
                <th scope="row" class="govuk-table__header">Medium RoSH</th>
                <!-- <td class="govuk-table__cell"><span class="moj-badge">medium</span></td> -->
                <td class="govuk-table__cell">09 November 2021</td>
                <td class="govuk-table__cell">09 May 2021</td>
                <td class="govuk-table__cell">-</td>
              </tr>
              <tr class="govuk-table__row">
                <!-- <td class="govuk-table__cell">Public protection</td> -->
                <th scope="row" class="govuk-table__header">Domestic Abuse Perpetrator</th>
                <!-- <td class="govuk-table__cell"><span class="moj-badge moj-badge--red">high</span></td> -->
                <td class="govuk-table__cell">04 July 2011</td>
                <td class="govuk-table__cell">26 December 2019</td>
                <td class="govuk-table__cell">-</td>
              </tr>
              <tr class="govuk-table__row">
                <!-- <td class="govuk-table__cell">Alerts </td> -->
                <th scope="row" class="govuk-table__header">Mental health issues</th>
                <!-- <td class="govuk-table__cell"><span class="moj-badge">medium</span></td> -->
                <td class="govuk-table__cell">04 July 2011</td>
                <td class="govuk-table__cell">26 December 2019</td>
                <td class="govuk-table__cell">personality disorder</td>
              </tr>


            </tbody>
          </table>

        </section>
        <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="inactive">
          <h2 class="govuk-heading-m">Inactive registrations</h2>
          <table class="govuk-table govuk-table-xl">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Type</th>
                <!-- <th scope="col" class="govuk-table__header">Description</th> -->
                <!-- <th scope="col" class="govuk-table__header">Status</th> -->
                <th scope="col" class="govuk-table__header">Registered</th>
                <th scope="col" class="govuk-table__header">End date</th>
                <th scope="col" class="govuk-table__header">Notes</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <!-- <td class="govuk-table__cell">Public protection </td> -->
                <th scope="row" class="govuk-table__header">MAPPA Considered</th>
                <!-- <td class="govuk-table__cell"></td> -->
                <td class="govuk-table__cell"> 14 June 2012</td>
                <td class="govuk-table__cell"> 26 November 2019</td>
                <td class="govuk-table__cell">-</td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>
</div>


{% endblock %}
